n8n_workflow/SiteBoS-App-Hook/knowledge_Marketing/deploy_blog.json
{
  "name": "deploy_blog",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Access Denied or Data Not Found\",\n  \"code\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1952,
        2016
      ],
      "id": "6d0538b0-2114-488b-85ba-1a7f5b042412",
      "name": "500"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f811326-e6aa-4dc4-9e52-661a5749f844",
              "name": "user_request",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "fa7fe020-df36-4ac1-9481-ea6ee42c7555",
              "name": "owner_data",
              "value": "={{ $json.owner_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1264,
        3632
      ],
      "id": "62618240-b0ed-4ee3-9c9b-4d700179c3a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "owner_sessions",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.body.vat_number }}\"\n      },\n      \"messages.0.data.access_token\": {\n        \"$eq\": \"{{ $json.body.token }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"owner_data\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1744,
        3344
      ],
      "id": "96836ac6-9653-4620-94c0-b6be84adde4c",
      "name": "owner",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1744,
        3632
      ],
      "id": "434a7e68-dddd-442b-b6eb-60b1a9508b44",
      "name": "OwnerExist"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1424,
        3632
      ],
      "id": "61e76a7d-2e5f-4c99-b6d9-c1959d1b1cef",
      "name": "Merge22"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        3616
      ],
      "id": "13da526a-bdbb-428d-8abb-f06d40448b35",
      "name": "Merge25"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        3440
      ],
      "id": "600a2231-fbd1-4d04-b063-aeaf7bd8d989",
      "name": "Merge26"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "knowledge_fragments",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.user_request.fragment_id }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"service\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"fragment\": \"$service.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1424,
        3440
      ],
      "id": "31c86c35-edb4-48d0-8998-9f6f92cd0b01",
      "name": "fragmrnt",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.fragment }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1264,
        3440
      ],
      "id": "46e497c9-47d8-4691-aedd-54df090a07cb",
      "name": "fragment Exist"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1264,
        3280
      ],
      "id": "ec7e7a00-6d69-44c3-bcc9-ffb324d98d27",
      "name": "Merge27"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "honeypots",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.user_id }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": \"$HoneyPot.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1264,
        2944
      ],
      "id": "6ee523e5-d512-4670-907d-eb1cac0d2f93",
      "name": "HoneyPot",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.HoneyPot }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        2944
      ],
      "id": "7912bd96-a49f-4323-bbd4-5864406c6090",
      "name": "HoneyPot Exist"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6270f49-72a3-4ed7-9592-76ae143a63d9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "921222b5-28e6-41cb-b54e-6116cbbaee31",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "get_blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Get"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2f928875-813d-4600-9156-8cd180b29a38",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "save_blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Save"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d448a567-bc90-4cc5-b02d-758c2dafa3ba",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "publish_blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Publish"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a977589a-a45f-47d5-8c2d-528c4f756c0d",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "delete_blog",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Delete"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1072,
        1680
      ],
      "id": "37e905ad-d892-4209-a9fa-2ebccb3174ed",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b29810cd-07b5-40c0-abb5-27f60a395494",
              "leftValue": "={{ $json.Html }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        1488
      ],
      "id": "3856e3b9-9c6c-4373-99ed-e695fae1cc51",
      "name": "If1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -704,
        1328
      ],
      "id": "d15d5ba9-51fe-4ea7-87d6-b15e04dad1c0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "website_board",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}-{{ $json.body.blog_id }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"blog\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"Html\": \"$blog.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1072,
        1488
      ],
      "id": "67b8fe3b-192b-47d6-ba38-d2c11977c5df",
      "name": "blog_content_structure",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.blueprint }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1072,
        3104
      ],
      "id": "e55c2492-4374-4268-bfff-e4da66f0d612",
      "name": "HoneyPot Exist1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        3264
      ],
      "id": "68e73f74-8cc6-4730-9674-8183e1d7b615",
      "name": "Merge28"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "process_blueprints",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.user_request.fragment_id }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"data\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"blueprint\": \"$data.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1264,
        3104
      ],
      "id": "9b60fffe-297e-47bd-89a4-2d56066e1767",
      "name": "Blueprint",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da04c4f2-5349-4013-b1a2-b0d971334780",
              "leftValue": "={{ $json.webhookUrl }}",
              "rightValue": "https://prod.workflow.trinai.it/webhook/914bd78e-8a41-46d7-8935-7eb73cbbae66",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "5314045f-cdcc-42bd-9f62-46c5a68e4873",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1952,
        1776
      ],
      "id": "4f492b09-c43f-4a8f-9c70-3f0ae38d81e5",
      "name": "Autorize"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "914bd78e-8a41-46d7-8935-7eb73cbbae66",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2800,
        1776
      ],
      "id": "038be691-2b37-4be4-97d3-63af3c7d2f80",
      "name": "Webhook",
      "webhookId": "914bd78e-8a41-46d7-8935-7eb73cbbae66"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. CONFIGURAZIONE ---\nconst BOT_TOKEN = \"8378810625:AAHK3Zya8qFKD4OzFBbwSTOAGolDeY7jiJQ\";\nconst initData = $input.item.json.body._auth;\n\nif (!initData) return { isValid: false, error: \"Dato _auth mancante\" };\n\n// --- 2. LIBRERIA CRIPTOGRAFICA PURE JS (SHA-256 & HMAC) ---\nconst CryptoJS = (function() {\n    function sha256(m) {\n        var h = [0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a, 0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19];\n        var k = [0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5, 0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174, 0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da, 0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967, 0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85, 0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070, 0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3, 0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2];\n        var b = Array.from(typeof m === 'string' ? new TextEncoder().encode(m) : m);\n        var l = b.length * 8; b.push(0x80);\n        while ((b.length * 8) % 512 !== 448) b.push(0);\n        for (var i = 7; i >= 0; i--) b.push((l / Math.pow(2, i * 8)) & 0xff);\n        for (var i = 0; i < b.length; i += 64) {\n            var w = new Int32Array(64);\n            for (var j = 0; j < 16; j++) w[j] = (b[i + j * 4] << 24) | (b[i + j * 4 + 1] << 16) | (b[i + j * 4 + 2] << 8) | (b[i + j * 4 + 3]);\n            for (var j = 16; j < 64; j++) {\n                var s0 = ((w[j - 15] >>> 7) | (w[j - 15] << 25)) ^ ((w[j - 15] >>> 18) | (w[j - 15] << 14)) ^ (w[j - 15] >>> 3);\n                var s1 = ((w[j - 2] >>> 17) | (w[j - 2] << 15)) ^ ((w[j - 2] >>> 19) | (w[j - 2] << 13)) ^ (w[j - 2] >>> 10);\n                w[j] = (w[j - 16] + s0 + w[j - 7] + s1) | 0;\n            }\n            var [a, c, d, e, f, g, i_h, j_h] = h;\n            var v = [...h];\n            for (var j = 0; j < 64; j++) {\n                var S1 = ((v[4] >>> 6) | (v[4] << 26)) ^ ((v[4] >>> 11) | (v[4] << 21)) ^ ((v[4] >>> 25) | (v[4] << 7));\n                var ch = (v[4] & v[5]) ^ (~v[4] & v[6]);\n                var t1 = (v[7] + S1 + ch + k[j] + w[j]) | 0;\n                var S0 = ((v[0] >>> 2) | (v[0] << 30)) ^ ((v[0] >>> 13) | (v[0] << 19)) ^ ((v[0] >>> 22) | (v[0] << 10));\n                var maj = (v[0] & v[1]) ^ (v[0] & v[2]) ^ (v[1] & v[2]);\n                var t2 = (S0 + maj) | 0;\n                v.unshift((t1 + t2) | 0); v.splice(8); v[4] = (v[4] + t1) | 0;\n            }\n            for (var j = 0; j < 8; j++) h[j] = (h[j] + v[j]) | 0;\n        }\n        return h.reduce((acc, val) => acc.concat([(val >>> 24) & 0xff, (val >>> 16) & 0xff, (val >>> 8) & 0xff, val & 0xff]), []);\n    }\n\n    if (typeof TextEncoder === \"undefined\") {\n        window.TextEncoder = function() {};\n        TextEncoder.prototype.encode = function(s) {\n            return new Uint8Array(unescape(encodeURIComponent(s)).split(\"\").map(c => c.charCodeAt(0)));\n        };\n    }\n\n    return {\n        hmac: function(key, message) {\n            var k = typeof key === 'string' ? Array.from(new TextEncoder().encode(key)) : key;\n            var m = Array.from(new TextEncoder().encode(message));\n            var b = 64;\n            if (k.length > b) k = sha256(k);\n            while (k.length < b) k.push(0);\n            var ipad = k.map(x => x ^ 0x36);\n            var opad = k.map(x => x ^ 0x5c);\n            var inner = sha256(ipad.concat(m));\n            return sha256(opad.concat(inner));\n        }\n    };\n})();\n\n// --- 3. LOGICA PARSING ---\nconst data = {};\ninitData.split('&').forEach(pair => {\n    const [k, v] = pair.split('=');\n    data[k] = decodeURIComponent(v);\n});\n\nconst hashReceived = data.hash;\nconst checkString = Object.keys(data)\n    .filter(k => k !== 'hash')\n    .sort()\n    .map(k => k + '=' + data[k])\n    .join('\\n');\n\n// --- 4. CALCOLO HASH TELEGRAM ---\nconst secretKey = CryptoJS.hmac(\"WebAppData\", BOT_TOKEN);\nconst computedHashBytes = CryptoJS.hmac(secretKey, checkString);\nconst computedHash = computedHashBytes.map(b => b.toString(16).padStart(2, '0')).join('');\n\n// --- 5. CONTROLLO SCADENZA (MAX 1 ORA) ---\nconst now = Math.floor(Date.now() / 1000);\nconst authDate = parseInt(data.auth_date);\nconst isExpired = (now - authDate) > 3600; // Scade dopo 3600 secondi (1 ora)\n\n// --- 6. RISULTATO FINALE ---\nconst isHashValid = (computedHash === hashReceived);\n\nreturn {\n    isValid: isHashValid && !isExpired,\n    isExpired: isExpired,\n    isHashValid: isHashValid,\n    user: data.user ? JSON.parse(data.user) : null,\n    auth_date_human: new Date(authDate * 1000).toLocaleString('it-IT'),\n    debug: {\n        time_diff_seconds: now - authDate,\n        computed: computedHash,\n        received: hashReceived\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1744,
        1568
      ],
      "id": "da888bc9-88db-4e87-9925-00494cfd9b59",
      "name": "telegram_validator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c81033b-45d3-46ad-8449-cd854d0ee023",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1536,
        1568
      ],
      "id": "3f2364ab-b4e4-4f54-9fbc-dadf9355a830",
      "name": "isValid"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1520,
        1728
      ],
      "id": "61b4e658-f957-4c2e-bd88-c213e7a35770",
      "name": "Merge29"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a956421a-0dd8-4c3b-884d-4fe0e23bd4b7",
              "leftValue": "={{ $json.body._auth }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1744,
        1760
      ],
      "id": "bfe7e659-e1ab-4631-ab7a-9549bb1b4f98",
      "name": "MiniApp"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "owner_sessions",
        "query": "=[\n  {\n    \"$match\": {\n      \"messages.0.data.chat_id\": {\n        \"$eq\": {{ $json.user.id }}\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"owner_data\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1536,
        1392
      ],
      "id": "fff77317-36dd-497b-a0e7-d0282e87019d",
      "name": "owner1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1376,
        1392
      ],
      "id": "b3e0d6ee-2ed1-4571-811d-ed6a3bd7cd60",
      "name": "OwnerExist1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1328,
        1728
      ],
      "id": "aa1fab89-2552-4377-afa5-12601fa19a26",
      "name": "Merge23"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b20313d-ed46-46b6-a90b-02dcb64b1ff6",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "c8912358-fe04-43bc-be0c-9263c73880b2",
              "name": "image_url",
              "value": "=https://trinaibusinessoperatingsystem.github.io/SiteBoS-MiniApp/images/{{ $json.owner_data.vat_number }}/{{ $json.body.blog_id }}.jpg",
              "type": "string"
            },
            {
              "id": "b5529e6a-e0a8-4ba9-b3f7-4bae8b20d72d",
              "name": "blog_content_structure",
              "value": "={{ $json.Html.blog_content_structure }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -896,
        1328
      ],
      "id": "bb65a212-3ddf-4a35-bb35-8f1817bbb32a",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        1328
      ],
      "id": "667cbb2f-88c6-4bf3-abe8-8a12e238133d",
      "name": "Merge24"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cee487c-efb5-45b1-afdd-554f20c31978",
              "name": "Html_id",
              "value": "={{ $json.owner_data.vat_number }}-{{ $json.body.blog_id }}",
              "type": "string"
            },
            {
              "id": "1ebba292-655f-4897-8ca5-6e2028dbbf42",
              "name": "Html.blog_content_structure",
              "value": "={{ $json.body.updated_content }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -752,
        1728
      ],
      "id": "67d276f1-fa8b-4e4e-a9cc-86517e0d6e13",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.Html }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -560,
        1728
      ],
      "id": "1f90eabc-bdfb-4b8f-823a-44ef0a3efbb9",
      "name": "Site_Bord1",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Html_id }}",
        "collectionName": "website_board",
        "databaseName": "MemoryManager"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -560,
        1856
      ],
      "id": "eb2d4899-91a5-4be8-9539-dbb83fd5471c",
      "name": "MongoDB Chat Memory7",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -544,
        2064
      ],
      "id": "d4ec2c27-8618-4aae-af7c-d0b106be3f4b",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        1408
      ],
      "id": "48010c6f-e9f9-4f05-af16-da3fc86edaf2",
      "name": "Merge17"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -688,
        2240
      ],
      "id": "e2a093c0-8e91-4c8b-a0e8-240806b3a228",
      "name": "Merge18"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -480,
        2256
      ],
      "id": "3ba8f3ec-d7c7-4163-a354-9781fea5fbbe",
      "name": "Merge19"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53792364-3111-4375-abd3-c3c10c9b38d2",
              "leftValue": "={{ $json.body.new_image_base64 }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        1760
      ],
      "id": "e6771255-b3de-470d-befa-c12c08eac7a0",
      "name": "ImageCange"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.new_image_base64",
        "options": {
          "fileName": "={{ $json.body.blog_id }}.jpg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        1584
      ],
      "id": "83b08922-e9cc-4567-94e3-6d1fbf3d2ea6",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 1024,
        "height": 512,
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        0,
        1584
      ],
      "id": "bdf9d50d-a1d7-41b1-b161-c13e06abb78b",
      "name": "Edit gallery"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cee487c-efb5-45b1-afdd-554f20c31978",
              "name": "Html_id",
              "value": "={{ $json.owner_data.vat_number }}-{{ $json.body.blog_id }}",
              "type": "string"
            },
            {
              "id": "1ebba292-655f-4897-8ca5-6e2028dbbf42",
              "name": "=Html.blog_content_structure",
              "value": "={{ $json.body.updated_content }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        2032
      ],
      "id": "a4c70e73-9dc0-4e74-928e-550010d946c0",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.Html }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -1072,
        2384
      ],
      "id": "d9d3a265-e3f1-4a50-bdd4-028e8d774f6a",
      "name": "Site_Bord2",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Html_id }}",
        "collectionName": "website_board",
        "databaseName": "MemoryManager"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        -1072,
        2512
      ],
      "id": "0bc8bbd7-2de0-4b63-aab5-f1b15778d20e",
      "name": "MongoDB Chat Memory8",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        2208
      ],
      "id": "c8b7170d-d7d8-4b05-b99e-970fee8937a2",
      "name": "Merge20"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.owner_data.bot_key }}/getMe",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1072,
        2656
      ],
      "id": "c92cfc2f-f2b4-43ef-af6c-b2d8aaa5e98c",
      "name": "📤 Get Telegram OwnerBot1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee85a67-d9fb-45df-85fe-b481cb179b3b",
              "name": "owner_bot.first_name",
              "value": "={{ $json.result.first_name }}",
              "type": "string"
            },
            {
              "id": "e7d42caa-91b9-46f3-b1c1-50cbc83a25a8",
              "name": "owner_bot.username",
              "value": "={{ $json.result.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -912,
        2656
      ],
      "id": "8143ab0c-248c-4e9b-b4e4-02a33431b956",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        2224
      ],
      "id": "c4068d4a-151a-490e-aef6-0250d6ab100c",
      "name": "Merge21"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b20313d-ed46-46b6-a90b-02dcb64b1ff6",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        2256
      ],
      "id": "8acc3bb9-1b40-43a4-ac43-2f3c947f6b75",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "mode": "delete",
        "deleteMode": "all"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        176,
        2000
      ],
      "id": "e526623e-53df-406d-90eb-d8c93c212aaf",
      "name": "Site_Bord3",
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.Html_id }}",
        "collectionName": "website_board",
        "databaseName": "MemoryManager"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        176,
        2128
      ],
      "id": "f238bb20-8263-490e-a3ce-ef6a3ee29a4f",
      "name": "MongoDB Chat Memory9",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8cee487c-efb5-45b1-afdd-554f20c31978",
              "name": "Html_id",
              "value": "={{ $json.owner_data.vat_number }}-{{ $json.body.blog_id }}",
              "type": "string"
            },
            {
              "id": "1ebba292-655f-4897-8ca5-6e2028dbbf42",
              "name": "Html.blog_content_structure",
              "value": "={{ $json.body.updated_content }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        1792
      ],
      "id": "7a8b3627-3eef-4251-a166-bdbf42de463f",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        352,
        1808
      ],
      "id": "7fe3a4cb-b960-4328-95d8-a1b89768711c",
      "name": "Merge30"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "TrinAiBusinessOperatingSystem",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "SiteBoS-MiniApp",
          "mode": "list",
          "cachedResultName": "SiteBoS-MiniApp",
          "cachedResultUrl": "https://github.com/TrinAiBusinessOperatingSystem/SiteBoS-MiniApp"
        },
        "filePath": "=posts/{{ $json.owner_data.vat_number }}/{{ $json.body.blog_id }}.html",
        "commitMessage": "=Edit Page {{ $json.owner_data.vat_number }}-{{ $json.body.blog_id }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        304,
        1600
      ],
      "id": "0c89719a-0e6e-4a88-92ba-bd53d3e99662",
      "name": "Delete Html",
      "webhookId": "844031ee-8681-46f5-b2db-38fe3d97254b",
      "credentials": {
        "githubApi": {
          "id": "SNelAqGQ9X4nRbCU",
          "name": "GitHub Pages SiteBos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "delete",
        "owner": {
          "__rl": true,
          "value": "TrinAiBusinessOperatingSystem",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "SiteBoS-MiniApp",
          "mode": "list",
          "cachedResultName": "SiteBoS-MiniApp",
          "cachedResultUrl": "https://github.com/TrinAiBusinessOperatingSystem/SiteBoS-MiniApp"
        },
        "filePath": "=images/{{ $json.owner_data.vat_number }}/{{ $json.body.blog_id }}.jpg",
        "commitMessage": "=Delete image {{ $json.owner_data.vat_number }}-{{ $json.body.blog_id }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        560,
        1808
      ],
      "id": "4caaff56-b4c0-44ff-b9a2-581ceec05edf",
      "name": "Delete IMG",
      "webhookId": "844031ee-8681-46f5-b2db-38fe3d97254b",
      "credentials": {
        "githubApi": {
          "id": "SNelAqGQ9X4nRbCU",
          "name": "GitHub Pages SiteBos"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        560,
        1616
      ],
      "id": "10b6ac46-eee4-4465-872c-6e110d74c19f",
      "name": "Merge31"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b20313d-ed46-46b6-a90b-02dcb64b1ff6",
              "name": "status",
              "value": "success",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        1616
      ],
      "id": "8a608aea-1ad2-4b61-9bab-c7aa33742ac0",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "honeypots",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -2224,
        1296
      ],
      "id": "a2d7f83c-b563-403e-a2df-c01c4bbd0b00",
      "name": "HoneyPot1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d12c796a-4e17-4456-9a7d-022242576163",
              "leftValue": "={{ $json.HoneyPot }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        1296
      ],
      "id": "ae426a62-564e-4e74-aa08-e41184d11c94",
      "name": "HoneyPot Exist2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2064,
        1136
      ],
      "id": "d4b87674-30a0-4d68-ad0f-7541e1e4151e",
      "name": "Merge32"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d12c796a-4e17-4456-9a7d-022242576163",
              "leftValue": "={{ $json.service_catalog_setup }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2064,
        992
      ],
      "id": "51f4eec4-10fe-4b50-9d9d-1439c285da52",
      "name": "Service Catalog Exist"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "service_catalog",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}_setup_ik\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"service_catalog_setup\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -2224,
        992
      ],
      "id": "2f0b23e3-e6ab-4246-b3d6-7ba76597bdf2",
      "name": "Service Catalog",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2064,
        832
      ],
      "id": "91edd840-5142-4e65-a8bd-118135b64562",
      "name": "Merge33"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nfor (const item of items) {\n    const body = item.json.body || {};\n    \n    // Controlliamo se serve la conversione (cioè se NON esiste il callback_query di Telegram)\n    if (!body.callback_query) {\n        \n        // 1. Recuperiamo gli ID e il Message ID dal payload della MiniApp\n        const targetId = body.sop_id || body.blog_id || \"UNKNOWN\";\n        const messageId = body.msg ? parseInt(body.msg, 10) : 0;\n        \n        // 2. Iniettiamo la struttura ESATTA che Extract e i nodi successivi si aspettano\n        body.callback_query = {\n            data: \"sap_\" + targetId,       // Per far funzionare il tuo: callbackData.split('sap_')[1]\n            message: {\n                message_id: messageId      // Per far funzionare i nodi Telegram successivi (StartPipeMSG, ecc)\n            },\n            from: {\n                language_code: \"it\"        // Per i prompt Gemini che cercano la lingua dell'utente\n            }\n        };\n        \n        // Riapplichiamo il body aggiornato\n        item.json.body = body;\n    }\n}\n\n// Restituiamo il payload, ora perfettamente compatibile con Extract\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1600,
        816
      ],
      "id": "602b9a55-05ab-473a-807a-c5e30e7f7134",
      "name": "Conversion"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst SECRET_KEY = 'TrinAI-Autorize-Transaction-2=2&'; // La tua chiave segreta\n\n// 1. Recupero del token\nconst rawAsh =\n  item.ash ||\n  item.query?.ash ||\n  item.body?.ash ||\n  item.body?.web_app_data?.data ||\n  item.body?.message?.web_app_data?.data;\n\nif (!rawAsh || typeof rawAsh !== \"string\") {\n  throw new Error(\"ASH non trovato nell'input.\");\n}\n\n// 2. Separazione Payload e Firma\nconst [encodedPayload, signatureReceived] = rawAsh.split(\".\");\n\nif (!encodedPayload || !signatureReceived) {\n  throw new Error(\"Formato ASH non valido.\");\n}\n\n// 3. Decodifica e verifica integrità\nlet decodedPayload;\ntry {\n    decodedPayload = Buffer.from(encodedPayload, \"base64\").toString(\"utf8\");\n} catch (e) {\n    throw new Error(\"Errore decodifica Base64.\");\n}\n\n// --- LOGICA DI VERIFICA FIRMA ---\nfunction verifySignature(payload, secret, receivedSig) {\n    let hash = 0;\n    const combined = payload + secret;\n    for (let i = 0; i < combined.length; i++) {\n        hash = ((hash << 5) - hash) + combined.charCodeAt(i);\n        hash = hash & hash; \n    }\n    const expectedSig = Math.abs(hash).toString(16);\n    return expectedSig === receivedSig;\n}\n\nif (!verifySignature(decodedPayload, SECRET_KEY, signatureReceived)) {\n    // Se la firma non corrisponde, blocchiamo tutto qui!\n    throw new Error(\"SICUREZZA: Firma ASH non valida o manomessa. Accesso negato.\");\n}\n// --------------------------------\n\n// 4. Estrazione ID (Solo se la firma è valida)\nconst parts = decodedPayload.split(\"|\");\n\nreturn [{\n    json: {\n        ...item,\n        ids: {\n            owner_id: parts[0],\n            timestamp: parts[1],\n            webhook: parts[2]\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        832
      ],
      "id": "81970653-669f-47f3-9ef8-723e3dd03fbb",
      "name": "Ash Decoder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "5oxVy3V0tOmDihKE",
          "mode": "list",
          "cachedResultUrl": "/workflow/5oxVy3V0tOmDihKE",
          "cachedResultName": "deploy_blog_create"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1392,
        816
      ],
      "id": "378fd039-b1cb-42f1-b91a-1171f6e1b8dc",
      "name": "Call 'deploy_blog_create'"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard.trinai.it/api/n8n/json/minisite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_image\",\n  \"vat_number\": \"{{ $json.owner_data.vat_number }}\",\n  \"asset_type\": \"photo\",\n  \"file_name\": \"{{ $json.body.blog_id }}.jpg\",\n  \"file_data\": \"data:image/jpeg;base64,{{ $json.data }}\",\n  \"mime_type\": \"image/jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        1408
      ],
      "id": "02725980-533a-49cd-8ada-7e3f2409f533",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sVYE3K8BsDbAKshU",
          "name": "TrinAI Deploy"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -160,
        1408
      ],
      "id": "d3f06d70-1f1d-4517-a78e-11d8513aed73",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst htmlNode = root.Html || {};\nconst contentData = htmlNode.blog_content_structure || htmlNode.blog_content || {};\nconst ownerData = htmlNode.owner_data || root.owner_data || {};\n\n// 1. Estraiamo lo slug reale generato dall'AI con fallback sull'ID del blog\nconst slug = contentData.seo?.slug || root.body.blog_id.toLowerCase();\n\n// 2. Creiamo l'oggetto post_json pulito con il path dell'immagine su CDN TrinAI\nconst post_json = {\n    ...contentData,\n    image_url: `/minisite/${ownerData.vat_number.toUpperCase()}/images/${root.body.blog_id}.jpg`\n};\n\nreturn [{\n    json: {\n        ...root,\n        slug: slug, // Passiamo lo slug estratto al flusso successivo\n        assembled_post_json: post_json\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        2496
      ],
      "id": "1f42e38b-162b-4151-b42a-794466008110",
      "name": "Assembler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard.trinai.it/api/n8n/json/minisite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_json_post\",\n  \"vat_number\": \"{{ $json.owner_data.vat_number }}\",\n  \"post_path\": \"servizi\",\n  \"slug\": \"{{ $json.slug }}\",\n  \"file_name\": \"{{ $json.body.blog_id }}.html\",\n  \"post_json\": {{ JSON.stringify($json.assembled_post_json) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -464,
        2496
      ],
      "id": "dcc2d8e4-a5b7-4f54-9fa5-5b6d2784a6d6",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sVYE3K8BsDbAKshU",
          "name": "TrinAI Deploy"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "prod.workflow.trinai.it",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 Edg/147.0.0.0",
            "content-length": "740",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "it,it-IT;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "https://trinaibusinessoperatingsystem.github.io",
            "priority": "u=1, i",
            "referer": "https://trinaibusinessoperatingsystem.github.io/",
            "sec-ch-ua": "\"Not.A/Brand\";v=\"8\", \"Microsoft Edge WebView2\";v=\"147\", \"Chromium\";v=\"147\", \"Microsoft Edge\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "151.37.199.225",
            "x-forwarded-host": "prod.workflow.trinai.it",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "create",
            "sop_id": "SVC_PV04H9VD",
            "ash": "MjA0MTQwODg3NXwxNzc3MzY1MjU1MDM2fGVmNGFlY2U0LTllYzAtNDAyNi1hN2E3LTMyODU2MmJjYmRmNg==.7957bf21",
            "msg": "641",
            "_auth": "query_id=AAFrba15AAAAAGttrXmyfrco&user=%7B%22id%22%3A2041408875%2C%22first_name%22%3A%22Giuseppe%22%2C%22last_name%22%3A%22Garofalo%22%2C%22username%22%3A%22TrinAi_OperativeChief%22%2C%22language_code%22%3A%22it%22%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2FvPTjxONkQ6hvO3p2LwlkoZjewgAm1sVh8k7dFYDeczY.svg%22%7D&auth_date=1777365319&signature=X2m-es9hxgepyOWdvH2dnu4tBwgX_8cbnEbsXQCQxrcL3c1gPoPGkjEwJzS1ETGDW2UOGfIEqtjRpjNBgS1yAw&hash=6346b581919f5b74db4bbca4342782f785e27788b096e9a3769ec2da63ea2fc7"
          },
          "webhookUrl": "https://prod.workflow.trinai.it/webhook/914bd78e-8a41-46d7-8935-7eb73cbbae66",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge25",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge26",
            "type": "main",
            "index": 1
          },
          {
            "node": "fragmrnt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "owner": {
      "main": [
        [
          {
            "node": "OwnerExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OwnerExist": {
      "main": [
        [
          {
            "node": "Merge22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge22": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge25": {
      "main": [
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge26": {
      "main": [
        [
          {
            "node": "HoneyPot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge27",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "fragmrnt": {
      "main": [
        [
          {
            "node": "fragment Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fragment Exist": {
      "main": [
        [
          {
            "node": "Merge26",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge27": {
      "main": [
        [
          {
            "node": "Blueprint",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge28",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HoneyPot": {
      "main": [
        [
          {
            "node": "HoneyPot Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot Exist": {
      "main": [
        [
          {
            "node": "Merge27",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HoneyPot1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge32",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "blog_content_structure",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge24",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ImageCange",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge24",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "blog_content_structure": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot Exist1": {
      "main": [
        [
          {
            "node": "Merge28",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge28": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blueprint": {
      "main": [
        [
          {
            "node": "HoneyPot Exist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autorize": {
      "main": [
        [
          {
            "node": "MiniApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Autorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram_validator": {
      "main": [
        [
          {
            "node": "isValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isValid": {
      "main": [
        [
          {
            "node": "Merge29",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MiniApp": {
      "main": [
        [
          {
            "node": "telegram_validator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge29",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge29": {
      "main": [
        [
          {
            "node": "owner1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge23",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "owner1": {
      "main": [
        [
          {
            "node": "OwnerExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OwnerExist1": {
      "main": [
        [
          {
            "node": "Merge23",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge23": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge24": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory7": {
      "ai_memory": [
        [
          {
            "node": "Site_Bord1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Site_Bord1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site_Bord1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge17": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge18": {
      "main": [
        [
          {
            "node": "Merge19",
            "type": "main",
            "index": 0
          },
          {
            "node": "Assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImageCange": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge17",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge18",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Edit gallery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit gallery": {
      "main": [
        [
          {
            "node": "Merge17",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Site_Bord2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site_Bord2": {
      "main": [
        [
          {
            "node": "Merge20",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory8": {
      "ai_memory": [
        [
          {
            "node": "Site_Bord2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge20": {
      "main": [
        [
          {
            "node": "Merge21",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Get Telegram OwnerBot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Get Telegram OwnerBot1": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Merge21",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge21": {
      "main": [
        [
          {
            "node": "Merge18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge19": {
      "main": [
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory9": {
      "ai_memory": [
        [
          {
            "node": "Site_Bord3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields13": {
      "main": [
        [
          {
            "node": "Site_Bord3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Site_Bord3": {
      "main": [
        [
          {
            "node": "Merge30",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge30": {
      "main": [
        [
          {
            "node": "Delete Html",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete IMG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Html": {
      "main": [
        [
          {
            "node": "Merge31",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete IMG": {
      "main": [
        [
          {
            "node": "Merge31",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge31": {
      "main": [
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields12": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot1": {
      "main": [
        [
          {
            "node": "HoneyPot Exist2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot Exist2": {
      "main": [
        [
          {
            "node": "Merge32",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge32": {
      "main": [
        [
          {
            "node": "Service Catalog",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge33",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Service Catalog": {
      "main": [
        [
          {
            "node": "Service Catalog Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Service Catalog Exist": {
      "main": [
        [
          {
            "node": "Merge33",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge33": {
      "main": [
        [
          {
            "node": "Ash Decoder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion": {
      "main": [
        [
          {
            "node": "Call 'deploy_blog_create'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ash Decoder": {
      "main": [
        [
          {
            "node": "Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assembler": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge19",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3a29e39c-5eb0-4172-9a13-eeee58622b35",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce96c1da52854952d6033754b3d632468704a3c149b2a8a301c2b60c112ce7d0"
  },
  "id": "ZJSzbXBZyRyTpuHr",
  "tags": []
}