n8n_workflow/SiteBoS-App-Hook/knowledge_Marketing/edit_minisite.json
{
  "name": "edit_minisite",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Access Denied or Data Not Found\",\n  \"code\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1248,
        1008
      ],
      "id": "60ec3b14-06e4-4add-bd7a-8479077319ef",
      "name": "500"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "50891655-84c8-4213-90e8-26ebbc3d6c4c",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2368,
        1504
      ],
      "id": "0fd71886-fae8-49eb-841d-fb3fe0c8d2ab",
      "name": "Webhook",
      "webhookId": "50891655-84c8-4213-90e8-26ebbc3d6c4c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        80,
        48
      ],
      "id": "6a6e65f9-ab30-485b-990c-409a72306260",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        1504
      ],
      "id": "c4f01bb1-e0d7-4161-af82-f495b51a0424",
      "name": "OwnerExist"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        1600
      ],
      "id": "68b240c7-a749-4445-a00c-32e6fcdc1202",
      "name": "Merge22"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8378810625:AAHK3Zya8qFKD4OzFBbwSTOAGolDeY7jiJQ/{{ $json.telegramApiPayload.method }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.telegramApiPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -832,
        1264
      ],
      "id": "58624ed1-8be5-4aaf-89c2-6f295d94efbe",
      "name": "📤 Telegram Call1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -656,
        1152
      ],
      "id": "ea1cf6e0-1c4f-4e41-9338-2cb5aa268b7b",
      "name": "Merge24"
    },
    {
      "parameters": {
        "jsCode": "// NODO: System_Error_Collection_Retrieval\n// SCENARIO: Utente \"Fantasma\" (Startato ma dati DB persi/corrotti)\n// OUTPUT: Payload Telegram (Messaggio) + Payload Webhook (JSON Error)\n\n\nconst item = $input.first().json;\nconst body = item.user_request || {};\nconst msg = body.message || {};\nconst owner = item.owner_data || {};\n\n// 1. Recupero Dati Contesto\nconst chatId = owner.chat_id;\nconst userLang = body.lang || 'en';\n\n// 2. Definizione Errore\nconst errorCode = \"CRITICAL_DATA_LOSS\";\nconst errorMessage = \"Owner profile not found despite active session flag.\";\n\n// 3. Dizionario Multilingua (Messaggio per l'Utente)\nconst langMap = { 'it': 'it', 'en': 'en', 'fr': 'fr', 'de': 'de', 'es': 'es', 'pt': 'pt' };\nconst lang = langMap[userLang.slice(0,2)] || 'en';\n\nconst t = {\n  'it': {\n    title: \"⚠️ <b>Errore Critico Profilo</b>\",\n    text: \"Il sistema rileva che dovresti essere un utente attivo, ma non riesce a recuperare il tuo profilo aziendale.\",\n    reason: \"Possibile corruzione dei dati o cancellazione accidentale.\",\n    action: \"Per favore, contatta il supporto tecnico indicando il tuo ID:\",\n    btn: \"🆘 Supporto\"\n  },\n  'en': {\n    title: \"⚠️ <b>Critical Profile Error</b>\",\n    text: \"The system detects you should be an active user, but cannot retrieve your company profile.\",\n    reason: \"Possible data corruption or accidental deletion.\",\n    action: \"Please contact technical support providing your ID:\",\n    btn: \"🆘 Support\"\n  },\n  'fr': {\n    title: \"⚠️ <b>Erreur Critique de Profil</b>\",\n    text: \"Le système détecte que vous devriez être un utilisateur actif, mais ne parvient pas à récupérer votre profil d'entreprise.\",\n    reason: \"Corruption possible des données ou suppression accidentelle.\",\n    action: \"Veuillez contacter le support technique en indiquant votre ID :\",\n    btn: \"🆘 Support\"\n  },\n  'de': {\n    title: \"⚠️ <b>Kritischer Profilfehler</b>\",\n    text: \"Das System erkennt, dass Sie ein aktiver Benutzer sein sollten, kann aber Ihr Firmenprofil nicht abrufen.\",\n    reason: \"Mögliche Datenkorruption oder versehentliche Löschung.\",\n    action: \"Bitte kontaktieren Sie den technischen Support mit Ihrer ID:\",\n    btn: \"🆘 Support\"\n  },\n  'es': {\n    title: \"⚠️ <b>Error Crítico del Perfil</b>\",\n    text: \"El sistema detecta que deberías ser un usuario activo, pero no puede recuperar tu perfil de empresa.\",\n    reason: \"Posible corrupción de datos o eliminación accidental.\",\n    action: \"Por favor, contacta al soporte técnico indicando tu ID:\",\n    btn: \"🆘 Soporte\"\n  },\n  'pt': {\n    title: \"⚠️ <b>Erro Crítico de Perfil</b>\",\n    text: \"O sistema detecta que você deveria ser um usuário ativo, mas não consegue recuperar o perfil da sua empresa.\",\n    reason: \"Possível corrupção de dados ou exclusão acidental.\",\n    action: \"Por favor, contate o suporte técnico fornecendo seu ID:\",\n    btn: \"🆘 Suporte\"\n  }\n}[lang] || { // Fallback EN\n    title: \"⚠️ <b>Critical Profile Error</b>\",\n    text: \"The system detects you should be an active user, but cannot retrieve your company profile.\",\n    reason: \"Possible data corruption or accidental deletion.\",\n    action: \"Please contact technical support providing your ID:\",\n    btn: \"🆘 Support\"\n};\n\n// 4. Costruzione Messaggio Telegram\nconst messageText = \n`${t.title}\n\n${t.text}\n\n🛑 <b>Reason:</b> ${t.reason}\n\n👉 <b>${t.action}</b> de>${chatId}</code>`;\n\nconst telegramPayload = {\n    method: \"sendMessage\",\n    chat_id: chatId,\n    text: messageText,\n    parse_mode: \"HTML\",\n    reply_markup: {\n        inline_keyboard: [[{ text: t.btn, url: \"https://t.me/TrinAi_TecSupport_bot\" }]]\n    }\n};\n\n\n// 6. Return Unificato\nreturn {\n    json: {\n        // Payload per il nodo HTTP (Telegram)\n        telegramApiPayload: telegramPayload,\n        \n        // Flag per logica successiva n8n\n        error_type: \"GHOST_USER\",\n        is_fatal: true\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        1136
      ],
      "id": "4d5a89bf-c7e3-41ab-a7ca-52879c4e76eb",
      "name": "🆘 System Error Collection"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        1584
      ],
      "id": "7ad6240e-2aaa-40d4-ade3-5175a3d5758f",
      "name": "Merge25"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        1408
      ],
      "id": "d06b4ff1-6cab-4978-92ec-77c65112fe62",
      "name": "Merge26"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.service_catalog_setup }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        1408
      ],
      "id": "1fa9c973-4c86-4a82-879d-6c3feb0ac1ec",
      "name": "Catalog Exist"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "service_catalog",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}_setup_ik\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"service\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"service_catalog_setup\": \"$service.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -832,
        1408
      ],
      "id": "bc35424d-735f-44e0-99bd-4e00cf596ebe",
      "name": "service_catalog_setup",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        960
      ],
      "id": "da5ddefb-9815-4543-b249-fd05f207f3e4",
      "name": "Merge27"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "honeypots",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.user_id }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": \"$HoneyPot.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -368,
        1248
      ],
      "id": "631ecd75-859c-4683-b5db-48e4b3f45250",
      "name": "HoneyPot",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.HoneyPot }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        960
      ],
      "id": "ca38aeb1-1bb1-4ce1-8fc4-0efc0811d94b",
      "name": "HoneyPot Exist"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "GET_MINISITE_DATA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e21de658-a785-421e-8db6-e94095020288"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "GetData"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "75b63528-cbb0-451d-9dff-92dcdfd45b14",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "generate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Generate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a88f9409-287b-4c5e-841d-0485277d9066",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "PREVIEW_MINISITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Preview"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ba13a3d5-7cec-4fb4-bd10-a802aadf7655",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "REGENERATE_ASSET",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "RegIMG"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d392412f-48a3-4842-80fc-5ed289812eba",
                    "leftValue": "={{ $json.body.action }}",
                    "rightValue": "PUBLISH_MINISITE",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Publish"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -336,
        224
      ],
      "id": "af96a150-2602-4476-87e0-6f04b16585e4",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da04c4f2-5349-4013-b1a2-b0d971334780",
              "leftValue": "={{ $json.webhookUrl }}",
              "rightValue": "50891655-84c8-4213-90e8-26ebbc3d6c4c",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "3ec6852e-f10c-41a8-889a-fa73af5da69c",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1984,
        1504
      ],
      "id": "60405330-f314-4c8e-a900-244da9d7a878",
      "name": "Autorize"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "owner_sessions",
        "query": "=[\n  {\n    \"$match\": {\n      \"messages.0.data.access_token\": {\n        \"$eq\": \"{{ $json.body.token }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"owner_data\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1280,
        1504
      ],
      "id": "d8c3ac5c-bab4-4a90-9cc3-93070565ef66",
      "name": "owner",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// --- 1. CONFIGURAZIONE ---\nconst BOT_TOKEN = \"8378810625:AAHK3Zya8qFKD4OzFBbwSTOAGolDeY7jiJQ\";\nconst initData = $input.item.json.body._auth;\n\nif (!initData) return { isValid: false, error: \"Dato _auth mancante\" };\n\n// --- 2. LIBRERIA CRIPTOGRAFICA PURE JS (SHA-256 & HMAC) ---\nconst CryptoJS = (function() {\n    function sha256(m) {\n        var h = [0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a, 0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19];\n        var k = [0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5, 0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174, 0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da, 0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967, 0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85, 0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070, 0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3, 0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2];\n        var b = Array.from(typeof m === 'string' ? new TextEncoder().encode(m) : m);\n        var l = b.length * 8; b.push(0x80);\n        while ((b.length * 8) % 512 !== 448) b.push(0);\n        for (var i = 7; i >= 0; i--) b.push((l / Math.pow(2, i * 8)) & 0xff);\n        for (var i = 0; i < b.length; i += 64) {\n            var w = new Int32Array(64);\n            for (var j = 0; j < 16; j++) w[j] = (b[i + j * 4] << 24) | (b[i + j * 4 + 1] << 16) | (b[i + j * 4 + 2] << 8) | (b[i + j * 4 + 3]);\n            for (var j = 16; j < 64; j++) {\n                var s0 = ((w[j - 15] >>> 7) | (w[j - 15] << 25)) ^ ((w[j - 15] >>> 18) | (w[j - 15] << 14)) ^ (w[j - 15] >>> 3);\n                var s1 = ((w[j - 2] >>> 17) | (w[j - 2] << 15)) ^ ((w[j - 2] >>> 19) | (w[j - 2] << 13)) ^ (w[j - 2] >>> 10);\n                w[j] = (w[j - 16] + s0 + w[j - 7] + s1) | 0;\n            }\n            var [a, c, d, e, f, g, i_h, j_h] = h;\n            var v = [...h];\n            for (var j = 0; j < 64; j++) {\n                var S1 = ((v[4] >>> 6) | (v[4] << 26)) ^ ((v[4] >>> 11) | (v[4] << 21)) ^ ((v[4] >>> 25) | (v[4] << 7));\n                var ch = (v[4] & v[5]) ^ (~v[4] & v[6]);\n                var t1 = (v[7] + S1 + ch + k[j] + w[j]) | 0;\n                var S0 = ((v[0] >>> 2) | (v[0] << 30)) ^ ((v[0] >>> 13) | (v[0] << 19)) ^ ((v[0] >>> 22) | (v[0] << 10));\n                var maj = (v[0] & v[1]) ^ (v[0] & v[2]) ^ (v[1] & v[2]);\n                var t2 = (S0 + maj) | 0;\n                v.unshift((t1 + t2) | 0); v.splice(8); v[4] = (v[4] + t1) | 0;\n            }\n            for (var j = 0; j < 8; j++) h[j] = (h[j] + v[j]) | 0;\n        }\n        return h.reduce((acc, val) => acc.concat([(val >>> 24) & 0xff, (val >>> 16) & 0xff, (val >>> 8) & 0xff, val & 0xff]), []);\n    }\n\n    if (typeof TextEncoder === \"undefined\") {\n        window.TextEncoder = function() {};\n        TextEncoder.prototype.encode = function(s) {\n            return new Uint8Array(unescape(encodeURIComponent(s)).split(\"\").map(c => c.charCodeAt(0)));\n        };\n    }\n\n    return {\n        hmac: function(key, message) {\n            var k = typeof key === 'string' ? Array.from(new TextEncoder().encode(key)) : key;\n            var m = Array.from(new TextEncoder().encode(message));\n            var b = 64;\n            if (k.length > b) k = sha256(k);\n            while (k.length < b) k.push(0);\n            var ipad = k.map(x => x ^ 0x36);\n            var opad = k.map(x => x ^ 0x5c);\n            var inner = sha256(ipad.concat(m));\n            return sha256(opad.concat(inner));\n        }\n    };\n})();\n\n// --- 3. LOGICA PARSING ---\nconst data = {};\ninitData.split('&').forEach(pair => {\n    const [k, v] = pair.split('=');\n    data[k] = decodeURIComponent(v);\n});\n\nconst hashReceived = data.hash;\nconst checkString = Object.keys(data)\n    .filter(k => k !== 'hash')\n    .sort()\n    .map(k => k + '=' + data[k])\n    .join('\\n');\n\n// --- 4. CALCOLO HASH TELEGRAM ---\nconst secretKey = CryptoJS.hmac(\"WebAppData\", BOT_TOKEN);\nconst computedHashBytes = CryptoJS.hmac(secretKey, checkString);\nconst computedHash = computedHashBytes.map(b => b.toString(16).padStart(2, '0')).join('');\n\n// --- 5. CONTROLLO SCADENZA (MAX 1 ORA) ---\nconst now = Math.floor(Date.now() / 1000);\nconst authDate = parseInt(data.auth_date);\nconst isExpired = (now - authDate) > 3600; // Scade dopo 3600 secondi (1 ora)\n\n// --- 6. RISULTATO FINALE ---\nconst isHashValid = (computedHash === hashReceived);\n\nreturn {\n    isValid: isHashValid && !isExpired,\n    isExpired: isExpired,\n    isHashValid: isHashValid,\n    user: data.user ? JSON.parse(data.user) : null,\n    auth_date_human: new Date(authDate * 1000).toLocaleString('it-IT'),\n    debug: {\n        time_diff_seconds: now - authDate,\n        computed: computedHash,\n        received: hashReceived\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1760,
        1328
      ],
      "id": "46b89838-1635-42a4-be21-df48c6e090a4",
      "name": "telegram_validator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0c81033b-45d3-46ad-8449-cd854d0ee023",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1552,
        1328
      ],
      "id": "178a8513-d698-4aa7-9a01-14a2ad555527",
      "name": "isValid"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"code\": 403,\n  \"message\": \"⛔️ ACCESS DENIED: Unauthorized User or Invalid Endpoint.\",\n  \"details\": \"Your ID {{ $json.query.user_id || 'Unknown' }} is not in the allowlist.\"\n}",
        "options": {
          "responseCode": 403
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -1984,
        1664
      ],
      "id": "4ce19191-db28-47ec-b3ed-0e7104a541af",
      "name": "⛔️ 403 Forbidden"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "968794e5-4c14-490b-b97f-fafce1d86cb5",
              "leftValue": "={{ $json.body._auth }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1760,
        1488
      ],
      "id": "bdc79c27-9230-4581-b388-7800b324b123",
      "name": "Telegram?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1760,
        1168
      ],
      "id": "222642b5-f044-4f60-9934-510d71ab4085",
      "name": "Merge23"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1568,
        992
      ],
      "id": "34547c71-2c19-45e7-a967-96163766657b",
      "name": "OwnerExist1"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "owner_sessions",
        "query": "=[\n  {\n    \"$match\": {\n      \"messages.0.data.chat_id\": {\n        \"$eq\": {{ $json.user.id }}\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"owner_data\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1760,
        992
      ],
      "id": "75d51821-00da-4222-9777-5c421ea464ca",
      "name": "owner1",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "website_board",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}-minisite\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"MiniSiteJson\": \"$HoneyPot.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -656,
        800
      ],
      "id": "e76b4ba0-67e1-40e4-b585-ae3fde609d90",
      "name": "MiniSite2",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.MiniSiteJson }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        800
      ],
      "id": "0f86f5d0-5801-4c35-bcb0-598cc5767465",
      "name": "MiniSiteExist1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -880,
        288
      ],
      "id": "d72ab729-d234-4ea1-93e8-de35c19da7d7",
      "name": "Merge30"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dcc79807-b75d-4d18-aaca-cd7a36805198",
              "name": "MiniSiteJson",
              "value": "={{ $json.MiniSiteJson }}",
              "type": "object"
            },
            {
              "id": "a30a4f3f-1d75-41e8-b7aa-a3f5081c3fee",
              "name": "HoneyPot",
              "value": "={{ $json.HoneyPot }}",
              "type": "object"
            },
            {
              "id": "8d4bddd7-38bd-4744-8f2b-199e27aae92a",
              "name": "service_catalog_setup",
              "value": "={{ $json.service_catalog_setup }}",
              "type": "object"
            },
            {
              "id": "ea5f36c1-3086-4b56-8193-2781eca465cc",
              "name": "owner_data",
              "value": "={{ $json.owner_data }}",
              "type": "object"
            },
            {
              "id": "6fc62cc9-1ce5-4ebe-aa9d-7c50600206ff",
              "name": "owner_bot",
              "value": "={{ $json.owner_bot }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        48
      ],
      "id": "49e91c07-594a-4997-928b-5245f14ae2e0",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{ $json.owner_data.bot_key }}/getMe",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1312,
        272
      ],
      "id": "64e5793c-1b85-4e2b-a1f8-7463267fc630",
      "name": "📤 Get Telegram OwnerBot1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ee85a67-d9fb-45df-85fe-b481cb179b3b",
              "name": "owner_bot.first_name",
              "value": "={{ $json.result.first_name }}",
              "type": "string"
            },
            {
              "id": "e7d42caa-91b9-46f3-b1c1-50cbc83a25a8",
              "name": "owner_bot.username",
              "value": "={{ $json.result.username }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1168,
        272
      ],
      "id": "f52915bf-3471-45bd-90a5-3e3a0a43daa8",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -656,
        272
      ],
      "id": "8d4582a2-e07e-4e86-87b4-254570036936",
      "name": "Merge31"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// PARSER PROFESSIONALE SITESBOS + SOCIAL MAPPING\n// ============================================\n\nconst item = $input.first().json;\n\n// 1. ESTREZIONE DATI ORIGINALI\nconst msj = item.MiniSiteJson || {};\nconst hp = item.HoneyPot || {};\nconst od = item.owner_data || item.ownerdata || {};\nconst ob = item.owner_bot || item.ownerbot || {};\nconst catalogData = item.service_catalog_setup || {};\n\n// 2. LOGICA INIEZIONE SERVIZI ATTIVI (SOLO COMMERCIAL: SER & PRO)\nconst activeCommercialAssets = [];\nif (catalogData.categories && Array.isArray(catalogData.categories)) {\n    catalogData.categories.forEach(category => {\n        const isCommercialMacro = (category.macrocategories === \"SER\" || category.macrocategories === \"PRO\");\n        if (isCommercialMacro && category.subcategories && Array.isArray(category.subcategories)) {\n            category.subcategories.forEach(asset => {\n                if (asset.blueprint_ready === true) {\n                    activeCommercialAssets.push({\n                        macro: category.macrocategories,\n                        category: category.name,\n                        category_short: category.short_name,\n                        name: asset.name,\n                        short_name: asset.short_name,\n                        callback_data: asset.callback_data,\n                        original_slug: asset.original_slug || null\n                    });\n                }\n            });\n        }\n    });\n}\n\n// 3. COSTRUZIONE PAYLOAD ATOMICO PER L'EDITOR\nconst payload = {\n    success: true,\n    template: msj.style || \"dark-tech\", \n\n    HoneyPot: {\n        ...hp,\n        assets: hp.assets || {\n            logo: { url: \"\", meta: { colors: [\"#212D67\", \"#895FE0\", \"#FFFFFF\"] } },\n            photo: { url: \"\" },\n            gallery1: { url: \"\" },\n            gallery2: { url: \"\" },\n            gallery3: { url: \"\" }\n        },\n        company_context_string: hp.company_context_string || od.business_description || \"\",\n        offer_text: hp.offer_text || \"\",\n        active_services: activeCommercialAssets,\n        active_services_count: activeCommercialAssets.length,\n        knowledge_fragments: hp.knowledge_fragments || [],\n        availability_schedule: hp.availability_schedule || { hours: {} }\n    },\n\n    ownerdata: {\n        ragione_sociale: od.ragione_sociale || od.ragionesociale || \"\",\n        vat_number: od.vat_number || od.vatnumber || \"\",\n        email: od.email || \"\",\n        phone: od.phone || \"\",\n        site: od.site || od.website || \"\",\n        // --- MAPPATURA SOCIAL ---\n        linkedin: od.linkedin_page || od.linkedin || \"\",\n        facebook: od.facebook_page || od.facebook || \"\",\n        instagram: od.instagram_page || od.instagram || \"\",\n        twitter: od.twitter_page || od.twitter || \"\"\n    },\n\n    MiniSiteJson: {\n        ...msj,\n        seo: {\n            title: msj.seo?.title || \"\",\n            description: msj.seo?.description || \"\",\n            keywords: msj.seo?.keywords || [],\n            faq: msj.seo?.faq || []\n        },\n        hero: {\n            h1: msj.hero?.h1 || \"\",\n            sub: msj.hero?.sub || \"\"\n        },\n        design: {\n            font: msj.design?.font || \"Plus Jakarta Sans\",\n            radius: msj.design?.radius || \"24px\"\n        },\n        sections: {\n            about: {\n                headline: msj.sections?.about?.headline || \"\",\n                body: msj.sections?.about?.body || \"\"\n            },\n            usp: Array.isArray(msj.sections?.usp) ? msj.sections.usp : [],\n            process: Array.isArray(msj.sections?.process) ? msj.sections.process : []\n        },\n        service_descriptions: Array.isArray(msj.service_descriptions) ? msj.service_descriptions : []\n    },\n\n    ownerbot: {\n        username: ob.username || \"\",\n        first_name: ob.first_name || \"\"\n    }\n};\n\nreturn [{ json: payload }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -144,
        48
      ],
      "id": "cbd30c54-6d59-4f57-b8a1-a4817f3d4b45",
      "name": "Prepare Respond"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "266928af-1a93-40fc-8415-adbc397a8d76",
              "name": "genereteFromWh",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        240
      ],
      "id": "61b23be5-adc0-4ac1-b6ff-10dc9b7e1372",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "hmHqc3dPQaaGYX43",
          "mode": "list",
          "cachedResultUrl": "/workflow/hmHqc3dPQaaGYX43",
          "cachedResultName": "deploy_minisite"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        544,
        240
      ],
      "id": "48d4e04d-1411-49fe-8687-8790006d6f3e",
      "name": "Call 'deploy_minisite'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8c6cbbba-af47-4ffe-91f7-7853a0146e1e",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "generate",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -192,
        816
      ],
      "id": "3ea97ddb-b7de-4eba-8dfb-de276e0b0747",
      "name": "Create?"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        -320
      ],
      "id": "a585ebd7-4d29-488c-a77d-04cfa311a2ad",
      "name": "Merge8"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -736,
        -144
      ],
      "id": "1a44595a-a07b-477d-a538-8f446d1670b9",
      "name": "Merge9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ea50f84-af0a-498d-9b0e-1e6503edd140",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "81b0130b-a713-44d0-9f4c-35ba5aa85163",
              "name": "new_url",
              "value": "=https://trinaibusinessoperatingsystem.github.io/SiteBoS-MiniApp/{{ $json.content.path }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        -144
      ],
      "id": "a3bc376a-1150-4026-a3b1-b128b5f537c4",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "operation": "resize",
        "width": 512,
        "height": 512,
        "options": {
          "fileName": "={{ $json.body.asset_type }}"
        }
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        -1104,
        -160
      ],
      "id": "09bbf5ba-e861-4cc3-bc48-3ed755787dd0",
      "name": "Edit gallery3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1264,
        -160
      ],
      "id": "a11bbfdd-7ce9-4ff9-9c68-c7860bbe86a1",
      "name": "Merge"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -176,
        -320
      ],
      "id": "b6eb4b77-2264-41d6-a68e-8758bfa6c193",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\n\n// ======================================================\n// 1. DATI INPUT\n// ======================================================\nconst hp = root.HoneyPot || {};\nconst od = root.owner_data || {};\nconst ai = root.MiniSiteJson || {};\nconst bot = root.owner_bot || {};\n\nconst assets = hp.assets || {};\nconst seo = ai.seo || {};\nconst hero = ai.hero || {};\nconst design = ai.design || {};\nconst sections = ai.sections || {};\nconst knowledgeFragments = Array.isArray(hp.knowledge_fragments) ? hp.knowledge_fragments : [];\nconst activeServices = Array.isArray(hp.active_services) ? hp.active_services : [];\nconst serviceDescriptions = Array.isArray(ai.service_descriptions) ? ai.service_descriptions : [];\n\n// ======================================================\n// 2. HELPERS\n// ======================================================\nconst normalizeUrl = (value) => {\n  let v = String(value || '').trim();\n  if (!v) return '';\n  if (v.startsWith('https://') || v.startsWith('http://')) return v;\n  if (v.startsWith('https')) return 'https://' + v.slice(5);\n  if (v.startsWith('http')) return 'http://' + v.slice(4);\n  return 'https://' + v;\n};\n\nconst esc = (txt) => {\n  return String(txt || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n};\n\nconst clean = (txt) => {\n  return String(txt || '')\n    .replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>')\n    .replace(/<br\\s*\\/?>/gi, '<br>')\n    .replace(/\\\\n/g, '<br>');\n};\n\nconst stripHtml = (txt) => {\n  return String(txt || '')\n    .replace(/<br\\s*\\/?>/gi, ' ')\n    .replace(/<\\/?(b|strong|i|em|u)>/gi, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n};\n\nconst uniqueBy = (arr, keyFn) => {\n  const seen = new Set();\n  return arr.filter((item) => {\n    const key = keyFn(item);\n    if (!key || seen.has(key)) return false;\n    seen.add(key);\n    return true;\n  });\n};\n\nconst getEmoji = (txt) => {\n  const source = String(txt || '');\n  const match = source.match(/\\p{Emoji_Presentation}|\\p{Extended_Pictographic}/u);\n  return match ? match[0] : '•';\n};\n\nconst formatHours = (d) => {\n  if (!d) return 'Chiuso';\n  const morning = d.morning?.from && d.morning?.to ? `${d.morning.from} - ${d.morning.to}` : '';\n  const afternoon = d.afternoon?.from && d.afternoon?.to ? `${d.afternoon.from} - ${d.afternoon.to}` : '';\n  const result = [morning, afternoon].filter(Boolean).join(' · ');\n  return result || 'Chiuso';\n};\n\nconst extractOfferTitle = (html) => {\n  const text = stripHtml(String(html || '')).replace(/⚙️|👉|✨|🔸/g, '').trim();\n  if (!text) return 'Offerta';\n  const firstSentence = text.split('?')[0]?.trim();\n  if (firstSentence && firstSentence.length <= 90) return firstSentence;\n  return 'Offerta';\n};\n\n// ======================================================\n// 3. DATI NORMALIZZATI\n// ======================================================\nconst companyName = od.ragione_sociale || bot.first_name || 'Azienda';\nconst founderName = [od.name || '', od.surname || ''].join(' ').trim();\nconst telegramLink = bot.username ? `https://t.me/${bot.username}` : '';\n\nconst siteUrl = normalizeUrl(od.site || '');\nconst linkedinUrl = normalizeUrl(od.linkedin_page || '');\nconst facebookUrl = normalizeUrl(od.facebook_page || '');\nconst instagramUrl = normalizeUrl(od.instagram_page || '');\nconst twitterUrl = normalizeUrl(od.twitter_page || '');\n\nconst email = od.email || '';\nconst phone = od.phone || '';\nconst address = od.indirizzo || '';\nconst vat = od.vat_number || '';\n\nconst images = {\n  logo: normalizeUrl(assets.logo?.url || ''),\n  hero: normalizeUrl(assets.gallery1?.url || ''),\n  about: normalizeUrl(assets.gallery2?.url || ''),\n  process: normalizeUrl(assets.gallery3?.url || ''),\n  founder: normalizeUrl(assets.photo?.url || ''),\n};\n\nconst theme = {\n  primary: assets.logo?.meta?.colors?.[0] || '#212D67',\n  accent: assets.logo?.meta?.colors?.[1] || '#895FE0',\n  white: assets.logo?.meta?.colors?.[2] || '#FFFFFF'\n};\n\nconst keywords = Array.isArray(seo.keywords) ? seo.keywords : [];\nconst keywordsList = keywords.join(', ');\n\nconst heroTitle = hero.h1 || companyName;\nconst heroSub = hero.sub || hp.company_context_string || od.business_description || '';\n\nconst aboutKicker = sections.about?.kicker || 'Profilo';\nconst aboutHeadline = sections.about?.headline || companyName;\nconst aboutBody = sections.about?.body || hp.company_context_string || od.business_description || '';\n\nconst usp = Array.isArray(sections.usp) ? sections.usp : [];\nconst processSteps = Array.isArray(sections.process) ? sections.process : [];\nconst faqFromSeo = Array.isArray(seo.faq) ? seo.faq : [];\n\nconst serviceMap = {};\nserviceDescriptions.forEach((item) => {\n  if (item?.name) serviceMap[item.name] = item.refined_desc || '';\n});\n\nconst services = activeServices.map((svc) => ({\n  name: svc.name || '',\n  shortName: svc.short_name || '',\n  category: svc.category || '',\n  categoryShort: svc.category_short || '',\n  callbackData: svc.callback_data || '',\n  desc:\n    serviceMap[svc.name] ||\n    svc.category_short ||\n    svc.category ||\n    ''\n}));\n\n// ======================================================\n// 4. Q/A DINAMICHE DA knowledge_fragments\n// ======================================================\nconst knowledgeQA = [];\nknowledgeFragments.forEach((fragment) => {\n  if (Array.isArray(fragment.sections)) {\n    fragment.sections.forEach((item) => {\n      if (item?.question && item?.answer) {\n        knowledgeQA.push({\n          q: item.question,\n          a: item.answer\n        });\n      }\n    });\n  }\n});\n\nconst mergedFAQ = uniqueBy(\n  [...faqFromSeo, ...knowledgeQA].map((item) => ({\n    q: String(item?.q || item?.question || '').trim(),\n    a: String(item?.a || item?.answer || '').trim()\n  })),\n  (item) => `${item.q}__${item.a}`\n).filter((item) => item.q && item.a);\n\n// ======================================================\n// 5. LABEL DINAMICHE / FALLBACK NEUTRI\n// ======================================================\nconst labels = {\n  heroKicker: bot.first_name || 'Business AI',\n  uspKicker: sections.usp_kicker || 'Valore',\n  uspTitle: sections.usp_headline || sections.usp_title || 'Punti di forza',\n  uspIntro: sections.usp_intro || '',\n\n  aboutKicker,\n  aboutTitle: aboutHeadline,\n\n  servicesKicker: sections.services_kicker || 'Servizi',\n  servicesTitle: sections.services_headline || sections.services_title || 'Servizi attivi',\n  servicesIntro: sections.services_intro || '',\n\n  processKicker: sections.process_kicker || 'Metodo',\n  processTitle: sections.process_headline || sections.process_title || 'Processo operativo',\n  processIntro: sections.process_intro || '',\n\n  faqKicker: sections.faq_kicker || 'FAQ',\n  faqTitle: sections.faq_headline || sections.faq_title || 'Domande e risposte',\n  faqIntro: sections.faq_intro || '',\n\n  offerKicker: sections.offer_kicker || 'Offerta',\n  offerTitle: sections.offer_headline || sections.offer_title || extractOfferTitle(hp.offer_text),\n  offerIntro: sections.offer_intro || ''\n};\n\n// ======================================================\n// 6. HTML BLOCKS\n// ======================================================\nconst uspHTML = usp.length\n  ? usp.map((u) => `\n    <article class=\"card\">\n      <h3>${clean(u.title || '')}</h3>\n      <p>${clean(u.text || '')}</p>\n    </article>\n  `).join('')\n  : `\n    <article class=\"card\">\n      <h3>${esc(companyName)}</h3>\n      <p>${clean(hp.company_context_string || od.business_description || '')}</p>\n    </article>\n  `;\n\nconst servicesHTML = services.length\n  ? services.map((svc, i) => {\n      const icon = getEmoji(`${svc.shortName} ${svc.categoryShort}`);\n      return `\n        <div class=\"acc-item\">\n          <button type=\"button\" onclick=\"toggleSvc(${i})\" class=\"acc-trigger\" aria-expanded=\"false\" aria-controls=\"svc-${i}\">\n            <span><small>${esc(icon)}</small> ${esc(svc.name)}</span>\n            <i id=\"arr-${i}\">↓</i>\n          </button>\n          <div id=\"svc-${i}\" class=\"acc-panel\">\n            <p>${clean(svc.desc)}</p>\n          </div>\n        </div>\n      `;\n    }).join('')\n  : `\n    <div class=\"acc-item\">\n      <button type=\"button\" class=\"acc-trigger static-trigger\">\n        <span><small>•</small> Nessun servizio disponibile</span>\n        <i>—</i>\n      </button>\n    </div>\n  `;\n\nconst processHTML = processSteps.length\n  ? processSteps.map((p, i) => `\n    <div class=\"step\">\n      <b class=\"step-num\">${String(i + 1).padStart(2, '0')}</b>\n      <div class=\"step-content\">\n        <h4>${clean(p.title || '')}</h4>\n        <p>${clean(p.text || '')}</p>\n      </div>\n    </div>\n  `).join('')\n  : `\n    <div class=\"step\">\n      <b class=\"step-num\">01</b>\n      <div class=\"step-content\">\n        <h4>Analisi</h4>\n        <p>${clean(hp.company_context_string || od.business_description || '')}</p>\n      </div>\n    </div>\n  `;\n\nconst faqHTML = mergedFAQ.length\n  ? mergedFAQ.map((f, i) => `\n    <details class=\"faq-item\" ${i === 0 ? 'open' : ''}>\n      <summary>${esc(f.q)}</summary>\n      <div class=\"faq-answer\">${clean(f.a)}</div>\n    </details>\n  `).join('')\n  : `\n    <details class=\"faq-item\" open>\n      <summary>Informazioni</summary>\n      <div class=\"faq-answer\">${clean(hp.company_context_string || od.business_description || '')}</div>\n    </details>\n  `;\n\nconst daysMap = {\n  monday: 'Lunedì',\n  tuesday: 'Martedì',\n  wednesday: 'Mercoledì',\n  thursday: 'Giovedì',\n  friday: 'Venerdì',\n  saturday: 'Sabato',\n  sunday: 'Domenica'\n};\n\nconst hours = hp.availability_schedule?.hours || {};\nconst hoursHTML = Object.keys(daysMap).map((key) => `\n  <div class=\"sched-row\">\n    <span>${daysMap[key]}</span>\n    <span>${formatHours(hours[key])}</span>\n  </div>\n`).join('');\n\nconst socialLinks = [\n  siteUrl ? `<a href=\"${esc(siteUrl)}\" target=\"_blank\" rel=\"noopener noreferrer\">Sito</a>` : '',\n  linkedinUrl ? `<a href=\"${esc(linkedinUrl)}\" target=\"_blank\" rel=\"noopener noreferrer\">LinkedIn</a>` : '',\n  facebookUrl ? `<a href=\"${esc(facebookUrl)}\" target=\"_blank\" rel=\"noopener noreferrer\">Facebook</a>` : '',\n  instagramUrl ? `<a href=\"${esc(instagramUrl)}\" target=\"_blank\" rel=\"noopener noreferrer\">Instagram</a>` : '',\n  twitterUrl ? `<a href=\"${esc(twitterUrl)}\" target=\"_blank\" rel=\"noopener noreferrer\">X</a>` : ''\n].filter(Boolean).join('');\n\nconst telegramCTA = telegramLink\n  ? `<a href=\"${esc(telegramLink)}\" class=\"nav-cta\" target=\"_blank\" rel=\"noopener noreferrer\">Apri Telegram</a>`\n  : '';\n\nconst roundBotCTA = telegramLink\n  ? `<a href=\"${esc(telegramLink)}\" class=\"btn-bot-round\" target=\"_blank\" rel=\"noopener noreferrer\" aria-label=\"Apri Telegram\">🤖</a>`\n  : '';\n\nconst cleanOffer = clean(String(hp.offer_text || ''));\n\n// ======================================================\n// 7. JSON-LD\n// ======================================================\nconst schemaData = {\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"ProfessionalService\",\n  \"name\": companyName,\n  \"description\": seo.description || stripHtml(heroSub),\n  \"url\": siteUrl || '',\n  \"image\": images.logo || images.hero || '',\n  \"email\": email || '',\n  \"telephone\": phone || '',\n  \"address\": address ? {\n    \"@type\": \"PostalAddress\",\n    \"streetAddress\": address\n  } : undefined,\n  \"founder\": founderName ? {\n    \"@type\": \"Person\",\n    \"name\": founderName\n  } : undefined,\n  \"knowsAbout\": keywords\n};\n\n// ======================================================\n// 8. HTML FINALE\n// ======================================================\nconst html = `<!DOCTYPE html>\n<html lang=\"it\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>${esc(seo.title || companyName)}</title>\n  <meta name=\"description\" content=\"${esc(seo.description || stripHtml(heroSub))}\">\n  <meta name=\"keywords\" content=\"${esc(keywordsList)}\">\n  <meta name=\"robots\" content=\"index,follow\">\n  <meta property=\"og:type\" content=\"website\">\n  <meta property=\"og:title\" content=\"${esc(seo.title || companyName)}\">\n  <meta property=\"og:description\" content=\"${esc(seo.description || stripHtml(heroSub))}\">\n  <meta property=\"og:image\" content=\"${esc(images.hero || images.logo)}\">\n  <meta property=\"og:url\" content=\"${esc(siteUrl)}\">\n  <meta name=\"twitter:card\" content=\"summary_large_image\">\n  <meta name=\"twitter:title\" content=\"${esc(seo.title || companyName)}\">\n  <meta name=\"twitter:description\" content=\"${esc(seo.description || stripHtml(heroSub))}\">\n  <meta name=\"twitter:image\" content=\"${esc(images.hero || images.logo)}\">\n  <link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n  <link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n  <link href=\"https://fonts.googleapis.com/css2?family=${encodeURIComponent((design.font || 'Plus Jakarta Sans')).replace(/%20/g, '+')}:wght@400;500;600;700;800&display=swap\" rel=\"stylesheet\">\n  <script type=\"application/ld+json\">${JSON.stringify(schemaData)}</script>\n\n  <style>\n    :root {\n      --p: ${theme.primary};\n      --a: ${theme.accent};\n      --w: ${theme.white};\n      --t: #334155;\n      --m: #64748b;\n      --bg: #ffffff;\n      --bg-soft: #f8fafc;\n      --bd: #e2e8f0;\n      --r: ${design.radius || '24px'};\n      --shadow: 0 20px 40px rgba(15, 23, 42, 0.06);\n      --shadow-lg: 0 30px 70px rgba(15, 23, 42, 0.14);\n    }\n\n    * { margin: 0; padding: 0; box-sizing: border-box; -webkit-font-smoothing: antialiased; }\n    html { scroll-behavior: smooth; }\n    body {\n      font-family: '${esc(design.font || 'Plus Jakarta Sans')}', sans-serif;\n      color: var(--t);\n      line-height: 1.6;\n      background: #fff;\n      font-size: 1rem;\n    }\n\n    img { display: block; max-width: 100%; height: auto; }\n    a { color: inherit; text-decoration: none; }\n\n    .container {\n      width: min(1100px, calc(100% - 32px));\n      margin: 0 auto;\n    }\n\n    .skip-link {\n      position: absolute;\n      left: -9999px;\n      top: 0;\n      background: var(--p);\n      color: #fff;\n      padding: 10px 14px;\n      z-index: 9999;\n    }\n    .skip-link:focus { left: 0; }\n\n    header {\n      position: sticky;\n      top: 0;\n      width: 100%;\n      background: rgba(255,255,255,0.94);\n      backdrop-filter: blur(10px);\n      z-index: 1000;\n      border-bottom: 1px solid #f1f5f9;\n    }\n\n    .header-row {\n      min-height: 74px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      gap: 16px;\n      padding: 12px 0;\n    }\n\n    .brand {\n      display: flex;\n      align-items: center;\n      gap: 12px;\n      min-width: 0;\n      font-weight: 800;\n      color: var(--p);\n      font-size: 1rem;\n    }\n\n    .brand img {\n      width: 38px;\n      height: 38px;\n      border-radius: 12px;\n      object-fit: cover;\n      flex: 0 0 auto;\n    }\n\n    .brand-text {\n      min-width: 0;\n    }\n\n    .brand-text small {\n      display: block;\n      color: var(--m);\n      font-size: 0.75rem;\n      font-weight: 600;\n      white-space: nowrap;\n      overflow: hidden;\n      text-overflow: ellipsis;\n      max-width: 320px;\n    }\n\n    .nav-actions {\n      display: flex;\n      align-items: center;\n      gap: 10px;\n      flex-wrap: wrap;\n      justify-content: flex-end;\n    }\n\n    .nav-anchor {\n      font-size: 0.9rem;\n      font-weight: 700;\n      color: var(--p);\n      padding: 10px 12px;\n      border-radius: 999px;\n    }\n\n    .nav-cta {\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      background: var(--a);\n      color: #fff;\n      padding: 11px 18px;\n      border-radius: 999px;\n      font-weight: 800;\n      font-size: 0.9rem;\n      white-space: nowrap;\n    }\n\n    .hero {\n      min-height: 82vh;\n      display: flex;\n      align-items: center;\n      background:\n        linear-gradient(rgba(15,23,42,0.62), rgba(15,23,42,0.78)),\n        ${images.hero ? `url('${esc(images.hero)}') center/cover no-repeat` : `linear-gradient(135deg, ${theme.primary}, ${theme.accent})`};\n      color: #fff;\n      padding: 88px 0 72px;\n    }\n\n    .hero-inner {\n      text-align: center;\n      max-width: 920px;\n      margin: 0 auto;\n    }\n\n    .kicker {\n      color: var(--a);\n      font-weight: 800;\n      text-transform: uppercase;\n      letter-spacing: 2px;\n      font-size: 0.75rem;\n      display: inline-block;\n      margin-bottom: 16px;\n    }\n\n    .hero .kicker {\n      color: rgba(255,255,255,0.82);\n    }\n\n    h1, h2, h3, h4 {\n      color: var(--p);\n      font-weight: 800;\n      line-height: 1.15;\n    }\n\n    h1 {\n      font-size: clamp(2.1rem, 5vw, 4rem);\n      letter-spacing: -0.04em;\n      color: #fff !important;\n      text-shadow: 0 2px 14px rgba(0,0,0,0.28);\n      margin-bottom: 18px;\n    }\n\n    .hero p {\n      font-size: clamp(1rem, 2vw, 1.2rem);\n      opacity: 0.96;\n      max-width: 760px;\n      margin: 0 auto;\n      line-height: 1.55;\n      font-weight: 400;\n    }\n\n    .hero-cta-wrap {\n      margin-top: 28px;\n      display: flex;\n      justify-content: center;\n    }\n\n    .hero-points {\n      margin-top: 34px;\n      display: grid;\n      grid-template-columns: repeat(3, minmax(0, 1fr));\n      gap: 14px;\n    }\n\n    .hero-point {\n      background: rgba(255,255,255,0.10);\n      border: 1px solid rgba(255,255,255,0.18);\n      border-radius: 20px;\n      padding: 18px;\n      backdrop-filter: blur(8px);\n      text-align: left;\n    }\n\n    .hero-point strong {\n      display: block;\n      color: #fff;\n      margin-bottom: 6px;\n      font-size: 0.98rem;\n    }\n\n    .hero-point span {\n      display: block;\n      color: rgba(255,255,255,0.86);\n      font-size: 0.9rem;\n      line-height: 1.45;\n    }\n\n    section {\n      padding: 88px 0;\n    }\n\n    .bg-grey {\n      background: var(--bg-soft);\n    }\n\n    .section-head {\n      text-align: center;\n      max-width: 860px;\n      margin: 0 auto 52px;\n    }\n\n    .section-head h2 {\n      font-size: clamp(1.8rem, 3vw, 2.6rem);\n      letter-spacing: -0.03em;\n      margin-bottom: 14px;\n    }\n\n    .section-head p {\n      color: var(--m);\n      font-size: 1rem;\n    }\n\n    .grid {\n      display: grid;\n      gap: 24px;\n      grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));\n    }\n\n    .card {\n      background: #fff;\n      padding: 28px;\n      border-radius: var(--r);\n      border: 1px solid var(--bd);\n      transition: 0.3s;\n      box-shadow: var(--shadow);\n    }\n\n    .card:hover {\n      border-color: rgba(137,95,224,0.28);\n      transform: translateY(-4px);\n    }\n\n    .card h3 {\n      margin-bottom: 10px;\n      font-size: 1.08rem;\n    }\n\n    .card p {\n      color: var(--m);\n      font-size: 0.97rem;\n    }\n\n    .about-grid,\n    .process-grid {\n      display: grid;\n      grid-template-columns: 1.08fr 0.92fr;\n      gap: 52px;\n      align-items: center;\n    }\n\n    .media-card {\n      width: 100%;\n      border-radius: var(--r);\n      overflow: hidden;\n      box-shadow: var(--shadow-lg);\n      background: #e2e8f0;\n    }\n\n    .media-card img {\n      width: 100%;\n      height: 100%;\n      object-fit: cover;\n    }\n\n    .about-copy {\n      font-size: 1rem;\n      color: var(--t);\n    }\n\n    .about-copy p,\n    .about-copy div {\n      color: var(--t);\n    }\n\n    .founder-chip {\n      margin-top: 24px;\n      display: inline-flex;\n      align-items: center;\n      gap: 14px;\n      padding: 14px 18px 14px 14px;\n      background: #fff;\n      border-radius: 999px;\n      border: 1px solid var(--bd);\n      box-shadow: var(--shadow);\n      max-width: 100%;\n    }\n\n    .founder-chip img {\n      width: 58px;\n      height: 58px;\n      border-radius: 50%;\n      object-fit: cover;\n      flex: 0 0 auto;\n    }\n\n    .founder-chip p {\n      margin: 0;\n      line-height: 1.3;\n    }\n\n    .founder-chip .name {\n      font-weight: 800;\n      color: var(--p);\n      font-size: 0.95rem;\n    }\n\n    .founder-chip .role {\n      font-size: 0.78rem;\n      color: var(--a);\n      font-weight: 800;\n      text-transform: uppercase;\n      letter-spacing: 0.08em;\n    }\n\n    .acc-wrap {\n      border: 1px solid var(--bd);\n      border-radius: var(--r);\n      overflow: hidden;\n      background: #fff;\n      box-shadow: var(--shadow);\n    }\n\n    .acc-item + .acc-item {\n      border-top: 1px solid #f1f5f9;\n    }\n\n    .acc-trigger {\n      width: 100%;\n      padding: 20px 22px;\n      display: flex;\n      justify-content: space-between;\n      align-items: center;\n      gap: 16px;\n      background: #fff;\n      border: none;\n      cursor: pointer;\n      font: inherit;\n      text-align: left;\n      outline: none;\n    }\n\n    .acc-trigger span {\n      font-weight: 800;\n      color: var(--p);\n      display: flex;\n      align-items: center;\n      gap: 12px;\n      font-size: 1rem;\n    }\n\n    .acc-trigger small {\n      width: 28px;\n      height: 28px;\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      background: #f8fafc;\n      border-radius: 999px;\n      font-size: 0.9rem;\n      flex: 0 0 auto;\n    }\n\n    .acc-trigger i {\n      color: var(--m);\n      font-style: normal;\n      transition: transform 0.25s ease;\n      flex: 0 0 auto;\n    }\n\n    .static-trigger {\n      cursor: default;\n    }\n\n    .acc-panel {\n      max-height: 0;\n      overflow: hidden;\n      transition: max-height 0.28s ease;\n      background: #fafafa;\n    }\n\n    .acc-panel p {\n      padding: 0 22px 22px 62px;\n      font-size: 0.96rem;\n      color: var(--m);\n      margin: 0;\n    }\n\n    .step {\n      display: flex;\n      gap: 18px;\n      margin-bottom: 26px;\n      padding: 18px 20px;\n      background: #fff;\n      border-radius: var(--r);\n      border: 1px solid var(--bd);\n      box-shadow: var(--shadow);\n    }\n\n    .step:last-child {\n      margin-bottom: 0;\n    }\n\n    .step-num {\n      color: var(--p);\n      font-size: 2rem;\n      opacity: 0.16;\n      font-weight: 800;\n      line-height: 1;\n      min-width: 48px;\n      flex: 0 0 48px;\n    }\n\n    .step-content h4 {\n      margin-bottom: 8px;\n      font-size: 1.05rem;\n    }\n\n    .step-content p {\n      color: var(--m);\n      font-size: 0.96rem;\n    }\n\n    .faq-list {\n      max-width: 900px;\n      margin: 0 auto;\n      display: grid;\n      gap: 16px;\n    }\n\n    .faq-item {\n      background: #fff;\n      border: 1px solid var(--bd);\n      border-radius: var(--r);\n      padding: 18px 20px;\n      box-shadow: var(--shadow);\n    }\n\n    .faq-item summary {\n      list-style: none;\n      cursor: pointer;\n      font-weight: 800;\n      color: var(--p);\n      font-size: 1rem;\n    }\n\n    .faq-item summary::-webkit-details-marker {\n      display: none;\n    }\n\n    .faq-answer {\n      margin-top: 14px;\n      color: var(--m);\n      font-size: 0.96rem;\n    }\n\n    .offer-shell {\n      background: linear-gradient(135deg, var(--p) 0%, var(--a) 100%);\n      color: #fff;\n      padding: 48px 28px;\n      border-radius: 32px;\n      text-align: center;\n      position: relative;\n      overflow: hidden;\n      box-shadow: 0 30px 70px rgba(0,0,0,0.15);\n    }\n\n    .offer-shell h2 {\n      color: #fff;\n      font-size: clamp(2rem, 4vw, 3rem);\n      margin-bottom: 22px;\n      letter-spacing: -0.04em;\n    }\n\n    .offer-shell .kicker {\n      color: rgba(255,255,255,0.75);\n      margin-bottom: 10px;\n    }\n\n    .offer-copy {\n      max-width: 860px;\n      margin: 0 auto 28px;\n      font-size: 1.05rem;\n      opacity: 0.96;\n      line-height: 1.7;\n    }\n\n    .offer-copy a {\n      color: #fff;\n      text-decoration: underline;\n      font-weight: 800;\n    }\n\n    .offer-copy b, .offer-copy strong {\n      font-weight: 800;\n    }\n\n    .btn-bot-round {\n      width: 82px;\n      height: 82px;\n      background: #fff;\n      color: var(--p);\n      border-radius: 50%;\n      display: inline-flex;\n      align-items: center;\n      justify-content: center;\n      font-size: 38px;\n      margin: 0 auto;\n      box-shadow: 0 14px 28px rgba(0,0,0,0.16);\n      transition: transform 0.25s ease;\n    }\n\n    .btn-bot-round:hover {\n      transform: scale(1.06);\n    }\n\n    footer {\n      background: var(--p);\n      color: #94a3b8;\n      padding: 68px 0 34px;\n    }\n\n    .footer-flex {\n      display: flex;\n      justify-content: space-between;\n      align-items: flex-start;\n      gap: 40px;\n    }\n\n    .footer-col {\n      flex: 1;\n      min-width: 0;\n    }\n\n    .footer-col h4 {\n      color: #fff;\n      font-size: 1.12rem;\n      margin-bottom: 10px;\n    }\n\n    .footer-contacts p,\n    .footer-contacts a {\n      font-size: 0.94rem;\n      line-height: 1.7;\n      color: #cbd5e1;\n    }\n\n    .footer-contacts a {\n      text-decoration: underline;\n    }\n\n    .social-links {\n      margin-top: 12px;\n      display: flex;\n      gap: 12px;\n      flex-wrap: wrap;\n    }\n\n    .social-links a {\n      color: #fff;\n      font-weight: 700;\n      font-size: 0.9rem;\n    }\n\n    .footer-sched {\n      min-width: 290px;\n      font-size: 0.9rem;\n      border-left: 1px solid rgba(255,255,255,0.1);\n      padding-left: 34px;\n    }\n\n    .sched-row {\n      display: flex;\n      justify-content: space-between;\n      gap: 16px;\n      margin-bottom: 8px;\n      color: #cbd5e1;\n    }\n\n    .copyright {\n      text-align: center;\n      margin-top: 42px;\n      font-size: 0.76rem;\n      opacity: 0.45;\n    }\n\n    @media (max-width: 980px) {\n      .hero-points,\n      .about-grid,\n      .process-grid,\n      .footer-flex {\n        grid-template-columns: 1fr;\n      }\n\n      .footer-flex {\n        display: grid;\n      }\n\n      .footer-sched {\n        border-left: none;\n        padding-left: 0;\n        min-width: 0;\n      }\n    }\n\n    @media (max-width: 720px) {\n      .header-row {\n        flex-direction: column;\n        align-items: stretch;\n      }\n\n      .nav-actions {\n        width: 100%;\n        justify-content: stretch;\n      }\n\n      .nav-anchor,\n      .nav-cta {\n        width: 100%;\n        justify-content: center;\n        text-align: center;\n      }\n\n      .brand-text small {\n        max-width: 100%;\n        white-space: normal;\n      }\n\n      .hero {\n        min-height: auto;\n        padding: 96px 0 56px;\n      }\n\n      .hero-inner {\n        text-align: left;\n      }\n\n      .hero p {\n        margin-left: 0;\n      }\n\n      .hero-cta-wrap {\n        justify-content: flex-start;\n      }\n\n      .hero-points {\n        grid-template-columns: 1fr;\n      }\n\n      section {\n        padding: 68px 0;\n      }\n\n      .container {\n        width: min(calc(100% - 24px), 1100px);\n      }\n\n      .section-head {\n        text-align: left;\n        margin-bottom: 34px;\n      }\n\n      .card,\n      .faq-item,\n      .step,\n      .offer-shell,\n      .acc-wrap,\n      .media-card {\n        border-radius: 22px;\n      }\n\n      .acc-trigger {\n        padding: 18px 16px;\n      }\n\n      .acc-panel p {\n        padding: 0 16px 18px 16px;\n      }\n\n      .step {\n        gap: 14px;\n        padding: 16px;\n      }\n\n      .step-num {\n        min-width: 40px;\n        flex-basis: 40px;\n        font-size: 1.6rem;\n      }\n\n      .founder-chip {\n        width: 100%;\n        border-radius: 24px;\n        align-items: center;\n      }\n\n      .sched-row {\n        flex-direction: column;\n        gap: 2px;\n      }\n    }\n  </style>\n</head>\n<body>\n  <a href=\"#contenuto\" class=\"skip-link\">Salta al contenuto</a>\n\n  <header>\n    <div class=\"container header-row\">\n      <a class=\"brand\" href=\"#contenuto\" aria-label=\"${esc(companyName)} home\">\n        ${images.logo ? `<img src=\"${esc(images.logo)}\" alt=\"Logo ${esc(companyName)}\" width=\"76\" height=\"76\" loading=\"eager\">` : ''}\n        <div class=\"brand-text\">\n          <div>${esc(companyName)}</div>\n          <small>${esc(seo.title || od.business_description || '')}</small>\n        </div>\n      </a>\n\n      <nav class=\"nav-actions\" aria-label=\"Navigazione principale\">\n        <a class=\"nav-anchor\" href=\"#servizi\">Servizi</a>\n        <a class=\"nav-anchor\" href=\"#processo\">Metodo</a>\n        <a class=\"nav-anchor\" href=\"#faq\">Q/A</a>\n        ${telegramCTA}\n      </nav>\n    </div>\n  </header>\n\n  <main id=\"contenuto\">\n    <section class=\"hero\">\n      <div class=\"container hero-inner\">\n        <span class=\"kicker\">${esc(labels.heroKicker)}</span>\n        <h1>${clean(heroTitle)}</h1>\n        <p>${clean(heroSub)}</p>\n\n        ${telegramCTA ? `<div class=\"hero-cta-wrap\">${telegramCTA}</div>` : ''}\n\n        <div class=\"hero-points\">\n          <div class=\"hero-point\">\n            <strong>${esc(activeServices[0]?.category_short || 'Automazione')}</strong>\n            <span>${esc(activeServices[0]?.name || 'Workflow strutturati per attività operative ripetitive.')}</span>\n          </div>\n          <div class=\"hero-point\">\n            <strong>${esc(keywords[0] || 'Intelligenza')}</strong>\n            <span>${esc(keywords[1] || 'Integrazione di logiche AI su processi e dati aziendali.')}</span>\n          </div>\n          <div class=\"hero-point\">\n            <strong>${esc(hp.availability_schedule?.type || 'Operatività')}</strong>\n            <span>${esc(hp.availability_schedule?.notes || 'Consulenze su appuntamento e implementazione guidata.')}</span>\n          </div>\n        </div>\n      </div>\n    </section>\n\n    <section>\n      <div class=\"container\">\n        <div class=\"section-head\">\n          <span class=\"kicker\">${esc(labels.uspKicker)}</span>\n          <h2>${esc(labels.uspTitle)}</h2>\n          ${labels.uspIntro ? `<p>${clean(labels.uspIntro)}</p>` : ''}\n        </div>\n        <div class=\"grid\">${uspHTML}</div>\n      </div>\n    </section>\n\n    <section class=\"bg-grey\">\n      <div class=\"container about-grid\">\n        <div>\n          <span class=\"kicker\">${esc(labels.aboutKicker)}</span>\n          <h2 style=\"margin-bottom:22px;\">${clean(labels.aboutTitle)}</h2>\n          <div class=\"about-copy\">${clean(aboutBody)}</div>\n\n          ${founderName ? `\n            <div class=\"founder-chip\">\n              ${images.founder ? `<img src=\"${esc(images.founder)}\" alt=\"Ritratto di ${esc(founderName)}\" width=\"180\" height=\"180\" loading=\"lazy\">` : ''}\n              <div>\n                <p class=\"name\">${esc(founderName)}</p>\n                <p class=\"role\">Founder</p>\n              </div>\n            </div>\n          ` : ''}\n        </div>\n\n        ${images.about ? `\n          <div class=\"media-card\">\n            <img src=\"${esc(images.about)}\" alt=\"Visual ${esc(companyName)}\" width=\"1200\" height=\"1200\" loading=\"lazy\">\n          </div>\n        ` : '<div></div>'}\n      </div>\n    </section>\n\n    <section id=\"servizi\">\n      <div class=\"container\">\n        <div class=\"section-head\">\n          <span class=\"kicker\">${esc(labels.servicesKicker)}</span>\n          <h2>${esc(labels.servicesTitle)}</h2>\n          ${labels.servicesIntro ? `<p>${clean(labels.servicesIntro)}</p>` : ''}\n        </div>\n\n        <div class=\"acc-wrap\" style=\"max-width:920px; margin:0 auto;\">\n          ${servicesHTML}\n        </div>\n      </div>\n    </section>\n\n    <section id=\"processo\" class=\"bg-grey\">\n      <div class=\"container process-grid\">\n        ${images.process ? `\n          <div class=\"media-card\">\n            <img src=\"${esc(images.process)}\" alt=\"Processo operativo ${esc(companyName)}\" width=\"1200\" height=\"1200\" loading=\"lazy\">\n          </div>\n        ` : '<div></div>'}\n\n        <div>\n          <span class=\"kicker\">${esc(labels.processKicker)}</span>\n          <h2 style=\"margin-bottom:14px;\">${esc(labels.processTitle)}</h2>\n          ${labels.processIntro ? `<p style=\"color:var(--m); margin-bottom:26px;\">${clean(labels.processIntro)}</p>` : ''}\n          <div>${processHTML}</div>\n        </div>\n      </div>\n    </section>\n\n    <section id=\"faq\">\n      <div class=\"container\">\n        <div class=\"section-head\">\n          <span class=\"kicker\">${esc(labels.faqKicker)}</span>\n          <h2>${esc(labels.faqTitle)}</h2>\n          ${labels.faqIntro ? `<p>${clean(labels.faqIntro)}</p>` : ''}\n        </div>\n\n        <div class=\"faq-list\">${faqHTML}</div>\n      </div>\n    </section>\n\n    <section>\n      <div class=\"container\">\n        <div class=\"offer-shell\">\n          <span class=\"kicker\">${esc(labels.offerKicker)}</span>\n          <h2>${esc(labels.offerTitle)}</h2>\n          ${labels.offerIntro ? `<p style=\"max-width:760px; margin:0 auto 18px; color:rgba(255,255,255,0.82);\">${clean(labels.offerIntro)}</p>` : ''}\n          <div class=\"offer-copy\">${cleanOffer}</div>\n          ${roundBotCTA}\n        </div>\n      </div>\n    </section>\n  </main>\n\n  <footer>\n    <div class=\"container footer-flex\">\n      <div class=\"footer-col\">\n        <h4>${esc(companyName)}</h4>\n        <div class=\"footer-contacts\">\n          ${vat ? `<p>P.IVA: ${esc(vat)}</p>` : ''}\n          ${founderName ? `<p>${esc(founderName)}</p>` : ''}\n          ${email ? `<p>📧 <a href=\"mailto:${esc(email)}\">${esc(email)}</a></p>` : ''}\n          ${phone ? `<p>📞 <a href=\"tel:${esc(phone)}\">${esc(phone)}</a></p>` : ''}\n          ${address ? `<p>📍 ${esc(address)}</p>` : ''}\n          ${siteUrl ? `<p>🌐 <a href=\"${esc(siteUrl)}\" target=\"_blank\" rel=\"noopener noreferrer\">${esc(siteUrl)}</a></p>` : ''}\n        </div>\n        ${socialLinks ? `<div class=\"social-links\">${socialLinks}</div>` : ''}\n      </div>\n\n      <div class=\"footer-sched\">\n        <h4>Orari operativi</h4>\n        <div style=\"margin-top:14px;\">${hoursHTML}</div>\n      </div>\n    </div>\n\n    <div class=\"container\">\n      <p class=\"copyright\">© ${new Date().getFullYear()} ${esc(companyName)} | SiteBoS Architecture</p>\n    </div>\n  </footer>\n\n  <script>\n    function toggleSvc(i) {\n      const p = document.getElementById('svc-' + i);\n      const a = document.getElementById('arr-' + i);\n      const trigger = a ? a.closest('.acc-trigger') : null;\n      if (!p) return;\n\n      const isOpen = p.style.maxHeight && p.style.maxHeight !== '0px';\n\n      document.querySelectorAll('.acc-panel').forEach(el => {\n        el.style.maxHeight = '0px';\n      });\n\n      document.querySelectorAll('.acc-trigger').forEach(el => {\n        el.setAttribute('aria-expanded', 'false');\n      });\n\n      document.querySelectorAll('.acc-trigger i').forEach(el => {\n        el.style.transform = 'rotate(0deg)';\n      });\n\n      if (!isOpen) {\n        p.style.maxHeight = p.scrollHeight + 'px';\n        if (a) a.style.transform = 'rotate(180deg)';\n        if (trigger) trigger.setAttribute('aria-expanded', 'true');\n      }\n    }\n  </script>\n</body>\n</html>`;\n\nreturn [{\n  json: {\n    success: true,\n    html,\n    seoIncluded: true,\n    title: seo.title || companyName,\n    description: seo.description || stripHtml(heroSub),\n    companyName,\n    contactsSource: 'owner_data',\n    hoursSource: 'HoneyPot.availability_schedule.hours',\n    offerMode: 'raw_html',\n    servicesSource: 'HoneyPot.active_services',\n    serviceDescriptionsSource: 'MiniSiteJson.service_descriptions',\n    faqSource: 'MiniSiteJson.seo.faq + HoneyPot.knowledge_fragments.sections',\n    botSource: 'owner_bot'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        -496
      ],
      "id": "a75d9cfe-b2ca-4328-a443-3f8e39bdf4be",
      "name": "Classic"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        32,
        -704
      ],
      "id": "29ec3168-41b8-4b43-b754-6568f438f202",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6b42a990-f3ec-4bc5-ac85-0c825fc9a680",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "PREVIEW_MINISITE",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -160,
        -512
      ],
      "id": "1f4067dc-4761-46ed-9d79-46908a6d2a2b",
      "name": "Preview"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -336,
        -512
      ],
      "id": "76f5a959-9eac-490a-a0d6-2bc53c0f7683",
      "name": "Merge10"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b37df745-d956-4188-8d01-3addc26292e4",
              "name": "html",
              "value": "={{ $json.html }}",
              "type": "string"
            },
            {
              "id": "102cbd2d-9b87-4498-9884-3b7abbc17ac7",
              "name": "={{ $json.success }}",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        -704
      ],
      "id": "fef0a163-db8c-4e30-80c0-5e2f8da5844e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "0JycCgUdifzfoaJK",
          "mode": "list",
          "cachedResultUrl": "/workflow/0JycCgUdifzfoaJK",
          "cachedResultName": "GeminiCallCertificator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -192,
        640
      ],
      "id": "bddad0e6-42e0-4021-a3ce-5eb2ea844a4f",
      "name": "Call 'GeminiCallPrompt'1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fdc5860a-c1d5-4717-ae68-724b991f2d84",
              "name": "owner_bot",
              "value": "={{ $json.owner_bot }}",
              "type": "object"
            },
            {
              "id": "dcbdbc4d-a920-4d8c-90e4-72b7ca4ee7f1",
              "name": "HoneyPot",
              "value": "={{ $json.HoneyPot }}",
              "type": "object"
            },
            {
              "id": "fbfda6d7-5ee1-4079-8bfa-2190b2306604",
              "name": "owner_data",
              "value": "={{ $json.owner_data }}",
              "type": "object"
            },
            {
              "id": "eddc96fe-0cb1-4528-a290-9c1ece4ed33f",
              "name": "MiniSiteJson",
              "value": "={{ $json.MiniSiteJson }}",
              "type": "object"
            },
            {
              "id": "c4a8f1fb-89e4-4e22-89c9-64efd6bfb393",
              "name": "MiniSiteJson.path",
              "value": "=posts/{{ $json.owner_data.vat_number }}/index.html",
              "type": "string"
            },
            {
              "id": "55b39c68-cd0f-4dae-b21b-5b6ff2c3b1ce",
              "name": "MiniSiteJson.style",
              "value": "={{ $json.body.template }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        624
      ],
      "id": "dfb14293-3bb4-4fae-b198-b9d17ecb177b",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.owner_data.vat_number }}-minisite",
        "collectionName": "website_board",
        "databaseName": "MemoryManager"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        256,
        512
      ],
      "id": "12a2b67b-599d-495f-b749-9f44e6be30d2",
      "name": "MongoDB Chat Memory3",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.MiniSiteJson }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        256,
        400
      ],
      "id": "060074b2-26e1-4433-b8d3-533b648e92c9",
      "name": "MiniSite"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        608
      ],
      "id": "73a8b690-4662-49b1-8e19-4a2db10e3f74",
      "name": "Merge18"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a91ec12-7575-4fb9-8ee6-28205b0f129c",
              "leftValue": "={{ $json.MiniSiteJson }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        640
      ],
      "id": "2de3532c-6a8c-4cee-bdcf-3d7924551cef",
      "name": "ErrorApi1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"error\": {\n    \"code\": \"AI_GLITCH_501\",\n    \"title\": \"AI Generation Failed\",\n    \"message\": \"Il modello AI non ha risposto correttamente. Richiesto nuovo tentativo.\"\n  }\n}",
        "options": {
          "responseCode": 501
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        48,
        896
      ],
      "id": "cc71ea15-a4cf-4f56-9ccd-b1bfccd7368f",
      "name": "LLMFail1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61b2b4d2-ae77-49a4-a694-61355cd94667",
              "name": "body.template",
              "value": "={{ $json.body.template }}",
              "type": "string"
            },
            {
              "id": "7b6ab59b-307d-4865-a585-d8bf11adf20a",
              "name": "body.action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "d6fdcbc1-d430-428e-960c-8835c1118628",
              "name": "HoneyPot",
              "value": "={{ $json.body.HoneyPot }}",
              "type": "object"
            },
            {
              "id": "a1668c17-286b-4ac4-a8d9-4410ca478d5f",
              "name": "owner_data",
              "value": "={{ $json.body.ownerdata }}",
              "type": "object"
            },
            {
              "id": "b6d7012a-9ef0-4413-a996-178693b716c6",
              "name": "MiniSiteJson",
              "value": "={{ $json.body.MiniSiteJson }}",
              "type": "object"
            },
            {
              "id": "d55cd3de-724a-4ceb-ac83-4c41c7633d68",
              "name": "owner_bot",
              "value": "={{ $json.body.ownerbot }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        272
      ],
      "id": "8c08d110-eb6c-4359-946c-129a2604a1ba",
      "name": "Rename"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "61b2b4d2-ae77-49a4-a694-61355cd94667",
              "name": "body.template",
              "value": "={{ $json.body.template }}",
              "type": "string"
            },
            {
              "id": "7b6ab59b-307d-4865-a585-d8bf11adf20a",
              "name": "body.action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "d6fdcbc1-d430-428e-960c-8835c1118628",
              "name": "HoneyPot",
              "value": "={{ $json.body.HoneyPot }}",
              "type": "object"
            },
            {
              "id": "b6d7012a-9ef0-4413-a996-178693b716c6",
              "name": "MiniSiteJson",
              "value": "={{ $json.body.MiniSiteJson }}",
              "type": "object"
            },
            {
              "id": "d55cd3de-724a-4ceb-ac83-4c41c7633d68",
              "name": "owner_bot",
              "value": "={{ $json.body.ownerbot }}",
              "type": "object"
            },
            {
              "id": "1c15ac38-254a-444f-8349-f819c6aebf10",
              "name": "owner_data",
              "value": "={{ $json.owner_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        640
      ],
      "id": "213bdaa3-c5ec-4d3b-928e-a407691749f8",
      "name": "Rename1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "49b895bc-113d-474b-88b7-a08bc711df24",
              "name": "={{ $json.success }}",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "906e2eb6-e368-4f5e-bf78-dd2c4e1f4e0f",
              "name": "new_url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -496
      ],
      "id": "d9b862a1-f3cb-4f78-89ab-0811013b4aab",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-3.1-flash-image-preview:streamGenerateContent?key=AIzaSyAbDReRpDWAg93RXoOxuOmNtCGzIfZmF4Q",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"contents\": [{\"role\":\"user\",\"parts\":[{\"text\":\"{{ $json.Prompt }}\"}]}],\n  \"generationConfig\": {\n    \"responseModalities\": [\"IMAGE\"],\n    \"imageConfig\": {\n      \"aspectRatio\": \"1:1\",\n      \"imageSize\": \"1K\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1600,
        160
      ],
      "name": "ImageGemini2",
      "id": "044420ba-017e-42f2-bd87-17448be0d198",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "264382e2-5b1e-4ed7-b290-bb76e5168b3d",
              "name": "Prompt",
              "value": "={{ $json.body.asset_description }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        160
      ],
      "id": "f750c6c1-cdff-493e-9977-368e50075a37",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "candidates[0].content.parts[0].inlineData.data",
        "options": {
          "mimeType": "={{ $json.candidates[0].content.parts[0].inlineData.mimeType }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -1600,
        -16
      ],
      "id": "25195985-a273-41f4-b56e-50cef6613cd0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cc9a8217-f587-466f-a6cd-7f4d28ccb987",
              "leftValue": "={{ $json.candidates[0].content.parts[0].inlineData }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        0
      ],
      "id": "9aea5e4a-b9ad-476d-85c7-e1b0fda1d481",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"error\": {\n    \"code\": \"AI_GLITCH_501\",\n    \"title\": \"AI Generation Failed\",\n    \"message\": \"Il modello AI non ha risposto correttamente. Richiesto nuovo tentativo.\"\n  }\n}",
        "options": {
          "responseCode": 501
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2080,
        0
      ],
      "id": "41a07b55-f681-4efe-b6db-ed34da1a9500",
      "name": "LLMFail2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d719b99e-2292-4194-827e-14c5411741dd",
              "name": "SystemInstruction",
              "value": "=<SystemInstruction>\n<Role>Headless_CMS_Architect_SEO_Copywriter</Role>\n<Objective>\nGenerare e aggiornare un oggetto JSON strutturato per un MiniSite aziendale. Devi fondere i dati grezzi aziendali (HoneyPot) con le preferenze correnti dell'utente (MiniSiteJson), agendo come un motore di \"Merge & Enrich\".\n</Objective>\n\n<MANDATORY_OVERRIDE_RULES>\nREGOLA ASSOLUTA DI PRESERVAZIONE: L'oggetto <User_Current_State> (MiniSiteJson) rappresenta lo stato attuale del sito, incluse le modifiche manuali dell'utente. \n1. PRIORITÀ MASSIMA: I campi 'hero.h1', 'hero.sub', 'seo.title', e 'seo.description' presenti in <User_Current_State> sono DEFINITIVI. \n2. AZIONE: NON alterarli, NON rigenerarli e NON ottimizzarli. Copiali fedelmente ed esattamente come sono nel JSON finale di output.\n3. COMPLETAMENTO: Genera testi ex-novo SOLO per le sezioni vuote, mancanti o per allineare le descrizioni dei servizi al nuovo catalogo attivo.\n</MANDATORY_OVERRIDE_RULES>\n\n<FormattingRules>\n1. CLEANING: È severamente vietato l'uso del markdown (niente ** o __ o #). Per evidenziare parole chiave usa ESCLUSIVAMENTE il tag HTML <b>.\n2. LINGUAGGIO: Professionale, empatico e orientato ai benefici (Benefit-driven).\n3. SEO FAQS: Estrai le informazioni dai \"knowledge_fragments\" per generare esattamente 3 FAQ strategiche.\n4. JSON PURO: Restituisci ESCLUSIVAMENTE un oggetto JSON valido. Nessun commento, nessun backtick di formattazione markdown (nessun ```json).\n</FormattingRules>\n</SystemInstruction>",
              "type": "string"
            },
            {
              "id": "5296f5d3-7b3d-4413-b94d-a84aa778d95f",
              "name": "Prompt",
              "value": "=<GenerationTask>\nStiamo aggiornando il MiniSite per l'azienda: \"{{ $json.owner_data.ragione_sociale }}\".\n\n<InputData>\n  <Tenant_Info>\n    Azienda: {{ $json.owner_data.ragione_sociale }}\n    Settore: {{ $json.owner_data.sector }}\n    Descrizione: {{ $json.owner_data.business_description }}\n  </Tenant_Info>\n\n  <Knowledge_Base>\n    Mission: {{ $json.HoneyPot.company_context_string }}\n    Fragments: {{ JSON.stringify($json.HoneyPot.knowledge_fragments) }}\n  </Knowledge_Base>\n\n  <Active_Catalog>\n    I servizi attualmente venduti (da usare per generare l'array 'service_descriptions'):\n    {{ JSON.stringify($json.HoneyPot.active_services) }}\n  </Active_Catalog>\n\n  <User_Current_State>\n    I dati attuali del sito (APPLICA LA REGOLA DI OVERRIDE SU QUESTI DATI):\n    {{ JSON.stringify($json.MiniSiteJson) }}\n  </User_Current_State>\n</InputData>\n\n<OutputSchema>\nRestituisci questo esatto JSON, compilato seguendo le regole:\n{\n  \"seo\": {\n    \"title\": \"[COPIA DA User_Current_State se presente, altrimenti genera max 60 char]\",\n    \"description\": \"[COPIA DA User_Current_State se presente, altrimenti genera max 160 char]\",\n    \"keywords\": [\"keyword 1\", \"keyword 2\", \"keyword 3\", \"keyword 4\"],\n    \"faq\": [\n      { \"q\": \"Domanda rilevante dal Knowledge Base?\", \"a\": \"Risposta pulita con tag <b> per evidenziare i concetti.\" },\n      { \"q\": \"Domanda 2?\", \"a\": \"Risposta 2.\" },\n      { \"q\": \"Domanda 3?\", \"a\": \"Risposta 3.\" }\n    ]\n  },\n  \"hero\": { \n    \"h1\": \"[COPIA DA User_Current_State se presente, altrimenti genera (max 10 parole)]\", \n    \"sub\": \"[COPIA DA User_Current_State se presente, altrimenti genera sottotitolo empatico]\" \n  },\n  \"design\": { \"font\": \"Plus Jakarta Sans\", \"radius\": \"24px\" },\n  \"sections\": {\n    \"about\": { \n      \"kicker\": \"Parola chiave (es. LA NOSTRA MISSIONE)\", \n      \"headline\": \"Titolo persuasivo basato sulla Mission\", \n      \"body\": \"Testo in paragrafi HTML che racconta il valore dell'azienda per i clienti. Usa <b> per enfasi.\" \n    },\n    \"usp\": [\n      { \"title\": \"Punto di forza 1\", \"text\": \"Vantaggio pratico estratto dai fragments\" },\n      { \"title\": \"Punto di forza 2\", \"text\": \"Vantaggio pratico estratto dai fragments\" },\n      { \"title\": \"Punto di forza 3\", \"text\": \"Vantaggio pratico estratto dai fragments\" }\n    ],\n    \"process\": [\n      { \"title\": \"Fase 1\", \"text\": \"Spiegazione del metodo operativo\" },\n      { \"title\": \"Fase 2\", \"text\": \"Spiegazione del metodo operativo\" },\n      { \"title\": \"Fase 3\", \"text\": \"Spiegazione del metodo operativo\" }\n    ]\n  },\n  \"service_descriptions\": [\n    // GENERA UN OGGETTO PER OGNI SERVIZIO PRESENTE IN <Active_Catalog>\n    { \n      \"name\": \"[Nome esatto del servizio in Active_Catalog]\", \n      \"refined_desc\": \"Descrizione marketing accattivante (max 120 char). Usa <b> se necessario.\" \n    }\n  ]\n}\n</OutputSchema>\n\n<Action>\nEsegui il parsing dei dati. Applica il MANDATORY OVERRIDE per preservare i testi dell'utente. Restituisci SOLO IL JSON, senza blocchi markdown.\n</Action>\n</GenerationTask>",
              "type": "string"
            },
            {
              "id": "58c5d485-7b2f-402e-af88-a6d92ffe95f4",
              "name": "ModelChoice",
              "value": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent",
              "type": "string"
            },
            {
              "id": "dd713543-b2c4-4e31-a989-54a11b80ef31",
              "name": "GeminiKey",
              "value": "={{ $json.owner_data.gemini_key }}",
              "type": "string"
            },
            {
              "id": "ecd4b2fe-495c-4836-b13b-28d159a8c94e",
              "name": "errorPath",
              "value": "={{ $json.owner_data.vat_number }}",
              "type": "string"
            },
            {
              "id": "3135c929-6335-42ab-aa6c-661e3014ba96",
              "name": "grounding",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b3e47699-3b67-4519-a728-997ab1d0b4d3",
              "name": "thinking",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "36e1c66c-7a2c-41ab-aef4-0c32eeefb302",
              "name": "outputRename",
              "value": "MiniSiteJson",
              "type": "string"
            },
            {
              "id": "daf09ab5-889e-48b8-95b3-f366880d604c",
              "name": "data",
              "value": "",
              "type": "string"
            },
            {
              "id": "34b378c9-02a7-47c1-b2b9-98e6c9beaa20",
              "name": "mimeType",
              "value": "",
              "type": "string"
            },
            {
              "id": "a05a9aad-e208-4e85-998e-3605ca70eb98",
              "name": "FreeCall",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "3744b0da-f66f-4400-b44b-6569a1e98845",
              "name": "billing_source.use",
              "value": "={{ $json.body.action || \"internal_call\" }}",
              "type": "string"
            },
            {
              "id": "b041797b-130e-47d5-a575-6b562b349ac2",
              "name": "billing_source.wh",
              "value": "=https://prod.workflow.trinai.it/webhook/50891655-84c8-4213-90e8-26ebbc3d6c4c",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        640
      ],
      "id": "1919f164-87b9-4383-84ec-ec05275ac3a5",
      "name": "EditMiniSIte"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2208,
        -208
      ],
      "id": "2a75d256-3dc2-4f20-b2db-e268a3c90a11",
      "name": "Merge1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"error\": {\n    \"code\": \"504\",\n    \"title\": \"SAVE BILLING FAIL\",\n    \"message\": \"ERRORE NEL SALVATAGIO DEL PAGAMENTO \"\n  }\n}",
        "options": {
          "responseCode": 501
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1808,
        -384
      ],
      "id": "3ae2b0b5-50e3-4558-829c-f18418f255e1",
      "name": "BillingFAIL"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1600,
        -176
      ],
      "id": "8fed8e60-8b54-4da8-ac20-9d30b4b186db",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -928,
        -160
      ],
      "id": "dfc470e6-3e1e-4b95-97f0-aa3b6405f13f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard.trinai.it/api/n8n/json/minisite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_image\",\n  \"vat_number\": \"{{ $json.owner_data.vat_number }}\",\n  \"asset_type\": \"photo\",\n  \"file_name\": \"{{ $json.body.asset_type }}.jpg\",\n  \"file_data\": \"data:image/jpeg;base64,{{ $json.data }}\",\n  \"mime_type\": \"image/jpeg\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        -144
      ],
      "id": "f883ff5b-8a73-47c1-a674-fa565ae78e25",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sVYE3K8BsDbAKshU",
          "name": "TrinAI Deploy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const root = $input.first().json;\nconst hp = root.HoneyPot || {};\nconst od = root.owner_data || root.ownerdata || {};\nconst ai = root.MiniSiteJson || {};\nconst bot = root.owner_bot || root.ownerbot || {};\n\n// 1. Mappa i percorsi degli asset multimediali\nconst assets = {\n    logo: hp.assets?.logo?.url || \"\",\n    hero_image: hp.assets?.photo?.url || \"\", // Foto dei locali/team dall'HoneyPot\n    gallery1: hp.assets?.gallery1?.url || \"\",\n    gallery2: hp.assets?.gallery2?.url || \"\",\n    gallery3: hp.assets?.gallery3?.url || \"\"\n};\n\n// 2. Formatta gli orari operativi programmati nell'HoneyPot\nconst daysMap = { monday: 'monday', tuesday: 'tuesday', wednesday: 'wednesday', thursday: 'thursday', friday: 'friday', saturday: 'saturday', sunday: 'sunday' };\nconst hours = hp.availability_schedule?.hours || {};\nconst availability = {};\nfor (const key in daysMap) {\n    const d = hours[key];\n    availability[daysMap[key]] = (d && d.morning?.from) ? `${d.morning.from}-${d.afternoon?.to || d.morning.to}` : \"Chiuso\";\n}\n\n// 3. LOGICA TEMA DI STARTUP VS AGGIORNAMENTO\n// Se lo stile esiste già nel database, inviamo \"unchanged\" per non sovrascrivere le preferenze scelte sulla piattaforma.\n// Se è il primissimo deploy (stile vuoto), forziamo \"classic\" come base di partenza.\nconst themeParam = (ai.style && ai.style !== \"\") ? \"unchanged\" : \"classic\";\n\n// 4. Compila lo schema ibrido identico all'OutputSchema originale dell'Editor\nconst minisite_json = {\n    style: ai.style || \"classic\",\n    path: ai.path || `posts/${od.vat_number}/index.html`,\n    design: {\n        font: ai.design?.font || \"Plus Jakarta Sans\",\n        radius: ai.design?.radius || \"24px\"\n    },\n    hero: {\n        h1: ai.hero?.h1 || \"\",\n        sub: ai.hero?.sub || \"\"\n    },\n    seo: {\n        title: ai.seo?.title || \"\",\n        description: ai.seo?.description || \"\",\n        keywords: ai.seo?.keywords || [],\n        faq: ai.seo?.faq || []\n    },\n    sections: {\n        about: {\n            kicker: ai.sections?.about?.kicker || \"Mission\",\n            headline: ai.sections?.about?.headline || \"\",\n            body: ai.sections?.about?.body || \"\"\n        },\n        usp: ai.sections?.usp || [],\n        process: ai.sections?.process || [],\n        services: (hp.active_services || []).map(svc => {\n            const icon = (svc.short_name && svc.short_name.match(/\\p{Emoji}/u)) ? svc.short_name.match(/\\p{Emoji}/u)[0] : '⚡';\n            const refinedDesc = ai.service_descriptions?.find(d => d.name === svc.name)?.refined_desc || \"\";\n            return {\n                title: svc.name,\n                description: refinedDesc.substring(0, 120),\n                icon: icon\n            };\n        })\n    },\n    service_descriptions: ai.service_descriptions || [],\n    offer_text: hp.offer_text || \"\",\n    contact: {\n        phone: od.phone || \"\",\n        email: od.email || \"\",\n        address: od.indirizzo || od.address || \"\",\n        city: od.comune || od.city || \"\"\n    },\n    assets: assets,\n    brand: {\n        primary_color: hp.assets?.logo?.meta?.colors?.[0] || \"#212D67\",\n        font: ai.design?.font || \"Plus Jakarta Sans\"\n    },\n    availability: availability,\n    owner_bot: {\n        first_name: bot.first_name || \"\",\n        username: bot.username || \"\"\n    }\n};\n\nreturn [{\n    json: {\n        ...root,\n        assembled_minisite_json: minisite_json,\n        theme_param: themeParam\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -496
      ],
      "id": "5b14e006-ca29-4cfa-af2d-7e1cf936bf00",
      "name": "assembler"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dashboard.trinai.it/api/n8n/json/minisite",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"save_json_theme\",\n  \"vat_number\": \"{{ $json.owner_data.vat_number }}\",\n  \"theme\": \"unchanged\",\n  \"minisite_json\": {{ JSON.stringify($json.assembled_minisite_json) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        256,
        -496
      ],
      "id": "de0ddd61-d17e-406f-a900-f450b7ff8dd5",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "sVYE3K8BsDbAKshU",
          "name": "TrinAI Deploy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91c4ce69-ff65-4495-9c1e-36b2ca50c870",
              "name": "billing_source.wh",
              "value": "={{ $json.webhookUrl }}",
              "type": "string"
            },
            {
              "id": "358f9459-c678-4ef3-9ca3-e63cb0769f11",
              "name": "billing_source.use",
              "value": "=Generazione Immagine",
              "type": "string"
            },
            {
              "id": "8bd7e1fd-7edf-4559-ba30-092f61ad55e3",
              "name": "owner_data.credits_balance",
              "value": "={{ $json.owner_data.credits_balance }}",
              "type": "number"
            },
            {
              "id": "d441f543-c453-4a4e-a41f-11b877fda1dc",
              "name": "user.id",
              "value": "={{ $json.user.id }}",
              "type": "number"
            },
            {
              "id": "d49a4e17-5f11-4706-ae76-8d7058c65cc5",
              "name": "owner_data",
              "value": "={{ $json.owner_data }}",
              "type": "object"
            },
            {
              "id": "09479d7c-c81f-495e-bf58-2c4eb0ccd7a1",
              "name": "modelVersion",
              "value": "gemini-3.1-flash-image",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2400,
        -192
      ],
      "id": "6dbad5b1-e93b-4a49-aecb-556cf0d1d663",
      "name": "Billing_Set"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "4O56BKsRFw321LD7",
          "mode": "list",
          "cachedResultUrl": "/workflow/4O56BKsRFw321LD7",
          "cachedResultName": "Standard_AcCredit"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2000,
        -208
      ],
      "id": "68992fd9-76ee-463d-a8df-ccca88d793ee",
      "name": "Call 'Standard_AcCredit'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0b0961b9-271d-4fdf-8233-63bc2ea11ebf",
              "leftValue": "={{ $json.billing_error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1808,
        -208
      ],
      "id": "1013061e-bad1-48fd-ab57-145532ba7ef0",
      "name": "BillingError"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "prod.workflow.trinai.it",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36 Edg/146.0.0.0",
            "content-length": "1308",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "it,it-IT;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "https://trinaibusinessoperatingsystem.github.io",
            "priority": "u=1, i",
            "referer": "https://trinaibusinessoperatingsystem.github.io/",
            "sec-ch-ua": "\"Not-A.Brand\";v=\"24\", \"Microsoft Edge\";v=\"146\", \"Chromium\";v=\"146\", \"Microsoft Edge WebView2\";v=\"146\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "151.35.177.11",
            "x-forwarded-host": "prod.workflow.trinai.it",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "_auth": "query_id=AAFrba15AAAAAGttrXm8gTkF&user=%7B%22id%22%3A2041408875%2C%22first_name%22%3A%22Giuseppe%22%2C%22last_name%22%3A%22Garofalo%22%2C%22username%22%3A%22TrinAi_OperativeChief%22%2C%22language_code%22%3A%22it%22%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2FvPTjxONkQ6hvO3p2LwlkoZjewgAm1sVh8k7dFYDeczY.svg%22%7D&auth_date=1776071158&signature=AyhUCXFd_DLMa6JSR-6uqGf-mcukjQgdmthlHaN68C_8h4ZGJlJrDvHXLGQY-u-SvXatKNy-YdyfILqRGyI4Aw&hash=3733a4dd556dc2c13e03b6f17d1dc78b24f87265528f1c7b24021fc597d553ef",
            "action": "REGENERATE_ASSET",
            "asset_type": "gallery1",
            "asset_description": "A high-end, photorealistic 1:1 square composition of a focused professional in a minimalist office, interacting with a glowing digital dashboard on a sleek laptop. The scene captures the essence of intelligent workflow management. Professional studio lighting emphasizes a sophisticated color palette of deep navy blue #212D67 and vibrant purple #895FE0. Shot with an 85mm lens, sharp focus on the user, shallow depth of field.",
            "asset_rationale": "This hero shot directly communicates the brand's core value: enabling professionals to regain control through intelligent tools and structured workflows, highlighting the 'AI System Architect' persona."
          },
          "webhookUrl": "https://prod.workflow.trinai.it/webhook/50891655-84c8-4213-90e8-26ebbc3d6c4c",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Autorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OwnerExist": {
      "main": [
        [
          {
            "node": "Merge22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge22": {
      "main": [
        [
          {
            "node": "Merge25",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge26",
            "type": "main",
            "index": 1
          },
          {
            "node": "service_catalog_setup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Telegram Call1": {
      "main": [
        [
          {
            "node": "Merge24",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge24": {
      "main": [
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆘 System Error Collection": {
      "main": [
        [
          {
            "node": "📤 Telegram Call1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge25": {
      "main": [
        [
          {
            "node": "🆘 System Error Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge26": {
      "main": [
        [
          {
            "node": "HoneyPot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge27",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Catalog Exist": {
      "main": [
        [
          {
            "node": "Merge26",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "service_catalog_setup": {
      "main": [
        [
          {
            "node": "Catalog Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge27": {
      "main": [
        [
          {
            "node": "MiniSite2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge31",
            "type": "main",
            "index": 0
          },
          {
            "node": "📤 Get Telegram OwnerBot1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot": {
      "main": [
        [
          {
            "node": "HoneyPot Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot Exist": {
      "main": [
        [
          {
            "node": "Merge27",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          },
          {
            "node": "🆘 System Error Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Billing_Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rename1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autorize": {
      "main": [
        [
          {
            "node": "Telegram?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⛔️ 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "owner": {
      "main": [
        [
          {
            "node": "OwnerExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram_validator": {
      "main": [
        [
          {
            "node": "isValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isValid": {
      "main": [
        [
          {
            "node": "Merge23",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "⛔️ 403 Forbidden",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram?": {
      "main": [
        [
          {
            "node": "telegram_validator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge23",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge23": {
      "main": [
        [
          {
            "node": "owner1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge22",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OwnerExist1": {
      "main": [
        [
          {
            "node": "Merge22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "owner1": {
      "main": [
        [
          {
            "node": "OwnerExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MiniSite2": {
      "main": [
        [
          {
            "node": "MiniSiteExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MiniSiteExist1": {
      "main": [
        [
          {
            "node": "Merge30",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge30": {
      "main": [
        [
          {
            "node": "Merge31",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "Prepare Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Get Telegram OwnerBot1": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields9": {
      "main": [
        [
          {
            "node": "Merge30",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge31": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Respond": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'deploy_minisite'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create?": {
      "main": [
        [
          {
            "node": "Merge31",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit gallery3": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit gallery3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classic": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Preview",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preview": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GeminiCallPrompt'1": {
      "main": [
        [
          {
            "node": "ErrorApi1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "MiniSite",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge18",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "MiniSite",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MiniSite": {
      "main": [
        [
          {
            "node": "Merge18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge18": {
      "main": [
        [
          {
            "node": "Classic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ErrorApi1": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLMFail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename": {
      "main": [
        [
          {
            "node": "Classic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename1": {
      "main": [
        [
          {
            "node": "EditMiniSIte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "ImageGemini2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ImageGemini2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLMFail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLMFail2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "EditMiniSIte": {
      "main": [
        [
          {
            "node": "Call 'GeminiCallPrompt'1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Call 'Standard_AcCredit'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "assembler": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Billing_Set": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Call 'Standard_AcCredit'": {
      "main": [
        [
          {
            "node": "BillingError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BillingError": {
      "main": [
        [
          {
            "node": "BillingFAIL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "92a5e2ef-629c-4656-aadc-75b49f71e225",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce96c1da52854952d6033754b3d632468704a3c149b2a8a301c2b60c112ce7d0"
  },
  "id": "6RzrNoR84Q-mS4E0EkZi7",
  "tags": []
}