n8n_workflow/SiteBoS_Caller/GeminiGoogleSerch.json
{
  "name": "GeminiGoogleSerch",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// NODO: DPF (Dynamic Payload Factory)\n// VERSIONE: 2.0 - Adattato per Architettura a Frammenti\n// OBIETTIVO: Assemblare il payload finale per la chiamata all'API di Gemini,\n//            gestendo dinamicamente il modello, il grounding, i media e il formato di risposta.\n\n// --- 1. Estrazione degli Input ---\nconst item = $input.first().json;\n\n// Input obbligatori preparati dal nodo precedente\nconst systemInstruction = item.SystemInstruction;\nconst prompt = item.Prompt;\nconst modelChoiceUrl = item.ModelChoice; // Es. \"https://...\"\nconst GeminiKey = item.GeminiKey;\n// Input opzionali\nconst useGrounding = item.grounding === true;\nconst base64Data = item.data;\nconst mimeType = item.mimeType;\n\n// Validazione input essenziali\nif (!systemInstruction || !prompt || !modelChoiceUrl) {\n    throw new Error('DPF Error: Input essenziali mancanti (SystemIstruction, Prompt, o ModelChoice).');\n}\n\n// --- 2. Costruzione della Sezione \"contents\" ---\n// Questa sezione contiene il prompt dell'utente e gli eventuali dati multimediali.\nconst contentsParts = [{ \"text\": prompt }];\n\n// Aggiungi i dati inline se presenti (es. immagine)\nif (base64Data && mimeType) {\n    contentsParts.push({\n        \"inline_data\": {\n            \"mime_type\": mimeType,\n            \"data\": base64Data\n        }\n    });\n}\n\n// --- 3. Costruzione della Base del Payload ---\n// Questo è lo scheletro della chiamata API\nlet finalPayload = {\n    // Le System Instructions vengono inserite qui\n    \"system_instruction\": {\n        \"parts\": [\n            { \"text\": systemInstruction }\n        ]\n    },\n    // Il prompt e i media vanno qui\n    \"contents\": [\n        {\n            \"role\": \"user\",\n            \"parts\": contentsParts\n        }\n    ],\n    // Configurazioni di generazione\n    \"generation_config\": {\n       \"thinkingConfig\": {\n        \"thinkingBudget\": -1, \n      },\n        \"response_mime_type\": \"text/plain\" // Chiediamo una risposta testuale standard per google serch\n    }\n};\n\n// --- 4. Configurazione Dinamica dei \"Tools\" (Grounding) ---\n// Aggiungi la sezione \"tools\" solo se il grounding è richiesto.\nif (useGrounding) {\n    finalPayload.tools = [\n        {\n            \"google_search\": {}\n        }\n    ];\n}\n\n// --- 5. Preparazione dell'Output del Nodo ---\n// L'output di questo nodo conterrà il payload pronto e l'URL a cui inviarlo.\nconst outputItem = {\n    // Rimuoviamo i campi di input grezzi per mantenere l'item pulito\n    ...item\n};\n\ndelete outputItem.SystemIstruction;\ndelete outputItem.Prompt;\ndelete outputItem.ModelChoice;\ndelete outputItem.grounding;\ndelete outputItem.data;\ndelete outputItem.mimeType;\n\n// Aggiungiamo i campi finali pronti per l'HttpRequest Node\noutputItem.finalApiUrl = modelChoiceUrl;\noutputItem.geminiApiCallPayload = finalPayload;\n\n// Aggiungiamo un po' di logging per il debugging\nconsole.log(`DPF: Payload preparato per il modello: ${modelChoiceUrl}`);\nconsole.log(`DPF: Grounding attivato: ${useGrounding}`);\nconsole.log(`DPF: Dati multimediali inclusi: ${!!base64Data}`);\n\n// Restituiamo il singolo item pronto per la chiamata\nreturn [{\n    json: outputItem\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        1072
      ],
      "id": "715f4ece-574a-436c-abb7-70813b4ea9a6",
      "name": "Dynamic Payload Gemini",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.finalApiUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiApiCallPayload }}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -592,
        1056
      ],
      "id": "da3680cc-0bdf-47dc-887c-9c1df67f5f94",
      "name": "Gemini Caller",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "credentials": {
        "googlePalmApi": {
          "id": "LR3Q6cuz4wPaBeGk",
          "name": "TrinAi PayKey"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "timeout",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "e5f6a7b8-c9d0-1234-5678-90abcdef1234"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "=Timeout"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "ENOTFOUND",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "a1b2c3d4-e5f6-a7b8-c9d0-1234567890ab"
                  },
                  {
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "ECONNREFUSED",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "b2c3d4e5-f6a7-b8c9-d0e1-234567890abc"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Errore di Rete/Connettività"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 429,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "429 - Limite Richieste Superato"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b48c234-4543-4684-ba26-afa8fcd529a3",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 503,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "503 - Servizio Overheated"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "475425ca-c899-4051-a32d-9921ccd4d3ba",
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 500,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "500 - Errore interno"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "Expression failed",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "c3d4e5f6-a7b8-c9d0-e1f2-34567890abcd"
                  },
                  {
                    "leftValue": "={{ $json.error.message }}",
                    "rightValue": "properties of undefined",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d4e5f6a7-b8c9-d0e1-f2g3-4567890abcde"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "Dati mancanti / Espressione errata"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 400,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "d4e5f6a7-b8c9-0123-4567-890abcdef123"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "400 - Richiesta non valida"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 401,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                  },
                  {
                    "leftValue": "={{ $json.error.status }}",
                    "rightValue": 403,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "f6a7b8c9-d0e1-f2g3-h4i5-j6k7l8m9n0o1"
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "401/403 - Errore di Autenticazione"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -592,
        1312
      ],
      "id": "7d38471e-0db3-4046-82a8-7524b9cd09af",
      "name": "Gestione Errori Completa"
    },
    {
      "parameters": {
        "jsCode": "// NODO: Brutal_Force_Universal_Content_Extractor\n// VERSIONE: 1.1 - Error Pin Edition\n\n// --- 1. PREPARAZIONE ---\nconst item = $input.first().json;\nlet allTextContent = []; \n\n// Navigazione sicura\nconst candidates = item.candidates;\n\n// SE NON CI SONO CANDIDATI: Lanciamo l'errore per finire nell'uscita RETRY\nif (!Array.isArray(candidates) || candidates.length === 0) {\n    throw new Error(\"Gemini ha risposto senza candidati (Risposta Vuota).\");\n}\n\n// --- 2. CICLO DI ESTRAZIONE ---\nfor (const candidate of candidates) {\n    const parts = candidate.content?.parts;\n    if (!Array.isArray(parts)) continue;\n\n    for (const part of parts) {\n        if (part && typeof part.text === 'string' && part.text.trim() !== '') {\n            allTextContent.push(part.text.trim());\n        }\n    }\n}\n\n// --- 3. CONSOLIDAMENTO E VALIDAZIONE ---\nconst finalText = allTextContent.join('\\n\\n');\n\n// SE NON C'È TESTO: Lanciamo l'errore\nif (finalText === '') {\n    throw new Error(\"Nessun contenuto testuale trovato nella risposta di Gemini.\");\n}\n\n// --- 4. SUCCESSO ---\n// Restituiamo solo l'output utile per il parser JSON successivo\nreturn [{ \n    json: { \n        sOUTPUT: finalText \n    } \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1040
      ],
      "id": "6b3628df-f8aa-4a3d-a195-fd1d3dd189e0",
      "name": "Extract Parts",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        1632
      ],
      "id": "f5cdf45f-d79d-47fd-b461-85166be8d2e5",
      "name": "CriticalMerge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -288,
        864
      ],
      "id": "00982435-1cad-495f-92c7-d98e0f351c43",
      "name": "SuccesMerge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        896
      ],
      "id": "bcf4c9d3-e2bb-471e-8f0e-a4c50ec6e2e8",
      "name": "OwnerExist"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        1088
      ],
      "id": "c69aab69-fe80-404f-985c-72ea3806853e",
      "name": "InputMerge"
    },
    {
      "parameters": {
        "jsCode": "// NODO: AI_Output_Cleaner & Final Formatter\n// VERSIONE: 2.0 - Con logica di rename dinamico\n// OBIETTIVO: Pulire i campi tecnici e formattare l'output finale\n//            secondo la chiave specificata in 'outputRename'.\n\ntry {\n  // 1. Ottieni l'item di input completo\n  const item = $input.first().json;\n\n  // 2. Crea una copia dell'item\n  const cleanedItem = { ...item };\n\n  // 3. Elenco dei campi di primo livello da rimuovere\n  const fieldsToRemove = [\n    'SystemInstruction',\n    'Prompt',\n    'output_structure',\n    'ModelChoice',\n    'GeminiKey',\n    'grounding',\n    'thinking',\n    'finalApiUrl',\n    'geminiApiCallPayload',\n    'data',\n    'path',\n    'errorPath',\n    'mimeType'\n  ];\n\n  // 4. Rimuovi i campi tecnici\n  for (const field of fieldsToRemove) {\n    if (field in cleanedItem) {\n      delete cleanedItem[field];\n    }\n  }\n\n  // 5. --- NUOVA LOGICA DI RENAME DINAMICO ---\n  // Legge la chiave desiderata per l'output. Se non fornita, usa 'output' come default.\n  const outputKey = cleanedItem.outputRename || 'output';\n  \n  // Verifica che il campo 'output' esista (prodotto dal parser)\n  if ('output' in cleanedItem) {\n    // Salva il risultato finale\n    const finalResult = cleanedItem.output;\n    \n    // Rimuovi il campo 'output' originale e 'outputRename'\n    delete cleanedItem.output;\n    delete cleanedItem.outputRename;\n    \n    // Aggiungi il risultato con la nuova chiave dinamica\n    cleanedItem[outputKey] = finalResult;\n  } else {\n    // Se non c'è un campo 'output', logga un avviso ma non far fallire il workflow\n    console.warn(\"Output_Cleaner: Campo 'output' non trovato da rinominare.\");\n  }\n\n  // 6. Restituisci l'oggetto finale, pulito e formattato\n  return [{ json: cleanedItem }];\n\n} catch (error) {\n  console.error(`Errore critico nel nodo AI_Output_Cleaner: ${error.message}`);\n  // In caso di errore, restituisci l'item originale per il debug\n  return $input.all();\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1088
      ],
      "id": "ab80d4db-5863-4269-951b-efbc4121728c",
      "name": "Output Cleaner",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -976,
        1072
      ],
      "id": "c75ee3c0-31f6-4298-badd-8121d4db7980",
      "name": "CriticalMerge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        960
      ],
      "id": "0d94927b-dad7-40fc-939e-5967c585fdf8",
      "name": "PayCall"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data.credits_balance }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1232,
        1184
      ],
      "id": "6901f998-7598-4e0d-af3e-b9174ce1f714",
      "name": "BalanceOK"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -32,
        1376
      ],
      "id": "b3e33539-4066-4d3b-ba0b-3ff6c47585f5",
      "name": "Handle Error Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        176,
        1392
      ],
      "id": "d62265f9-d4da-43a9-8beb-643f3379c5f0",
      "name": "ErrorPathMerge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eb320db9-8d20-4829-be44-154c046370a3",
              "name": "errorPath",
              "value": "={{ $json.errorPath }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        1376
      ],
      "id": "4a5b598c-0977-4ea2-8f3d-300b1d6046ee",
      "name": "ErrorPath"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.errorPath + \"_eLog\" }}",
        "collectionName": "error_logs",
        "databaseName": "TbosSystemMemory",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        368,
        1584
      ],
      "id": "22045063-c607-49d7-8abe-a3347802ba07",
      "name": "MongoDB Chat Memory2",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        368,
        1472
      ],
      "id": "efd7ec0a-58cd-46ad-9bf5-0c010a43ede0",
      "name": "LogSystemErr"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"status\": \"REATRY\",\n  \"message\": \"Il servizio è momentaneamente sovraccarico o irraggiungibile. Riprova tra qualche secondo!\",\n  \"technical_error\": \"Chiamata Gemini Fallita\",\n  \"error_code\": 404\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1360
      ],
      "id": "4651be4d-6a2c-41fa-a59f-6b66bef06815",
      "name": "404-Reatry Error"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"status\": \"CRITICAL\",\n  \"message\": \"Errore Critico - Contatta il Centro Assistenza TrinAi\",\n  \"technical_error\": \"Chiamata Gemini Fallita\",\n  \"error_code\": 402\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1488
      ],
      "id": "13fe4fd1-810d-4b00-bd5e-ab2406682dbe",
      "name": "402-Critical Error"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"status\": \"CRITICAL\",\n  \"message\": \"Errore Critico - Contatta il Centro Assistenza TrinAi\",\n  \"technical_error\": \"Output Incompleto o Malformato\",\n  \"error_code\": 403\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        1680
      ],
      "id": "a47c3dc4-d0c2-4d58-9adf-29b26e7b0869",
      "name": "403-Oputput Error"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"status\": \"CRITICAL\",\n  \"message\": \"Errore Critico - Contatta il Centro Assistenza TrinAi\",\n  \"technical_error\": \"Playload Incompleto o Malformato\",\n  \"error_code\": 401\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1648
      ],
      "id": "b0d1ebd1-5b42-4396-a8d0-5a5fc3474329",
      "name": "401-DPF Error"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"status\": \"CRITICAL\",\n  \"message\": \"Credito Insufficente\",\n  \"technical_error\": \"Chiamata Gemini Fallita\",\n  \"error_code\": 405\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1232,
        1392
      ],
      "id": "a97d6c6f-4639-4819-b7fa-ab93365869fb",
      "name": "405-Poor Error"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        816,
        1408
      ],
      "id": "f2c4b951-3d3c-4cd2-bed7-f8d02d27280d",
      "name": "SaveErrorMerge"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        896
      ],
      "id": "edb232bb-57b7-4068-926f-6ab64dee229b",
      "name": "Handle Response Merge"
    },
    {
      "parameters": {
        "jsCode": "// NODO: Balance Updater & Transaction Merger\n// VERSIONE: 1.2 - Dynamic Ledger Balance Lookup (Single Source of Truth)\n\n// --- 1. Estrazione dati ---\nconst item = $input.first().json;\n\n// --- 2. Determinazione del saldo precedente dal Ledger (billing_buffers) ---\nlet currentBalance = 0;\nlet foundInLedger = false;\n\nif (item.last_message && item.last_message.data) {\n    let lastTx = {};\n    const rawData = item.last_message.data;\n    \n    try {\n        // Parsing robusto del messaggio di memoria (LangChain format o JSON puro)\n        if (typeof rawData === 'string') {\n            lastTx = JSON.parse(rawData);\n        } else if (rawData.content) {\n            lastTx = JSON.parse(rawData.content);\n        } else {\n            lastTx = rawData;\n        }\n        \n        if (lastTx && lastTx.final_balance !== undefined) {\n            currentBalance = Number(lastTx.final_balance);\n            foundInLedger = true;\n            console.log(`Ledger Balance intercettato con successo: ${currentBalance}`);\n        }\n    } catch (e) {\n        console.warn(\"Errore durante il parsing di last_message. Procedo con fallback.\");\n    }\n}\n\nif (!foundInLedger) {\n    // Fallback su owner_data se non ci sono ancora record nel buffer transazioni\n    currentBalance = Number(item.owner_data?.credits_balance || 0);\n    console.log(`Fallback su owner_data Balance: ${currentBalance}`);\n}\n\nconst billingData = item.billing || {}; \nconst creditsToDeduct = Number(billingData.credits_deducted) || 0;\n\n// --- 3. Calcolo nuovo saldo ---\nconst newBalance = currentBalance - creditsToDeduct;\n\n// --- 4. Preparazione dell'Output ---\nconst outputItem = { ...item };\n\n// Creiamo il summary che include tutti i dati di billing, previous e final_balance\noutputItem.transaction_summary = {\n    ...billingData,          // Esplode model, usd_cost, usage, credits_deducted, ecc.\n    previous_balance: currentBalance,\n    final_balance: newBalance,\n    timestamp: new Date().toISOString()\n};\n\n// Aggiorniamo il saldo nell'anagrafica proprietario per propagazione cache di lettura veloce\nif (outputItem.owner_data) {\n    outputItem.owner_data.credits_balance = newBalance;\n}\n\n// Pulizia campi di query temporanei\ndelete outputItem.billing;\nif (outputItem.last_message) {\n    delete outputItem.last_message;\n}\n\nreturn [{ json: outputItem }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        752
      ],
      "id": "a43a0e55-6559-4bdb-a7ec-2f78e37e38ed",
      "name": "Balance Updater",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.owner_data.vat_number }}",
        "collectionName": "owner_sessions",
        "databaseName": "MemoryManager"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        96,
        592
      ],
      "id": "f661115f-dee6-492a-9fd2-81fa52918f53",
      "name": "MongoDB Chat Memory5",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.owner_data.vat_number }}",
        "collectionName": "billing_buffers",
        "databaseName": "MemoryManager",
        "contextWindowLength": 150
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        96,
        304
      ],
      "id": "cd743537-4bb5-4970-a133-426145e72fd9",
      "name": "MongoDB Chat Memory",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.transaction_summary }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        96,
        160
      ],
      "id": "e85c33aa-d5a6-4dce-8638-f90a833e6d04",
      "name": "billing_buffers",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.owner_data }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        96,
        448
      ],
      "id": "7bdcefe0-afd6-4001-b133-e021da1ab7da",
      "name": "owner",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        304
      ],
      "id": "ba2e6931-8948-441f-9eee-de684d0c5402",
      "name": "SaveMerge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        1472
      ],
      "id": "564ceda9-aa57-4467-a8c1-5518baaff12b",
      "name": "Oscurante"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        144
      ],
      "id": "baf0e934-1abd-4d2d-97e1-1aaf8ee0024d",
      "name": "Oscurante1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"success\": false,\n  \"status\": \"CRITICAL\",\n  \"message\": \"Credito non correttamente addebitato.\",\n  \"technical_error\": \"Salvataggio Credito Fallito\",\n  \"error_code\": 406\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1024,
        1456
      ],
      "id": "7be2794a-318c-4f72-ab38-84dfea01b5f2",
      "name": "406-Credit Error"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        720
      ],
      "id": "66489d36-e3b1-4794-9b1d-95a877cb45aa",
      "name": "SuccessMerge"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1456,
        960
      ],
      "id": "25dec9d3-6084-4ec9-9d14-5b411c637ac2",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "stakeholders",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.email }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"stakeholder\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        144,
        -128
      ],
      "id": "a030c190-6379-44c1-9940-e9c7475dcc6b",
      "name": "stakeholder_owner",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -288
      ],
      "id": "e87354fc-8f44-497f-9733-39b0eed2b6e5",
      "name": "SuccessMerge1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.stakeholder_owner.user_ref.email }}",
        "collectionName": "stakeholders",
        "databaseName": "MemoryManager"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        528,
        -144
      ],
      "id": "3e936188-4b04-4471-9c5b-189a434e36d9",
      "name": "MongoDB Chat Memory6",
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "insertMode": "override",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.stakeholder_owner }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        528,
        -288
      ],
      "id": "13ee4c10-d419-400c-ac63-e29b787cfdd8",
      "name": "stakeholeder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        144
      ],
      "id": "6549ca4b-3c1e-4397-8a8b-a48373f79ffd",
      "name": "SaveMerge1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * NODO: Update Stakeholder Balance (Minimal)\n */\n\nconst results = [];\n\nfor (const item of $input.all()) {\n    const data = item.json;\n    const stakeholder = data.stakeholder;\n    const summary = data.transaction_summary;\n\n    if (stakeholder && summary) {\n        // 1. Applica il saldo finale calcolato\n        stakeholder.commercial_profile.credit_balance.available_credits = summary.final_balance;\n        \n        // 2. Usa il timestamp del riepilogo per tutto\n        const ts = summary.timestamp; // Es: \"2026-03-02T17:21:41.227Z\"\n        \n        stakeholder.commercial_profile.credit_balance.last_update = ts;\n        stakeholder.commercial_profile.credit_balance.last_transaction_id = ts; // Usiamo il timestamp come ID\n        stakeholder.metadata.last_updated = ts;\n    }\n\n    results.push({\n        stakeholder_owner: stakeholder\n    });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -288
      ],
      "id": "d02f65cb-b564-49ea-9940-e792bdeab407",
      "name": "Update Stakeholder_Owner Balance"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35098b5f-dab1-4a10-b0c1-245921560243",
              "name": "={{ $json.outputRename }}",
              "value": "={{ $json.sOUTPUT }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        912
      ],
      "id": "d8ef3e6d-9029-4199-89aa-8a6f86ae7ec2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "billing_buffers",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"Listino_Prezzi\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"service\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"listino_prezzi\": \"$service.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -976,
        832
      ],
      "id": "9145ebb1-c9be-40bf-8aa0-c51b3c0f5eac",
      "name": "Price",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        848
      ],
      "id": "146057be-c53c-4815-bcf1-0ce7fad73e7d",
      "name": "SuccesMerge2"
    },
    {
      "parameters": {
        "jsCode": "// NODO: SiteBoS Billing - Dynamic Edition\n// VERSIONE: 8.1 - Listino pre-unificato in ingresso e Matching Intelligente\n\n// --- 1. RECUPERO LISTINO UNIFICATO IN INGRESSO ---\nconst item = $input.first().json;\n\n// Estraiamo il listino prezzi dall'oggetto pre-unificato \"listino_prezzi\"\nconst pricesDoc = item.listino_prezzi || {};\nlet dynamicPricing = pricesDoc.listino_prezzi || [];\n\n// Fallback locale di sicurezza se l'array dei prezzi risulta vuoto o non integro\nif (!Array.isArray(dynamicPricing) || dynamicPricing.length === 0) {\n    dynamicPricing = [\n        { model_pattern: \"lite\", rates: { in: 0.10, out: 0.40 }, has_threshold: false },\n        { model_pattern: \"2.5-flash\", rates: { in: 0.30, out: 2.50 }, has_threshold: false },\n        { model_pattern: \"3-flash\", rates: { in: 0.50, out: 3.00 }, has_threshold: false },\n        { model_pattern: \"3.5-flash\", rates: { in: 1.50, out: 9.00 }, has_threshold: false },\n        { \n            model_pattern: \"pro\", \n            rates: {\n                base: { in: 2.00, out: 12.00 },\n                long: { in: 4.00, out: 18.00 }\n            },\n            has_threshold: true,\n            threshold_tokens: 200000\n        }\n    ];\n}\n\n// Il Moltiplicatore che copre tutto (Server, n8n, Mongo, Valore IP)\nconst X_MULTIPLIER = 1200; \n\n// --- 2. ESTRAZIONE METADATI E CONTESTO ---\nif (!item.usageMetadata || !item.modelVersion) {\n    return [{ json: { ...item, billing_error: \"Metadata di utilizzo o modelVersion mancanti nel payload\" } }];\n}\n\nconst meta = item.usageMetadata;\nconst model = item.modelVersion.toLowerCase(); // Risolve ad esempio: \"gemini-3.5-flash\"\nconst inputTokens = meta.promptTokenCount || 0;\nconst outputTokens = meta.candidatesTokenCount || 0;\n\n// --- 3. MATCHING INTELLIGENTE ---\n// Ordiniamo le regole del listino per lunghezza decrescente del pattern.\n// In questo modo i pattern più specifici (es. \"3.5-flash\") vengono valutati prima di quelli più generici (es. \"flash\").\nconst sortedRules = [...dynamicPricing].sort((a, b) => b.model_pattern.length - a.model_pattern.length);\n\nlet matchedRule = null;\nfor (const rule of sortedRules) {\n    if (model.includes(rule.model_pattern.toLowerCase())) {\n        matchedRule = rule;\n        break;\n    }\n}\n\n// Fallback cautelativo se nessun pattern corrisponde al modello restituito dall'API\nif (!matchedRule) {\n    matchedRule = sortedRules.find(r => r.model_pattern.includes(\"3-flash\")) || sortedRules[0];\n}\n\n// --- 4. SELEZIONE DELLE TARIFFE (CON SOGLIA) ---\nlet rates = { in: 0, out: 0 };\n\nif (matchedRule.has_threshold) {\n    const threshold = matchedRule.threshold_tokens || 200000;\n    if (inputTokens > threshold) {\n        rates = matchedRule.rates.long;\n    } else {\n        rates = matchedRule.rates.base;\n    }\n} else {\n    rates = matchedRule.rates;\n}\n\n// --- 5. CALCOLO COSTO USD E CREDITI ---\nconst costUSD = ((inputTokens / 1e6) * rates.in) + ((outputTokens / 1e6) * rates.out);\n\n// Calcolo finale dei crediti garantendo un valore minimo di 1 e l'arrotondamento per eccesso\nlet finalCredits = Math.max(costUSD * X_MULTIPLIER, 1);\nfinalCredits = Math.ceil(finalCredits);\n\n// --- 6. PREPARAZIONE OUTPUT ---\nreturn [{\n    json: {\n        billing: {\n            model: model,\n            matched_pattern: matchedRule.model_pattern,\n            is_long_context: !!(matchedRule.has_threshold && inputTokens > (matchedRule.threshold_tokens || 200000)),\n            usage: { in: inputTokens, out: outputTokens },\n            usd_cost: Number(costUSD.toFixed(6)),\n            credits_deducted: finalCredits\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -592,
        848
      ],
      "id": "7370eb1f-33f4-48bb-baeb-a60e1bc3af89",
      "name": "Credit Billing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        752
      ],
      "id": "fb2b9e2c-07a7-4cc8-8d0f-b344bc5425a3",
      "name": "SuccessMerge3"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "billing_buffers",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": \"{{ $json.owner_data.vat_number }}\"\n    }\n  },\n  {\n    \"$project\": {\n      \"last_message\": {\n        \"$arrayElemAt\": [\"$messages\", -1]\n      },\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        96,
        768
      ],
      "id": "75fe4830-b1f0-4c35-8ed4-ee25d01967df",
      "name": "Last_Billing",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "success": true,
          "compliance_docs": {
            "content": "**REPORT DI CONFORMITÀ NORMATIVA (Asset: Workshop Uso Pratico Di N8n)**\n\n**Data:** 23 Aprile 2026\n**Sede Operativa:** Via esterna valle cuba, 90046 Monreale (PA)\n**Oggetto:** Conformità legale e operativa per erogazione servizi di consulenza e formazione tecnica.\n\n---\n\n### 1. Protezione Dati Personali (GDPR e D.Lgs. 196/2003)\nIl servizio prevede l'accesso dell'erogatore (Garofalo Consulting) all'istanza n8n del cliente. Tale attività configura a tutti gli effetti un **trattamento di dati per conto terzi**.\n\n*   **Riferimento Normativo:** Regolamento UE 2016/679 (GDPR), Art. 28.\n*   **Analisi:** L'accesso a un'istanza (che potenzialmente contiene dati sensibili, credenziali, API keys di terze parti) richiede necessariamente una **Nomina a Responsabile Esterno del Trattamento (DPA - Data Processing Agreement)**. Non è sufficiente l'informativa generica.\n*   **Rischio:** In caso di data breach sull'istanza del cliente durante o dopo la sessione, il consulente rischia una responsabilità solidale se non è stata formalizzata una nomina specifica.\n\n### 2. Conformità Commerciale e Tutela del Consumatore\nIl workshop è offerto sia a freelance (B2B) che potenzialmente a privati (B2C).\n\n*   **Riferimento Normativo:** Codice del Consumo (D.Lgs. 206/2005).\n*   **Analisi:** \n    *   **Vendita Online:** Se il workshop è acquistato tramite sito web, devono essere chiaramente visibili le clausole sul diritto di recesso (14 giorni) e le condizioni contrattuali.\n    *   **Modifica del Recesso:** Ai sensi dell'art. 59, lett. o) del Codice del Consumo, il diritto di recesso può essere escluso se l'esecuzione del servizio digitale inizia col consenso espresso dell'utente prima della scadenza dei 14 giorni. È necessario inserire una *checkbox* specifica di accettazione.\n    *   **Trasparenza Prezzi:** I prezzi devono essere esposti comprensivi di IVA (22%) con indicazione chiara di cosa è incluso nel prezzo base vs opzioni extra.\n\n### 3. Responsabilità Professionale (Diritto Civile)\nIl servizio combina formazione (didattica) e consulenza (analisi workflow).\n\n*   **Riferimento Normativo:** Codice Civile, Art. 2222 e segg. (Contratto d'opera).\n*   **Analisi:** Il consulente deve distinguere tra **Obbligazione di Mezzi** (insegnare ad usare lo strumento) e **Obbligazione di Risultato** (l'analisi workflow specifica che garantisce una funzione operativa).\n    *   L'opzione \"Analisi workflow specifica\" è un servizio di consulenza. È necessario un contratto che definisca i limiti della responsabilità: il consulente non risponde di eventuali blocchi delle API di terze parti (es. OpenAI/Gemini/Google) causati da fattori esterni.\n\n### 4. Sicurezza sul Lavoro (Sede di Monreale)\nQualora il workshop venga erogato in presenza presso la sede di Via esterna Valle Cuba:\n\n*   **Riferimento Normativo:** D.Lgs 81/08 (Testo Unico sulla Sicurezza).\n*   **Analisi:** Se l'ufficio accoglie clienti (es. workshop in presenza), è obbligatorio:\n    *   Documento di Valutazione dei Rischi (DVR) aggiornato.\n    *   Segnaletica di emergenza e piano di evacuazione.\n    *   Verifiche periodiche degli impianti elettrici (D.P.R. 462/01).\n    *   *Nota:* Se il workshop è erogato esclusivamente online, tale obbligo riguarda solo la postazione di lavoro del dipendente/consulente.\n\n---\n\n### PIANO D'AZIONE OPERATIVO\n\n| Area | Azione Pratica | Responsabile |\n| :--- | :--- | :--- |\n| **Privacy** | Redigere e far sottoscrivere un **DPA (Data Processing Agreement)** specifico per l'accesso alle istanze n8n dei clienti. | Titolare/Privacy Officer |\n| **Contrattuale** | Inserire clausola di \"Esclusione di responsabilità\" per danni derivanti da modifiche delle API di terze parti (es. Gemini/MongoDB). | Legale/Consulente |\n| **E-Commerce** | Aggiungere check-box \"Accetto l'inizio immediato del servizio e rinuncio al diritto di recesso\" nel checkout online. | Webmaster/Sviluppatore |\n| **Liability** | Verificare la copertura della polizza **RC Professionale**: deve includere danni da \"errata consulenza informatica\" e \"perdita di dati\". | Titolare |\n| **Sicurezza (PA)** | Se workshop in presenza: verificare che il locale rispetti le norme antincendio per locali adibiti ad ufficio (D.M. 3/08/2015). | RSPP/Titolare |\n\n---\n\n**Nota di conformità:** Si consiglia vivamente di far revisionare il modello di contratto standard da un legale, specificando che il servizio di \"Analisi workflow\" non garantisce la continuità del servizio (uptime) delle integrazioni create, essendo queste subordinate alle policy dei vendor terzi (n8n, Google, MongoDB).",
            "additional_kwargs": {},
            "response_metadata": {}
          },
          "headers": {
            "host": "prod.workflow.trinai.it",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/149.0.0.0 Safari/537.36 Edg/149.0.0.0",
            "content-length": "1783",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "it,it-IT;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "https://trinaibusinessoperatingsystem.github.io",
            "priority": "u=1, i",
            "referer": "https://trinaibusinessoperatingsystem.github.io/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"24\", \"Microsoft Edge WebView2\";v=\"149\", \"Microsoft Edge\";v=\"149\", \"Chromium\";v=\"149\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "151.19.6.28",
            "x-forwarded-host": "prod.workflow.trinai.it",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "_auth": "query_id=AAFrba15AAAAAGttrXn22Bz7&user=%7B%22id%22%3A2041408875%2C%22first_name%22%3A%22Giuseppe%22%2C%22last_name%22%3A%22Garofalo%22%2C%22username%22%3A%22TrinAi_OperativeChief%22%2C%22language_code%22%3A%22it%22%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2FvPTjxONkQ6hvO3p2LwlkoZjewgAm1sVh8k7dFYDeczY.svg%22%7D&auth_date=1781179377&signature=R4Gcbn0aezNJa7fSfci70iW-tgx0XMFHace2RWxrneUIOHBM64RomeBlfedo7XTowR5JwIYTKSVD6AfX5wSpAQ&hash=933c76b37ab73d657fd8fee88a9afeae0cc5315ed619569f04a02a4cc8f400c5",
            "ash": "MjA0MTQwODg3NXwxNzgxMTc5Mzc1NDg5fGVmNGFlY2U0LTllYzAtNDAyNi1hN2E3LTMyODU2MmJjYmRmNg==.62fa836c",
            "message_id": "643",
            "action": "GENERATE_ADVANCED_DRAFT",
            "sop_id": "SVC_KH3MCNO3",
            "product_state": {
              "name": "Workshop Uso Pratico Di N8n",
              "type": "SERVICE",
              "short": "Automatizza il tuo business: impara a costruire workflow intelligenti con n8n e AI.",
              "long": "Scopri come trasformare la tua operatività aziendale in un ecosistema autonomo. In questo workshop pratico guidato da Garofalo Consulting, apprenderai l'orchestrazione avanzata dei flussi di lavoro utilizzando n8n, integrando Google Gemini e MongoDB. Elimina la disorganizzazione e rendi la tua Partita IVA una struttura Enterprise efficiente.",
              "price": "297",
              "cur": "EUR",
              "uom": "item",
              "tax": "22",
              "booking": true,
              "inv": false,
              "notes_enabled": true,
              "st": "n8n expert,AI architect,business consultant",
              "ex": "[{\"name\":\"Analisi workflow specifica (1h)\",\"price\":150},{\"name\":\"Registrazione sessione + PDF blueprint\",\"price\":47},{\"name\":\"Sessione follow-up 30min\",\"price\":97}]",
              "suppliers": "[]",
              "locations": "[]",
              "bom": "[]",
              "assets": "[]"
            },
            "user_instructions": "",
            "grounded_files": {
              "suppliers": null,
              "bom": null,
              "locations": null,
              "assets": null
            }
          },
          "webhookUrl": "https://prod.workflow.trinai.it/webhook/6333dff0-d886-499c-8000-f3e0266845ed",
          "executionMode": "production",
          "urlMiniApp": "https://trinaibusinessoperatingsystem.github.io/SiteBoS-MiniApp/telegram_control/",
          "owner_data": {
            "user_id": "IT06988830821",
            "chat_id": 2041408875,
            "access_token": "3884d06f-f913-49c6-8544-200a96b79805",
            "group_id": null,
            "user_name": "",
            "vat_number": "IT06988830821",
            "gemini_key": "YOUR_GEMINI_API_KEY",
            "bot_key": "8680185361:AAFb_6KjAXXw_YUPe4bI_SkVKBaateiEK9A",
            "path": "",
            "name": "Giuseppe",
            "surname": "Garofalo",
            "email": "garofalo.giuseppe77@gmail.com",
            "phone": "3273569647",
            "ragione_sociale": "Garofalo AI Consulting",
            "indirizzo": "Via esterna valle cuba , 90046 Monreale (PA)",
            "fiscal_code": "GRFGPP77M30G273K",
            "sdi_pec": "KRRH6B9",
            "site": "https://garofaloai.com/",
            "linkedin_page": "https://www.linkedin.com/in/giuseppe-garofalo-8bb95880/",
            "facebook_page": "",
            "instagram_page": "",
            "twitter_page": "",
            "sector": "services_consulting",
            "business_description": "AI System Architect & Business Automation Engineer.\nCostruzione ecosistemi software completi per le Tiny Enterprise. Unendo in modo magistrale l'orchestrazione di n8n, l'intelligenza di Google Gemini (Flash/Pro) e la robustezza di MongoDB, trasformiamo una semplice Partita IVA in un'azienda strutturata, dotata di cataloghi dinamici, assessment HR (Soft Skills) e automazione documentale.",
            "kyc_details": {
              "professional_questionnaire": {
                "role": "freelance_solo",
                "team_size": "solo",
                "years_experience": "3-5",
                "hard_skills": [
                  "n8n Advanced Automation",
                  "Google Gemini API",
                  "System Architecture (SaaS)",
                  "Prompt Engineering Avanzato",
                  "MongoDB (NoSQL)",
                  "Intelligent Process Automation",
                  "API & Webhooks Integration",
                  "Algorithmic Billing Logic",
                  "JSON Data Structuring"
                ],
                "certifications": "Sistemi di Automazione Avanzata (n8n): Esperto certificato/specializzato nella progettazione di workflow complessi e automazione dei processi aziendali (IPA).\nArchitettura Cloud & AI (Google Cloud / Gemini): Competenze avanzate nell'integrazione delle API di Google Gemini e nell'ingegnerizzazione di prompt architetturali per modelli linguistici di grandi dimensioni.\nProject & Business Management: Data la sua esperienza ultra-ventennale in ruoli tecnici e di coordinamento, il profilo riflette certificazioni o mastery nell'architettura di sistemi SaaS e gestione di infrastrutture IT complesse.\nSicurezza & Compliance: Esperienza specifica in normative come il GDPR (fondamentale per il suo \"Metodo Godfellas\" di anonimizzazione dati).",
                "recent_training": "online_course",
                "specialization_level": "versatile",
                "digital_tools": [
                  "email",
                  "whatsapp",
                  "excel",
                  "word",
                  "calendar",
                  "social",
                  "crm",
                  "accounting",
                  "project_mgmt",
                  "design",
                  "ecommerce",
                  "analytics",
                  "video",
                  "code"
                ],
                "client_workflow": "digital_dominant",
                "document_management": "gestionale",
                "pain_points": [
                  "find_clients",
                  "disorganization",
                  "costs_control",
                  "scaling",
                  "competition"
                ],
                "main_goal": "beat_competition"
              }
            },
            "subscription_plan": "pioneer_free_trial",
            "subscription_status": "Pending_Activation",
            "credits_balance": 998574,
            "model_choice": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-lite-latest:generateContent",
            "lenguage": "Italiano",
            "owner_unavailable_time": "21-7",
            "operator_unavailable_time": "19-9",
            "operators": [
              {
                "OperatorName": "Giuseppe Garofalo",
                "OperatorChatID": 2041408875,
                "OperatorLenguage": "Italiano",
                "FreeHandOperator": true,
                "Role": "Owner",
                "GeminiKey": "YOUR_GEMINI_API_KEY"
              },
              {
                "OperatorName": "garofalo giuseppe",
                "OperatorChatID": 720379727,
                "Role": "Operator",
                "FreeHandOperator": true,
                "status": "ACTIVE",
                "created_at": "2026-04-03T16:42:28.161Z",
                "OperatorEmail": "tbos@app.trinai.it",
                "GeminiKey": ""
              }
            ],
            "payment_preference": "wire",
            "terms_accepted": true,
            "operator_owner": "",
            "operator_credit": "1",
            "created_at": "2026-03-02T13:33:53.049Z",
            "additional_kwargs": {},
            "response_metadata": {},
            "subscription_assistant": true,
            "subscription_certificator": true,
            "last_update": "2026-04-28T13:56:26.385Z",
            "subscription_custombot": true,
            "customer_bot_config": {
              "status": "ACTIVE",
              "activated_at": "2026-04-04T10:19:19.567Z",
              "last_updated_at": "2026-04-16T17:02:30.058Z",
              "identity": {
                "agent_name": "Giovanni Neve",
                "role_persona": "sales_agent"
              },
              "permissions": {
                "allow_images": true,
                "allow_files": true
              },
              "personality": {
                "tone": "friendly",
                "vibe": "helpful_assistant",
                "language_style": "casual",
                "emoji_usage": "frequent",
                "custom_instructions": ""
              },
              "business_logic": {
                "primary_goal": "lead_generation",
                "fallback_message": "Al momento non dispongo di questa informazione specifica. Preferisce che inoltri la Sua richiesta a un operatore umano?"
              },
              "system_safety_limits": {
                "max_daily_messages_per_user": 20,
                "max_tokens_per_chat": 2000
              }
            },
            "payment_provider_token": "1877036958:TEST:0a3114c28d4099b70a8ee7e8e1461bc59bd541e6"
          },
          "Company_ApiOverview": null,
          "isValid": true,
          "isExpired": false,
          "isHashValid": true,
          "user": {
            "id": 2041408875,
            "first_name": "Giuseppe",
            "last_name": "Garofalo",
            "username": "TrinAi_OperativeChief",
            "language_code": "it",
            "allows_write_to_pm": true,
            "photo_url": "https://t.me/i/userpic/320/vPTjxONkQ6hvO3p2LwlkoZjewgAm1sVh8k7dFYDeczY.svg"
          },
          "auth_date_human": "11/06/2026, 12:02:57",
          "debug": {
            "time_diff_seconds": 29,
            "computed": "933c76b37ab73d657fd8fee88a9afeae0cc5315ed619569f04a02a4cc8f400c5",
            "received": "933c76b37ab73d657fd8fee88a9afeae0cc5315ed619569f04a02a4cc8f400c5"
          },
          "catalog_item": {
            "_id": "IT06988830821-SVC_KH3MCNO3",
            "document_type": "CATALOG_ITEM",
            "version": "1.0",
            "owner_instance_id": "IT06988830821",
            "metadata": {
              "status": "ACTIVE",
              "source": "CHAT_INFERENCE",
              "created_at": "2026-04-23T05:28:14.901Z",
              "is_duplicate": false,
              "duplicate_of": null,
              "last_updated_at": "2026-04-23T10:18:52.771Z"
            },
            "identity": {
              "item_name": "Workshop Uso Pratico Di N8n",
              "item_sku": "SVC_KH3MCNO3",
              "item_type": "SERVICE",
              "description": {
                "short": "Automatizza il tuo business: impara a costruire workflow intelligenti con n8n e AI.",
                "long": "Scopri come trasformare la tua operatività aziendale in un ecosistema autonomo. In questo workshop pratico guidato da Garofalo Consulting, apprenderai l'orchestrazione avanzata dei flussi di lavoro utilizzando n8n, integrando Google Gemini e MongoDB. Elimina la disorganizzazione e rendi la tua Partita IVA una struttura Enterprise efficiente.",
                "internal_notes": "Workshop di formazione tecnica focalizzato su casi d'uso reali per piccole imprese. Richiede accesso a istanza n8n del cliente."
              },
              "category": "CAT_4OF0QVKK",
              "tags": [
                "n8n",
                "automazione",
                "intelligenza artificiale",
                "workflow",
                "efficienza aziendale",
                "digital transformation",
                "consulenza AI"
              ],
              "keywords": [
                "automazione processi",
                "ottimizzazione tempo",
                "integrazione API",
                "orchestrazione dati",
                "Garofalo Consulting"
              ]
            },
            "pricing": {
              "base_price": 297,
              "currency": "EUR",
              "unit_of_measure": "item",
              "tax_info": {
                "taxable": true,
                "tax_rate_percentage": 22
              },
              "pricing_rules_engine": {
                "is_dynamic_price": true,
                "rules_ids": [],
                "notes": "Prezzo base workshop standard. Possibili variazioni in base a personalizzazioni richieste."
              },
              "cost_of_goods": null
            },
            "commercial_setup": {
              "extra_options": [
                {
                  "name": "Analisi workflow specifica (1h)",
                  "price": 150
                },
                {
                  "name": "Registrazione sessione + PDF blueprint",
                  "price": 47
                },
                {
                  "name": "Sessione follow-up 30min",
                  "price": 97
                }
              ],
              "allow_customer_notes": true
            },
            "operations": {
              "requires_booking": true,
              "requires_inventory_check": false,
              "process_blueprint_id": null,
              "fulfillment_time": {
                "value": 4,
                "unit": "hours"
              },
              "provider_info": {
                "required_skill_tags": [
                  "n8n expert",
                  "AI architect",
                  "business consultant"
                ],
                "specific_provider_ids": []
              }
            },
            "relations": {
              "related_items": [],
              "marketing_info": {
                "is_featured": true,
                "target_audience_tags": [
                  "freelance",
                  "tiny enterprise",
                  "business owner"
                ]
              }
            },
            "additional_kwargs": {},
            "response_metadata": {},
            "ui_node_draft": {
              "name": "Workshop uso pratico di n8n",
              "short_name": "🤖 Workshop n8n",
              "callback_data": "SVC_KH3MCNO3",
              "blueprint_ready": true
            }
          },
          "blueprint": {
            "_id": "IT06988830821-SVC_KH3MCNO3",
            "document_type": "PROCESS_BLUEPRINT",
            "version": "1.0",
            "owner_instance_id": "IT06988830821",
            "metadata": {
              "status": "ACTIVE",
              "created_at": "2026-04-23T10:01:56.777Z",
              "last_updated_at": "2026-04-23T10:01:56.777Z"
            },
            "service_sku": "SVC_KH3MCNO3",
            "blueprint_name": "[SER] - Workshop Uso Pratico Di N8n",
            "blueprint_description": "Erogazione workshop tecnico per trasformazione Partita IVA in infrastruttura Enterprise, integrando n8n, MongoDB e Google Gemini.",
            "blueprint_type": "SERVICE_DELIVERY",
            "tags": [
              "N8N",
              "Automazione",
              "GDPR",
              "Workshop",
              "Enterprise"
            ],
            "summary": {
              "estimated_total_cost": "297.00 EUR (Base)",
              "estimated_total_time_minutes": 240,
              "bill_of_materials_summary": [
                {
                  "material_sku": "LIC_N8N_TEMPLATE",
                  "quantity": 1,
                  "unit_of_measure": "license"
                },
                {
                  "material_sku": "SVC_WORKFLOW_ANALYSIS",
                  "quantity": 1,
                  "unit_of_measure": "unit"
                }
              ]
            },
            "stages": [
              {
                "stage_id": "STAGE_00",
                "stage_order": 1,
                "stage_name": "Compliance & Onboarding",
                "description": "Verifica requisiti legali e contrattuali prima dell'erogazione",
                "steps": [
                  {
                    "step_id": "STEP_00_01",
                    "step_order": 1,
                    "step_name": "Verifica Pagamento e Nomina DPA",
                    "instructions": "Verificare il saldo e sottoscrivere il DPA (Data Processing Agreement) per l'accesso ai dati del cliente.",
                    "estimated_time_minutes": 10,
                    "resources_needed": {
                      "labor": {
                        "required_skill_tags": [
                          "Legal Compliance"
                        ],
                        "estimated_work_minutes": 10
                      },
                      "materials": [],
                      "assets": []
                    },
                    "quality_check": {
                      "is_required": true,
                      "evidence_type": "SIGNATURE",
                      "check_description": "Sottoscrizione digitale DPA conforme GDPR Art. 28",
                      "acceptance_criteria": "Firma valida e timestamp acquisito"
                    },
                    "logistics_flags": {
                      "requires_wip": false,
                      "requires_finished": false
                    }
                  },
                  {
                    "step_id": "STEP_00_02",
                    "step_order": 2,
                    "step_name": "Rinuncia Diritto di Recesso",
                    "instructions": "Acquisire consenso espresso per avvio servizio digitale ante 14 giorni.",
                    "estimated_time_minutes": 5,
                    "resources_needed": {
                      "labor": {
                        "required_skill_tags": [
                          "Admin"
                        ],
                        "estimated_work_minutes": 5
                      },
                      "materials": [],
                      "assets": []
                    },
                    "quality_check": {
                      "is_required": true,
                      "evidence_type": "SIGNATURE",
                      "check_description": "Accettazione clausola ex Art. 59 lett. o Codice Consumo",
                      "acceptance_criteria": "Check-box firmata digitalmente"
                    },
                    "logistics_flags": {
                      "requires_wip": false,
                      "requires_finished": false
                    }
                  }
                ]
              },
              {
                "stage_id": "STAGE_01",
                "stage_order": 2,
                "stage_name": "Workshop Delivery",
                "description": "Esecuzione parte didattica e tecnica",
                "steps": [
                  {
                    "step_id": "STEP_01_01",
                    "step_name": "Setup Ambiente e MongoDB Atlas",
                    "instructions": "Verifica accesso istanza n8n e provisionamento database MongoDB tramite template fornito.",
                    "estimated_time_minutes": 45,
                    "resources_needed": {
                      "labor": {
                        "required_skill_tags": [
                          "N8N Expert",
                          "Database Admin"
                        ],
                        "estimated_work_minutes": 45
                      },
                      "materials": [],
                      "assets": []
                    },
                    "quality_check": {
                      "is_required": true,
                      "evidence_type": "VISION",
                      "check_description": "Verifica visiva connessione DB e istanza",
                      "acceptance_criteria": "Connessione MongoDB confermata su dashboard n8n"
                    },
                    "logistics_flags": {
                      "requires_wip": false,
                      "requires_finished": true
                    }
                  },
                  {
                    "step_id": "STEP_01_02",
                    "step_name": "Orchestrazione Flussi",
                    "instructions": "Implementazione logica di automazione e integrazione Gemini.",
                    "estimated_time_minutes": 180,
                    "resources_needed": {
                      "labor": {
                        "required_skill_tags": [
                          "N8N Architect",
                          "AI Specialist"
                        ],
                        "estimated_work_minutes": 180
                      },
                      "materials": [],
                      "assets": []
                    },
                    "quality_check": {
                      "is_required": false,
                      "evidence_type": "NONE",
                      "check_description": "Erogazione didattica",
                      "acceptance_criteria": "N/A"
                    },
                    "logistics_flags": {
                      "requires_wip": false,
                      "requires_finished": false
                    }
                  }
                ]
              },
              {
                "stage_id": "STAGE_02",
                "stage_order": 3,
                "stage_name": "Quality Assurance & Upsell Delivery",
                "description": "Revisione tecnica e consegna materiali",
                "steps": [
                  {
                    "step_id": "STEP_02_01",
                    "step_name": "Analisi Workflow Specifica (Opzionale)",
                    "instructions": "Analisi tecnica dell'architettura costruita dal cliente per validazione in produzione.",
                    "estimated_time_minutes": 60,
                    "resources_needed": {
                      "labor": {
                        "required_skill_tags": [
                          "N8N Expert"
                        ],
                        "estimated_work_minutes": 60
                      },
                      "materials": [],
                      "assets": []
                    },
                    "quality_check": {
                      "is_required": true,
                      "evidence_type": "FILE",
                      "check_description": "Report di validazione tecnica dell'istanza",
                      "acceptance_criteria": "PDF firmato con esito validazione"
                    },
                    "logistics_flags": {
                      "requires_wip": false,
                      "requires_finished": true
                    }
                  }
                ]
              }
            ],
            "additional_kwargs": {},
            "response_metadata": {}
          },
          "honeypots": {
            "company_context_string": "Garofalo Consulting, guidata dall'AI System Architect Giuseppe Garofalo, è specializzata nella Trasformazione Strutturale basata sull'Intelligenza Artificiale per le Tiny Enterprises italiane. Il suo approccio unico consiste nell'architettare ecosistemi software completi, utilizzando n8n per l'orchestrazione dei workflow, Google Gemini per l'intelligenza decisionale e MongoDB per la gestione robusta dei dati. L'obiettivo primario è elevare le Partite IVA a strutture aziendali efficienti, eliminando la disorganizzazione cronica attraverso l'automazione intelligente di compiti complessi come l'assessment HR e la gestione dei cataloghi dinamici.",
            "offer_text": "⚙️<br><br>La tua Partita IVA è pronta per l'upgrade Enterprise? Smetti di fare il giocoliere tra documenti e processi manuali.<br><br>Noi di <b>Garofalo Consulting</b> trasformiamo la tua operatività in un <b>Ecosistema Digitale Autonomo</b>, orchestrando la potenza di <b>n8n</b>, <b>Gemini</b> e <b>MongoDB</b>.<br><br>🔸 Costruiamo automazioni che durano, non soluzioni tampone.<br>🔸 Ti garantiamo la <b>struttura</b> di una grande azienda.<br><br>Stiamo offrendo <b>SOLO 5 POSTI</b> questa settimana per la nostra sessione privata: <i>\"Blueprint dell'Infrastruttura AI\"</i>. Vedrai esattamente come digitalizzare le tue aree critiche (HR Assessment, Cataloghi Dinamici, Documentazione).<br><br>✨ <b>Sei pronto a forgiare la tua resilienza aziendale?</b>",
            "knowledge_fragments": [
              {
                "fragment_id": "COMPANY_OVERVIEW_V1",
                "user_utterances": [
                  "Cos'è Garofalo Consulting?",
                  "Parlami di Garofalo AI",
                  "Cosa fa esattamente questa ditta?"
                ],
                "answer_fragment": "Garofalo Consulting, guidata da Giuseppe Garofalo, si configura come un architetto di sistemi focalizzato sulla trasformazione digitale delle Tiny Enterprises italiane. L'azienda non vende software pre-confezionato, ma costruisce ecosistemi software completi su misura. Sfrutta tecnologie all'avanguardia come l'orchestrazione tramite n8n, l'intelligenza artificiale di Google Gemini e la flessibilità di MongoDB. L'obiettivo è trasformare un semplice professionista con Partita IVA in un'entità strutturata, automatizzando processi critici come la gestione documentale e gli assessment interni, garantendo robustezza e scalabilità.",
                "summary": "È l'ingegnere che fonde strumenti enterprise in un unico motore custom, trasformando il caos operativo di un libero professionista in una macchina aziendale automatizzata.",
                "sections": [
                  {
                    "question": "Qual è la storia di Garofalo Consulting?",
                    "answer": "Nata dall'esigenza di democratizzare l'architettura software, Garofalo Consulting ha iniziato mappando i processi manuali, evolvendo rapidamente nell'integrazione di LLM per risolvere la disorganizzazione strutturale tipica delle micro-imprese."
                  },
                  {
                    "question": "Come si è evoluta l'attività nel tempo?",
                    "answer": "L'evoluzione è stata rapida: da consulente IT tradizionale a specialista in \"AI-driven Structural Transformation\", ponendo l'accento sulla sostenibilità dei costi grazie all'uso strategico di n8n al posto di soluzioni proprietarie."
                  },
                  {
                    "question": "Qual è lo status operativo attuale?",
                    "answer": "Attualmente opera come entità snella e altamente specializzata (solo founder), concentrandosi sull'implementazione di agenti AI che gestiscono compiti complessi come l'analisi HR e la logica di fatturazione algoritmica per i clienti."
                  }
                ]
              },
              {
                "fragment_id": "MISSION_PURPOSE_V1",
                "user_utterances": [
                  "Qual è la missione di Garofalo Consulting?",
                  "Perché esiste Garofalo AI?",
                  "Qual è lo scopo aziendale?"
                ],
                "answer_fragment": "La missione fondamentale di Garofalo Consulting è colmare il significativo gap tecnologico esistente tra le grandi corporation e le \"Tiny Enterprises\" italiane. Mira a eliminare la disorganizzazione cronica che affligge i professionisti, fornendo loro un'infrastruttura digitale robusta e intelligente. Questo si realizza attraverso la creazione di un \"Ecosistema Software Completo\" che permette al cliente di scalare le proprie operazioni senza dover aumentare in modo proporzionale i costi del personale o l'esposizione a licenze software proibitive.",
                "summary": "Funge da ponte tecnologico, portando la potenza di un'infrastruttura complessa direttamente nelle mani del piccolo imprenditore per dargli la libertà di crescere.",
                "sections": [
                  {
                    "question": "Qual è la visione a lungo termine?",
                    "answer": "La visione è quella di rendere ogni Partita IVA tecnologicamente pari a una PMI strutturata, rendendo l'AI un'infrastruttura operativa e non solo uno strumento di marketing superficiale."
                  },
                  {
                    "question": "Quali sono i valori fondamentali?",
                    "answer": "I valori cardine sono l'**efficienza operativa**, la **trasparenza architetturale** (massimo controllo sul dato tramite n8n/MongoDB) e la **scalabilità sostenibile** per il cliente finale."
                  },
                  {
                    "question": "Quali obiettivi strategici persegue l'azienda?",
                    "answer": "L'obiettivo a lungo termine è diventare il punto di riferimento per l'automazione dei processi decisionali (IPA) nel segmento delle micro-imprese italiane, specialmente dove i dati sono complessi."
                  }
                ]
              },
              {
                "fragment_id": "PRODUCTS_SERVICES_V1",
                "user_utterances": [
                  "Cosa offrite come servizi?",
                  "Quali sono i prodotti principali di Garofalo AI?",
                  "Come viene implementata l'automazione?"
                ],
                "answer_fragment": "Garofalo Consulting offre un portafoglio di servizi focalizzato sull'implementazione di automazioni intelligenti. L'offerta principale include l'Analisi Aziendale per mappare i colli di bottiglia, la successiva Consulenza Strategica per la trasformazione digitale, e l'Implementazione diretta di Agenti AI personalizzati. Questi agenti integrano dati da CRM e gestionali, utilizzando Gemini per interpretare e agire. Vengono inoltre erogati Workshop Formativi mirati per trasferire la conoscenza operativa al cliente, rendendolo autonomo nella gestione dell'ecosistema costruito.",
                "summary": "Non vendiamo software, ma costruiamo il \"cervello digitale\" su misura che prende decisioni operative, aggiorna cataloghi e gestisce le risorse umane in automatico.",
                "sections": [
                  {
                    "question": "Quali categorie di prodotti sviluppate?",
                    "answer": "Le categorie spaziano dall'**Assessment HR** (valutazione soft skills tramite AI) ai **Cataloghi Dinamici** (aggiornamento automatico prezzi/inventario) fino alla gestione della **Fatturazione Algoritmica** basata su logiche complesse."
                  },
                  {
                    "question": "Che tipo di servizi specifici offrite?",
                    "answer": "Offriamo servizi di consulenza di alto livello, ingegnerizzazione del prompt avanzata e sviluppo di workflow multi-nodo complessi specificamente su n8n per garantire massima customizzazione."
                  },
                  {
                    "question": "Come avviene l'erogazione dei servizi?",
                    "answer": "L'implementazione è sempre **customizzata**; si parte da un audit approfondito per definire l'architettura ottimale, seguito da rilasci progressivi dei moduli automatizzati testati in ambiente sandbox."
                  }
                ]
              },
              {
                "fragment_id": "USP_DIFFERENTIATORS_V1",
                "user_utterances": [
                  "Perché dovrei scegliere Garofalo Consulting?",
                  "Qual è il vostro vero vantaggio competitivo?",
                  "Cosa vi distingue dagli altri consulenti AI?"
                ],
                "answer_fragment": "La Unique Selling Proposition di Garofalo Consulting risiede nell'integrazione strategica di tre componenti: 1. L'orchestrazione a basso costo di n8n, evitando le dipendenze SaaS eccessive. 2. L'uso mirato e performante di Google Gemini (Flash/Pro) per l'analisi dei dati. 3. La persistenza sicura dei dati in MongoDB, creando una \"memoria aziendale\" intelligente. Questo approccio tripartito consente di costruire soluzioni enterprise-grade accessibili e gestibili economicamente da una Partita IVA, cosa rara nel mercato.",
                "summary": "Siamo i fabbri che forgiano infrastrutture resilienti e flessibili, utilizzando attrezzi moderni per creare automazioni che durano nel tempo, non semplici soluzioni temporanee.",
                "sections": [
                  {
                    "question": "Quali sono i vantaggi competitivi tecnici?",
                    "answer": "Il vantaggio principale è la **maestria nell'integrazione di stack moderni** (n8n/Gemini/Mongo), che permette un controllo granulare sui dati e sui costi API rispetto a soluzioni closed-source offerte dalla concorrenza."
                  },
                  {
                    "question": "Quali marker di qualità garantite?",
                    "answer": "L'approccio è guidato da solide competenze in Architettura SaaS e IA, garantendo che ogni sistema implementato sia **robusto, sicuro (rispettando il GDPR e il \"Metodo Godfellas\" di anonimizzazione)** e pronto per la crescita."
                  },
                  {
                    "question": "Qual è il focus principale rispetto ai competitor?",
                    "answer": "A differenza di chi si limita a implementare chatbot, noi forniamo sistemi dove il cliente mantiene il **controllo totale sull'infrastruttura di orchestrazione**, minimizzando i vincoli di vendor lock-in."
                  }
                ]
              },
              {
                "fragment_id": "TARGET_CUSTOMERS_V1",
                "user_utterances": [
                  "Chi è il cliente ideale per Garofalo Consulting?",
                  "Lavorate con le grandi aziende?",
                  "Quali professionisti beneficiano di più dei vostri servizi?"
                ],
                "answer_fragment": "Il target primario è la **\"Tiny Enterprise\"**, ovvero il professionista o la micro-azienda (fino a 10 dipendenti) che ha raggiunto un plateau di crescita dovuto a inefficienze operative interne. Questi clienti soffrono tipicamente di sovraccarico di lavoro manuale, data entry ripetitivo e mancanza di dati strutturati per decisioni strategiche. Essi necessitano di scalare il volume d'affari ma sono bloccati dalla disorganizzazione, cercando una soluzione che agisca come un vero e proprio \"dipendente digitale\" ad alta capacità analitica.",
                "summary": "Sono i solopreneur e le micro-imprese che hanno successo ma sono annegati nella burocrazia interna, cercando un'architettura che li liberi per concentrarsi sulla crescita del business.",
                "sections": [
                  {
                    "question": "Quali segmenti di clientela servite principalmente?",
                    "answer": "Serviamo principalmente Ditte Individuali e PMI con una forte componente di gestione documentale o di catalogo prodotti che richiedono alta velocità decisionale e automazione del back-office."
                  },
                  {
                    "question": "Quali settori tipicamente beneficiano di più?",
                    "answer": "Qualsiasi settore che gestisce **documenti complessi o grandi volumi di dati**, come studi professionali, piccole realtà e-commerce o società di servizi B2B che necessitano di strutturare dati non relazionali."
                  },
                  {
                    "question": "Quali problemi risolvete per loro?",
                    "answer": "L'azienda risolve specificamente i problemi di **disorganizzazione cronica**, **difficoltà a scalare** senza assumere nuovo personale e **controllo insufficiente dei costi** operativi legati al lavoro manuale."
                  }
                ]
              },
              {
                "fragment_id": "CONTACT_HOURS_V1",
                "user_utterances": [
                  "Come posso contattare Giuseppe Garofalo?",
                  "Quali sono i vostri orari di ufficio aggiornati?",
                  "Quando siete disponibili per una chiamata il Martedì?",
                  "Ci sono orari fissi per le consulenze?",
                  "Siete operativi il Giovedì?",
                  "È possibile fissare un appuntamento la sera?"
                ],
                "answer_fragment": "Giuseppe Garofalo riceve consulenze esclusivamente su appuntamento, essenziali per l'architettura software personalizzata. La disponibilità diretta (telefono o videochiamata) è concentrata nei seguenti slot: Lunedì dalle 08:00 alle 15:00. Martedì e Mercoledì sono disponibili dalle 08:00 alle 13:00 e successivamente dalle 14:00 alle 20:00. Si noti che Giovedì e Venerdì sono interamente dedicati ad attività di implementazione tecnica e non prevedono contatti diretti programmati. Per la pianificazione, utilizzare l'email `garofalo.giuseppe77@gmail.com` o il telefono `3273569647`.",
                "summary": "La reperibilità diretta è ora attiva Lunedì (fino alle 15:00) e Martedì/Mercoledì con chiusura estesa alle 20:00. Giovedì e Venerdì sono riservati esclusivamente all'implementazione tecnica senza slot di contatto diretto.",
                "sections": [
                  {
                    "question": "Quali sono i metodi di contatto prioritari?",
                    "answer": "Email (`garofalo.giuseppe77@gmail.com`) o telefono (`3273569647`) sono i canali primari. Ogni interazione umana deve essere programmata in base alla disponibilità settimanale dettagliata, poiché il servizio è erogato esclusivamente su appuntamento."
                  },
                  {
                    "question": "Dove si trova fisicamente la base operativa?",
                    "answer": "La base operativa e la sede legale sono localizzate in provincia di Palermo (Monreale), ma il servizio di architettura software è fornito a livello nazionale grazie alla natura digitale e remota delle implementazioni."
                  },
                  {
                    "question": "Quando è possibile fissare una consulenza diretta e quali sono le ore di maggiore flessibilità?",
                    "answer": "Le consulenze sono programmate Lunedì dalle 08:00 alle 15:00, e Martedì e Mercoledì dalle 08:00 alle 13:00 e dalle 14:00 alle 20:00. Le ore serali fino alle 20:00 sono garantite solo il Martedì e il Mercoledì. Non vi è disponibilità per contatti diretti il Giovedì o il Venerdì."
                  }
                ]
              },
              {
                "fragment_id": "PROCESS_HOW_IT_WORKS_V1",
                "user_utterances": [
                  "Qual è il vostro metodo di lavoro?",
                  "Spiegami il processo di implementazione di un sistema AI.",
                  "Come si passa dall'idea al sistema funzionante?"
                ],
                "answer_fragment": "Il processo di trasformazione di Garofalo Consulting è metodico e orientato alla produzione di valore immediato. Inizia con una fase di **Analisi Aziendale** per mappare i processi più inefficienti. Successivamente, si passa alla fase di Architettura, dove si progetta l'integrazione ottimale tra n8n, Gemini e MongoDB. La terza fase è l'Implementazione, che prevede lo sviluppo e il test degli Agenti AI. Infine, si eroga la formazione per assicurare che il cliente possa mantenere e monitorare l'ecosistema costruito, garantendo che l'automazione sia pienamente operativa e integrata.",
                "summary": "È un percorso chirurgico: si individua il punto dolente, si progetta la \"macchina\" interna perfetta e la si installa, assicurandosi che il cliente sappia guidarla subito dopo.",
                "sections": [
                  {
                    "question": "Quali sono le tappe fondamentali del processo?",
                    "answer": "1. **Audit e Mappatura** (Identificazione dei compiti ripetitivi). 2. **Progettazione Architetturale** (Scelta dello stack n8n/Mongo/Gemini). 3. **Sviluppo Agenti** (Costruzione dei workflow e prompt engineering avanzato). 4. **Deployment e Training** (Go-live e trasferimento di conoscenza al team cliente)."
                  },
                  {
                    "question": "Quali sono le tempistiche medie di implementazione?",
                    "answer": "La durata varia significativamente, ma le prime implementazioni di automazione documentale mirata possono essere operative in **poche settimane**, mentre ecosistemi completi richiedono mesi di affinamento iterativo e ottimizzazione dei prompt."
                  },
                  {
                    "question": "Quali requisiti sono essenziali per il cliente?",
                    "answer": "Il successo del processo richiede una **piena collaborazione del cliente** nell'esporre i flussi di lavoro esistenti e la disponibilità di accesso ai sistemi legacy o ai dati sorgente da integrare."
                  }
                ]
              },
              {
                "fragment_id": "PRICING_VALUE_V1",
                "user_utterances": [
                  "Quanto costa avviare un progetto?",
                  "Come funziona la strategia di prezzo?",
                  "Qual è il ritorno sull'investimento (ROI)?"
                ],
                "answer_fragment": "Garofalo Consulting adotta un modello di pricing basato sul valore generato e sulla complessità architetturale, piuttosto che su tariffe standardizzate. Poiché la costruzione è custom, il costo iniziale riflette l'ingegnerizzazione necessaria per l'ecosistema. Il principale argomento di vendita è però il **ROI** generato dalla drastica riduzione dei costi operativi e del tempo speso in attività manuali. Sfruttando n8n, si evitano costosi abbonamenti mensili, assicurando che il costo dell'automazione sia inferiore al costo del personale che sostituisce.",
                "summary": "Il prezzo iniziale è un investimento nell'infrastruttura, ma il vero valore è il costo operativo continuo drasticamente ridotto, rendendo l'AI profittevole fin dal primo mese.",
                "sections": [
                  {
                    "question": "Qual è la proposta di valore economica principale?",
                    "answer": "Il valore non è nel software fornito, ma nella **liberazione di tempo prezioso** per il titolare e nella capacità di prendere decisioni basate su dati strutturati forniti dagli agenti AI."
                  },
                  {
                    "question": "Come gestite i costi fissi di licenza?",
                    "answer": "L'architettura è volutamente disegnata per **minimizzare i costi di licenza esterni**, facendo leva su soluzioni open-source mature (n8n) e modelli AI a consumo efficiente come Gemini Flash, ottimizzando la spesa per il cliente."
                  },
                  {
                    "question": "Come si quantifica il Ritorno sull'Investimento?",
                    "answer": "Il ROI è calcolabile comparando le ore uomo risparmiate mensilmente nell'esecuzione di task ripetitivi (es. data entry, reporting) con il costo annualizzato dell'architettura implementata."
                  }
                ]
              }
            ],
            "availability_schedule": {
              "type": "By Appointment",
              "notes": "Contatto via email o telefono; consulenze programmate L-V 9:00-18:00.",
              "hours": {
                "monday": {
                  "morning": {
                    "from": "08:00",
                    "to": "15:00"
                  },
                  "afternoon": {
                    "from": null,
                    "to": null
                  }
                },
                "tuesday": {
                  "morning": {
                    "from": "08:00",
                    "to": "13:00"
                  },
                  "afternoon": {
                    "from": "14:00",
                    "to": "20:00"
                  }
                },
                "wednesday": {
                  "morning": {
                    "from": "08:00",
                    "to": "13:00"
                  },
                  "afternoon": {
                    "from": "14:00",
                    "to": "20:00"
                  }
                },
                "thursday": {
                  "morning": {
                    "from": null,
                    "to": null
                  },
                  "afternoon": {
                    "from": null,
                    "to": null
                  }
                },
                "friday": {
                  "morning": {
                    "from": null,
                    "to": null
                  },
                  "afternoon": {
                    "from": null,
                    "to": null
                  }
                }
              }
            },
            "config": {
              "onboarding_completed": true,
              "completed_at": "2026-03-23T18:02:17.696Z"
            },
            "additional_kwargs": [],
            "response_metadata": [],
            "assets": {
              "logo": {
                "url": "https://dashboard.trinai.it/images/honeypot/IT06988830821/logo.jpg",
                "mime": "image/jpeg",
                "description": "🤖 ANALISI: L'emblema è altamente efficace per il settore AI/Consulenza. L'uso di una struttura esagonale (solidità, struttura dati) che racchiude un monogramma stilizzato \"GA\" costruito con linee di circuito (innovazione, connettività) comunica immediatamente competenza tecnologica avanzata e affidabilità strutturale. La tipografia sans-serif è pulita e autorevole. La palette cromatica, che bilancia il blu scuro (fiducia, professionalità) con un viola accentuato (futuro, visione), è ben calibrata per un brand tecnologico premium. \n\n🎨 PALETTE: [#212D67, #895FE0, #FFFFFF] \n\n💡 TIP: Verificare meticolosamente la scalabilità del simbolo. Le linee sottili e i nodi del circuito, sebbene esteticamente validi, rischiano di collassare o diventare illeggibili quando il logo viene ridotto a dimensioni minime (es. favicon o riquadri social). Si raccomanda di effettuare test di riduzione e, se necessario, aumentare leggermente lo spessore delle linee interne per garantire leggibilità a qualsiasi dimensione.",
                "meta": {
                  "visual_analysis": "L'emblema è altamente efficace per il settore AI/Consulenza. L'uso di una struttura esagonale (solidità, struttura dati) che racchiude un monogramma stilizzato \"GA\" costruito con linee di circuito (innovazione, connettività) comunica immediatamente competenza tecnologica avanzata e affidabilità strutturale. La tipografia sans-serif è pulita e autorevole. La palette cromatica, che bilancia il blu scuro (fiducia, professionalità) con un viola accentuato (futuro, visione), è ben calibrata per un brand tecnologico premium.",
                  "pro_tip": "Verificare meticolosamente la scalabilità del simbolo. Le linee sottili e i nodi del circuito, sebbene esteticamente validi, rischiano di collassare o diventare illeggibili quando il logo viene ridotto a dimensioni minime (es. favicon o riquadri social). Si raccomanda di effettuare test di riduzione e, se necessario, aumentare leggermente lo spessore delle linee interne per garantire leggibilità a qualsiasi dimensione.",
                  "colors": [
                    "#212D67",
                    "#895FE0",
                    "#FFFFFF"
                  ]
                },
                "updated_at": "2026-03-20T15:40:31.647Z"
              },
              "photo": {
                "url": "https://dashboard.trinai.it/images/honeypot/IT06988830821/photo.jpg",
                "mime": "image/jpeg",
                "description": "🌃 ANALISI: L'immagine comunica autorità, innovazione e competenza strategica avanzata. L'ambientazione notturna in un ufficio di alto livello simboleggia dedizione e portata globale. La luce fredda dell'interfaccia olografica evidenzia la padronanza di Garofalo sulle tecnologie futuristiche e l'analisi dei dati complessi. L'aspetto è sofisticato, serio e orientato al futuro, perfettamente allineato con il settore della consulenza di alto livello. \n\n🎨 PALETTE: [#1A1E24, #00BFFF, #FF8C00, #4A4A4A] \n\n💡 TIP: Per ottimizzare la scalabilità e l'uso su piattaforme digitali (specialmente sfondi per siti web), si consiglia di lavorare sulla mappatura dei toni medi per alzare leggermente la luminosità complessiva dell'ambiente. Questo migliorerà il contrasto visivo senza sacrificare l'atmosfera premium e notturna, garantendo che i dettagli dell'abito e della scrivania rimangano definiti.",
                "meta": {
                  "visual_analysis": "L'immagine comunica autorità, innovazione e competenza strategica avanzata. L'ambientazione notturna in un ufficio di alto livello simboleggia dedizione e portata globale. La luce fredda dell'interfaccia olografica (blu/arancio) evidenzia la padronanza di Garofalo sulle tecnologie futuristiche e l'analisi dei dati complessi. L'aspetto è sofisticato, serio e orientato al futuro, perfettamente allineato con il settore della consulenza di alto livello. L'autenticità deriva dalla concentrazione intensa del soggetto.",
                  "pro_tip": "Per ottimizzare la scalabilità e l'uso su piattaforme digitali (specialmente sfondi per siti web), si consiglia di lavorare sulla mappatura dei toni medi per alzare leggermente la luminosità complessiva dell'ambiente. Questo migliorerà il contrasto visivo senza sacrificare l'atmosfera premium e notturna, garantendo che i dettagli dell'abito e della scrivania rimangano definiti.",
                  "colors": [
                    "#1A1E24",
                    "#00BFFF",
                    "#FF8C00",
                    "#4A4A4A"
                  ]
                },
                "updated_at": "2026-03-20T15:43:40.682Z"
              },
              "gallery1": {
                "url": "https://dashboard.trinai.it/api/n8n/minisite/old/IT06988830821/images/gallery1.jpg",
                "description": "A medium shot of a focused AI consultant collaborating with a business owner in a contemporary, glass-walled office. They are reviewing a complex, illuminated workflow diagram on a sleek tablet. The office setting incorporates professional navy #212D67 furniture and soft purple #895FE0 ambient lighting accents. Captured with an 85mm lens for natural skin tones, sharp focus, and shallow depth of field. 1:1 square composition.",
                "rationale": "This hero shot humanizes the brand, demonstrating the 'consulting' aspect while highlighting the professional nature of the service, bridging the gap between human expertise and AI implementation.",
                "updated_at": "2026-05-20T10:10:38.657Z"
              },
              "gallery2": {
                "url": "https://dashboard.trinai.it/api/n8n/minisite/old/IT06988830821/images/gallery2.jpg",
                "description": "An abstract, photorealistic macro shot representing AI architecture, data orchestration, and structural integrity. Intricate digital nodes and glowing circuit lines interconnect against a deep #212D67 background with vivid #895FE0 light trails. The aesthetic is clean, premium, and futuristic, emphasizing the technology behind the consultancy. Sharp focus, high depth of field, professional studio lighting. 1:1 square composition.",
                "rationale": "This abstract piece reinforces the technical 'System Architect' and 'n8n/MongoDB' competency without needing literal product photography, maintaining a high-end corporate tech aesthetic.",
                "updated_at": "2026-05-20T10:10:38.657Z"
              },
              "gallery3": {
                "url": "https://dashboard.trinai.it/api/n8n/minisite/old/IT06988830821/images/gallery3.jpg",
                "description": "A perfectly centered, high-angle interior shot of a minimalist, immaculately organized executive workstation. The desk features a premium laptop displaying clean code, a crisp white notebook with structural diagrams, and a single pen. Natural, cool-toned light highlights the pristine #FFFFFF surfaces and #212D67 accents. The space exudes efficiency, calm, and professional clarity. 1:1 square composition.",
                "rationale": "This environmental shot represents the result of the 'Structural Transformation' service—moving from chaos to order—providing a relatable and aspirational workspace atmosphere that appeals to potential clients.",
                "updated_at": "2026-05-20T10:10:38.657Z"
              }
            }
          },
          "sentimentAnalysis": {
            "category": "Altro"
          },
          "place_id": 381811747,
          "licence": "Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright",
          "postcode_id": "Pit:90046",
          "lat": "38.0650479",
          "lon": "13.2445087",
          "category": "place",
          "type": "postcode",
          "place_rank": 21,
          "importance": 0.12000999999999995,
          "addresstype": "postcode",
          "name": "90046",
          "display_name": "90046, Monreale, Palermo, Sicilia, Italia",
          "address": {
            "postcode": "90046",
            "town": "Monreale",
            "county": "Palermo",
            "ISO3166-2-lvl6": "IT-PA",
            "state": "Sicilia",
            "ISO3166-2-lvl4": "IT-82",
            "country": "Italia",
            "country_code": "it"
          },
          "boundingbox": [
            "38.0200049",
            "38.1100905",
            "13.1875370",
            "13.3014828"
          ],
          "FreeCall": false,
          "billing_source": {
            "use": "Advanced Product IT06988830821-SVC_KH3MCNO3",
            "wh": "https://prod.workflow.trinai.it/webhook/6333dff0-d886-499c-8000-f3e0266845ed"
          },
          "orchestrator_output": {
            "orchestration_blueprint": {
              "required_materials": [
                "Cancelleria e materiali d'archivio",
                "Blocco note e penna per appunti"
              ],
              "required_subprocesses": [
                "Verifica amministrativa del pagamento e fatturazione",
                "Sottoscrizione della Nomina a Responsabile Esterno del Trattamento (DPA) ai sensi dell'Art. 28 GDPR",
                "Acquisizione del consenso e rinuncia espressa al diritto di recesso ai sensi dell'Art. 59 del Codice del Consumo",
                "Sottoscrizione del contratto d'opera professionale con clausola di limitazione della responsabilità",
                "Setup iniziale della postazione di lavoro e dell'infrastruttura di rete",
                "Provisioning e verifica connettività dell'istanza n8n e del database MongoDB Atlas",
                "Esecuzione e conduzione del workshop pratico di automazione e integrazione AI",
                "Elaborazione e rilascio del report tecnico di validazione del workflow",
                "Archiviazione digitale sicura della documentazione e dei verbali di consegna del progetto"
              ],
              "required_environments": [
                "Ufficio_Operativo / Area_Lavoro",
                "Sala_Riunioni / Consulenza"
              ],
              "required_machinery_classes": [
                "Postazione_di_Lavoro",
                "PC_Workstation_con_monitor",
                "Connessione_Internet_a_Banda_Larga",
                "Software_di_Video_Conferenza_e_Condivisione_Schermo",
                "Software_Gestionale / CRM"
              ],
              "required_operators": [
                "Professionista_Esecutore",
                "Assistente_Supporto",
                "Segretaria_Amministrativa"
              ]
            },
            "additional_kwargs": {},
            "response_metadata": {}
          },
          "transaction_summary": {
            "model": "gemini-3.5-flash",
            "matched_pattern": "3.5-flash",
            "is_long_context": false,
            "usage": {
              "in": 5250,
              "out": 439
            },
            "usd_cost": 0.011826,
            "credits_deducted": 15,
            "previous_balance": 998589,
            "final_balance": 998574,
            "timestamp": "2026-06-11T12:03:43.018Z"
          },
          "outputRename": "official_kpi_parameters",
          "SystemInstruction": "<SystemInstruction>\n  <Role>Dynamic_Geolocalized_Operations_and_Cost_Scouter</Role>\n  <Context>\n    Sei un analista economico e d'acquisto specializzato nel mercato del lavoro, delle tecnologie e delle attrezzature professionali e del controllo di gestione immobiliare in Italia. Il tuo compito è utilizzare lo strumento Google Search per rilevare le tariffe orarie e i costi di acquisto/locazione reali ed aggiornati esclusivamente per gli operatori, i macchinari e gli ambienti richiesti in input dal tenant, adattandoli alla geolocalizzazione specifica.\n  </Context>\n  <Search_and_Pricing_Logic>\n    Esegui ricerche mirate sul web in lingua italiana basandoti esclusivamente sulle liste ricevute in input nel Prompt:\n\n    1. SCOUTING COSTO DEL LAVORO OPERATORI (OperatorsNeeded):\n       - Per ciascun operatore presente nella lista, esegui una ricerca web su Google Search per individuare il costo medio orario aziendale reale (secondo i contratti collettivi nazionali di categoria o tariffe di mercato per collaboratori professionali in Italia, comprensivo di oneri e tasse).\n       - Se non trovi riscontri certi per l'anno corrente, applica un valore stimato coerente con il livello professionale del ruolo.\n\n    2. SCOUTING COSTO D'ACQUISTO BENI STRUMENTALI (MachineryNeeded):\n       - Per ciascun macchinario o tecnologia presente nella lista, cerca su Google Search il prezzo medio di acquisto commerciale o di canone leasing in Italia per quella specifica classe di attrezzatura.\n       - Se non trovi riscontri certi per l'anno corrente, applica una stima di mercato coerente per la categoria tecnologica di appartenenza.\n\n    3. SCOUTING LOCAZIONE COMMERCIALE SPAZI FISICI (EnvironmentsNeeded):\n       - Per ciascuna stanza o ambiente presente nella lista, cerca su Google Search il canone di locazione commerciale medio mensile o il costo d'uso in Italia per uno spazio professionale o commerciale equivalente.\n       - Se non trovi riscontri certi per l'anno corrente, applica una stima di mercato di categoria.\n\n    4. ADATTAMENTO GEOGRAFICO ATTIVO (FONDAMENTALE):\n       Prima di generare il report finale, devi ricalcolare tutti i parametri nazionali rilevati (o i relativi valori stimati) adattandoli alla geolocalizzazione del tenant indicata in &lt;TenantContext&gt; (analizzando l'indirizzo, la provincia e la regione):\n       - SCAGLIONE 1: AREA AD ALTO COSTO (Grandi aree metropolitane o capoluoghi di regione del Nord Italia con alto costo della vita):\n         * Applica un moltiplicatore di aumento del +15% - +30% sui valori nazionali.\n       - SCAGLIONE 2: AREA A COSTO STANDARD (Città di medie dimensioni o regioni del Centro Italia):\n         * Mantieni la baseline nazionale di riferimento (moltiplicatore 1.0x).\n       - SCAGLIONE 3: AREA A BASSO COSTO / PICCOLI COMUNI (Piccoli comuni o regioni del Sud Italia/Isole con basso costo della vita):\n         * Applica un moltiplicatore di riduzione del -20% - -30% per rispecchiare i minori costi di gestione aziendale, affitti e stipendi locali.\n  </Search_and_Pricing_Logic>\n  <OutputFormat>\n    Genera esclusivamente un report in formato Markdown strutturato come segue. Inserisci i costi orari, di acquisto o locazione già ricalcolati ed esplicita i razionali di calibrazione territoriale. Non inserire commenti personali o preamboli:\n\n    # Report dei Parametri di Riferimento Economici Locali e Posizionamento\n\n    ## 1. Costo del Lavoro Geocalibrato per gli Operatori Richiesti\n    *   ### [Nome Operatore]\n        *   **Costo orario locale ricalcolato:** [Valore numerico in €]\n        *   **Logica di Adattamento Geografico:** [Spiegazione breve]\n\n    ## 2. Costo d'Acquisto Geocalibrato per le Tecnologie Richieste\n    *   ### [Nome Tecnologia/Macchinario]\n        *   **Costo d'acquisto locale ricalcolato:** [Valore numerico in €]\n        *   **Logica di Adattamento Geografico:** [Spiegazione breve]\n\n    ## 3. Costo di Locazione Geocalibrato per gli Ambienti Richiesti\n    *   ### [Nome Ambiente/Stanza]\n        *   **Canone mensile locale ricalcolato:** [Valore numerico in €]\n        *   **Logica di Adattamento Geografico:** [Spiegazione breve]\n  </OutputFormat>\n</SystemInstruction>",
          "Prompt": "<GenerationTask>\n  <TenantContext>\n    <BusinessName>Garofalo AI Consulting</BusinessName>\n    <Address>Via esterna valle cuba , 90046 Monreale (PA)</Address>\n    <GPS>38.0650479, 13.2445087</GPS>\n  </TenantContext>\n  <Strategic_Profile>\n    Garofalo Consulting, guidata dall'AI System Architect Giuseppe Garofalo, è specializzata nella Trasformazione Strutturale basata sull'Intelligenza Artificiale per le Tiny Enterprises italiane. Il suo approccio unico consiste nell'architettare ecosistemi software completi, utilizzando n8n per l'orchestrazione dei workflow, Google Gemini per l'intelligenza decisionale e MongoDB per la gestione robusta dei dati. L'obiettivo primario è elevare le Partite IVA a strutture aziendali efficienti, eliminando la disorganizzazione cronica attraverso l'automazione intelligente di compiti complessi come l'assessment HR e la gestione dei cataloghi dinamici.\n    {\"professional_questionnaire\":{\"role\":\"freelance_solo\",\"team_size\":\"solo\",\"years_experience\":\"3-5\",\"hard_skills\":[\"n8n Advanced Automation\",\"Google Gemini API\",\"System Architecture (SaaS)\",\"Prompt Engineering Avanzato\",\"MongoDB (NoSQL)\",\"Intelligent Process Automation\",\"API & Webhooks Integration\",\"Algorithmic Billing Logic\",\"JSON Data Structuring\"],\"certifications\":\"Sistemi di Automazione Avanzata (n8n): Esperto certificato/specializzato nella progettazione di workflow complessi e automazione dei processi aziendali (IPA).\\nArchitettura Cloud & AI (Google Cloud / Gemini): Competenze avanzate nell'integrazione delle API di Google Gemini e nell'ingegnerizzazione di prompt architetturali per modelli linguistici di grandi dimensioni.\\nProject & Business Management: Data la sua esperienza ultra-ventennale in ruoli tecnici e di coordinamento, il profilo riflette certificazioni o mastery nell'architettura di sistemi SaaS e gestione di infrastrutture IT complesse.\\nSicurezza & Compliance: Esperienza specifica in normative come il GDPR (fondamentale per il suo \\\"Metodo Godfellas\\\" di anonimizzazione dati).\",\"recent_training\":\"online_course\",\"specialization_level\":\"versatile\",\"digital_tools\":[\"email\",\"whatsapp\",\"excel\",\"word\",\"calendar\",\"social\",\"crm\",\"accounting\",\"project_mgmt\",\"design\",\"ecommerce\",\"analytics\",\"video\",\"code\"],\"client_workflow\":\"digital_dominant\",\"document_management\":\"gestionale\",\"pain_points\":[\"find_clients\",\"disorganization\",\"costs_control\",\"scaling\",\"competition\"],\"main_goal\":\"beat_competition\"}}\n  </Strategic_Profile>\n  <OperatorsNeeded>\n    [\"Professionista_Esecutore\",\"Assistente_Supporto\",\"Segretaria_Amministrativa\"]\n  </OperatorsNeeded>\n  <MachineryNeeded>\n    [\"Postazione_di_Lavoro\",\"PC_Workstation_con_monitor\",\"Connessione_Internet_a_Banda_Larga\",\"Software_di_Video_Conferenza_e_Condivisione_Schermo\",\"Software_Gestionale / CRM\"]\n  </MachineryNeeded>\n  <EnvironmentsNeeded>\n    [\"Ufficio_Operativo / Area_Lavoro\",\"Sala_Riunioni / Consulenza\"]\n  </EnvironmentsNeeded>\n  <Instructions>\n    Esamina gli elenchi in OperatorsNeeded, MachineryNeeded e EnvironmentsNeeded e i dati di localizzazione del tenant in TenantContext.\n    - Utilizza Google Search per scovare le tariffe nazionali del lavoro, i prezzi di acquisto delle attrezzature e i canoni d'affitto degli spazi commerciali in Italia per le specifiche categorie fornite negli elenchi.\n    - Ricalcola, calibra e adatta attivamente ciascuno di questi parametri basandoti sulla reale provincia e regione del tenant fornita in TenantContext, riducendo o aumentando le baseline nazionali in base allo scaglione di costo del territorio.\n    - Popola lo schema di output in formato Markdown inserendo direttamente i costi locali già ricalcolati.\n  </Instructions>\n</GenerationTask>",
          "ModelChoice": "https://generativelanguage.googleapis.com/v1beta/models/gemini-flash-latest:generateContent",
          "GeminiKey": "YOUR_GEMINI_API_KEY",
          "errorPath": "IT06988830821",
          "grounding": true,
          "thinking": true,
          "data": "",
          "mimeType": ""
        },
        "binary": {},
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Dynamic Payload Gemini": {
      "main": [
        [
          {
            "node": "Gemini Caller",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "401-DPF Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Caller": {
      "main": [
        [
          {
            "node": "Extract Parts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Price",
            "type": "main",
            "index": 0
          },
          {
            "node": "SuccesMerge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Gestione Errori Completa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestione Errori Completa": {
      "main": [
        [
          {
            "node": "404-Reatry Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404-Reatry Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404-Reatry Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404-Reatry Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "404-Reatry Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "402-Critical Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "402-Critical Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "402-Critical Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parts": {
      "main": [
        [
          {
            "node": "SuccesMerge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "404-Reatry Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriticalMerge": {
      "main": [
        [
          {
            "node": "Handle Error Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "SuccesMerge": {
      "main": [
        [
          {
            "node": "InputMerge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OwnerExist": {
      "main": [
        [
          {
            "node": "stakeholder_owner",
            "type": "main",
            "index": 0
          },
          {
            "node": "Last_Billing",
            "type": "main",
            "index": 0
          },
          {
            "node": "SuccessMerge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Response Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "InputMerge": {
      "main": [
        [
          {
            "node": "Output Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Cleaner": {
      "main": [
        [
          {
            "node": "OwnerExist",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "403-Oputput Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CriticalMerge1": {
      "main": [
        [
          {
            "node": "Dynamic Payload Gemini",
            "type": "main",
            "index": 0
          },
          {
            "node": "InputMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PayCall": {
      "main": [
        [
          {
            "node": "CriticalMerge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BalanceOK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BalanceOK": {
      "main": [
        [
          {
            "node": "CriticalMerge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "405-Poor Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error Merge": {
      "main": [
        [
          {
            "node": "ErrorPathMerge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ErrorPathMerge": {
      "main": [
        [
          {
            "node": "LogSystemErr",
            "type": "main",
            "index": 0
          },
          {
            "node": "SaveErrorMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ErrorPath": {
      "main": [
        [
          {
            "node": "ErrorPathMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "LogSystemErr",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LogSystemErr": {
      "main": [
        [
          {
            "node": "Oscurante",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "404-Reatry Error": {
      "main": [
        [
          {
            "node": "Handle Error Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "402-Critical Error": {
      "main": [
        [
          {
            "node": "CriticalMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "403-Oputput Error": {
      "main": [
        [
          {
            "node": "CriticalMerge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "401-DPF Error": {
      "main": [
        [
          {
            "node": "CriticalMerge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "405-Poor Error": {
      "main": [
        [
          {
            "node": "Handle Error Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SaveErrorMerge": {
      "main": [
        [
          {
            "node": "Handle Response Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Balance Updater": {
      "main": [
        [
          {
            "node": "owner",
            "type": "main",
            "index": 0
          },
          {
            "node": "billing_buffers",
            "type": "main",
            "index": 0
          },
          {
            "node": "SuccessMerge",
            "type": "main",
            "index": 1
          },
          {
            "node": "SuccessMerge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "406-Credit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "owner",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "billing_buffers",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "billing_buffers": {
      "main": [
        [
          {
            "node": "SaveMerge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "406-Credit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "owner": {
      "main": [
        [
          {
            "node": "SaveMerge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "406-Credit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveMerge": {
      "main": [
        [
          {
            "node": "SaveMerge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Oscurante": {
      "main": [
        [
          {
            "node": "SaveErrorMerge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Oscurante1": {
      "main": [
        [
          {
            "node": "SuccessMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "406-Credit Error": {
      "main": [
        [
          {
            "node": "Handle Error Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "SuccessMerge": {
      "main": [
        [
          {
            "node": "Handle Response Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "PayCall",
            "type": "main",
            "index": 0
          },
          {
            "node": "ErrorPath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "stakeholder_owner": {
      "main": [
        [
          {
            "node": "SuccessMerge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "402-Critical Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuccessMerge1": {
      "main": [
        [
          {
            "node": "Update Stakeholder_Owner Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MongoDB Chat Memory6": {
      "ai_memory": [
        [
          {
            "node": "stakeholeder",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "stakeholeder": {
      "main": [
        [
          {
            "node": "SaveMerge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "406-Credit Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SaveMerge1": {
      "main": [
        [
          {
            "node": "Oscurante1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Stakeholder_Owner Balance": {
      "main": [
        [
          {
            "node": "stakeholeder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Response Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price": {
      "main": [
        [
          {
            "node": "SuccesMerge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuccesMerge2": {
      "main": [
        [
          {
            "node": "Credit Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credit Billing": {
      "main": [
        [
          {
            "node": "SuccesMerge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SuccessMerge3": {
      "main": [
        [
          {
            "node": "Balance Updater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last_Billing": {
      "main": [
        [
          {
            "node": "SuccessMerge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b9598184-1d6b-49a1-a803-00663e9d9384",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce96c1da52854952d6033754b3d632468704a3c149b2a8a301c2b60c112ce7d0"
  },
  "id": "i6kSWyKrKQytzwQlFs92T",
  "tags": []
}