n8n_workflow/SiteBoS-App-Hook/catalog/newProduct.json
{
  "name": "newProduct",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"Access Denied or Data Not Found\",\n  \"code\": 500\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -1696,
        384
      ],
      "id": "20696be7-610a-4d8c-af57-f212b4acf06e",
      "name": "500"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "31f89350-4d7f-44b7-9aaf-e7d9e3655b6c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2112,
        960
      ],
      "id": "51825393-a25a-4481-92cd-b22c4c1d33a4",
      "name": "Webhook",
      "webhookId": "31f89350-4d7f-44b7-9aaf-e7d9e3655b6c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        240
      ],
      "id": "49b0f6c6-2f40-4ff6-8c67-f121a19e5f97",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d719b99e-2292-4194-827e-14c5411741dd",
              "name": "SystemInstruction",
              "value": "=<SystemInstruction>\n<Role>TrinAi_CatalogBuilder</Role>\n<Objective>Generare un CATALOG_ITEM e un UI_NODE DRAFT basati su input utente, contesto aziendale e analisi multimodale (Digital Twin).</Objective>\n\n<Laws>\n<L1>Output: Unico oggetto JSON valido con chiavi 'catalog_item_draft' e 'ui_node_draft'.</L1>\n<L2>Lingua: {{ $json.owner_data.lenguage }}.</L2>\n\n<L3>GENERAZIONE ID (STRICT):\n   - 'ui_node_draft.callback_data' e 'identity.item_sku' DEVONO essere Hash casuali di 8 caratteri.\n   - Formato: 'SVC_XXXXXXXX', 'PRD_XXXXXXXX' o 'SOP_XXXXXXXX'.\n   - VIETATO usare parole leggibili (es. NO SVC_CONSULENZA).</L3>\n\n<L4>ROUTING SEMANTICO (MANDATORIO):\n   Analizza il nome della Categoria di destinazione:\n   - Se [SOP]: item_type=\"INTERNAL_PROTOCOL\", price=0, taxable=false, tono procedurale/formale.\n   - Se [SER]: item_type=\"SERVICE\", stima prezzo orario/progetto, tono persuasivo.\n   - Se [PRO]: item_type=\"PRODUCT\", stima prezzo fisso, tono orientato ai benefit.</L4>\n\n<L5>DIGITAL TWIN: Se presente un allegato, estrai in 'attachment_data.digital_twin_analysis' dati tecnici oggettivi (Materiali, Brand, Modello, Stato).</L5>\n\n<L6>SETTORE HORECA & ADD-ONS: Analizza se l'azienda (dal BusinessContext) opera nel settore HORECA o se il prodotto è alimentare. In tal caso, DEVI popolare l'oggetto 'commercial_setup.extra_options' con 3-5 varianti comuni (es. 'Nutella', 'Crema Pistacchio', 'Panna') assegnando un prezzo stimato (es. 0.50 o 1.00). Imposta sempre 'allow_customer_notes': true.</L6>\n\n</Laws>\n\n<OutputSchema>\n{\n  \"catalog_item_draft\": {\n    \"document_type\": \"CATALOG_ITEM\",\n    \"version\": \"1.0\",\n    \"owner_instance_id\": \"{{ $json.owner_data.vat_number }}\",\n    \"metadata\": { \"status\": \"DRAFT\", \"source\": \"CHAT_INFERENCE\", \"created_at\": \"{{ new Date().toISOString() }}\", \"is_duplicate\": false, \"duplicate_of\": null },\n    \"identity\": {\n      \"item_name\": \"{{ $json.target_product_name }}\",\n      \"item_sku\": \"{{ $json.user_request.ghost_id }}\",\n      \"item_type\": \"SERVICE|PRODUCT\",\n      \"description\": { \"short\": \"string\", \"long\": \"string\", \"internal_notes\": \"string\" },\n      \"category\": \"{{ $json.user_request.category_id }}\",\n      \"tags\": [\"string\"],\n      \"keywords\": [\"string\"]\n    },\n    \"pricing\": {\n      \"base_price\": 0,\n      \"currency\": \"EUR\",\n      \"unit_of_measure\": \"item|hour|project|month|year\",\n      \"tax_info\": { \"taxable\": true, \"tax_rate_percentage\": 22 },\n      \"pricing_rules_engine\": { \"is_dynamic_price\": true, \"rules_ids\": [], \"notes\": \"Dynamic price based on extra options.\" },\n      \"cost_of_goods\": null\n    },\n    \"commercial_setup\": {\n      \"extra_options\": [\n        { \"name\": \"string\", \"price\": number }\n      ],\n      \"allow_customer_notes\": true\n    },\n    \"operations\": {\n      \"requires_booking\": boolean,\n      \"requires_inventory_check\": boolean,\n      \"process_blueprint_id\": null,\n      \"fulfillment_time\": { \"value\": null, \"unit\": null },\n      \"provider_info\": { \"required_skill_tags\": [\"string\"], \"specific_provider_ids\": [] }\n    },\n    \"relations\": {\n      \"related_items\": [],\n      \"marketing_info\": { \"is_featured\": false, \"target_audience_tags\": [\"string\"] }\n    },\n    \"additional_kwargs\": {},\n    \"response_metadata\": {}\n  },\n  \"ui_node_draft\": {\n    \"name\": \"string\",\n    \"short_name\": \"Emoji + String (max 20)\",\n    \"callback_data\": \"SAME_AS_ITEM_SKU\"\n  }\n}\n</OutputSchema>\n\n</SystemInstruction>",
              "type": "string"
            },
            {
              "id": "5296f5d3-7b3d-4413-b94d-a84aa778d95f",
              "name": "Prompt",
              "value": "=<DraftGenerationRequest>\n<BusinessIntelligence>\n<![CDATA[ {{ $json.HoneyPot.company_context_string }} ]]>\n</BusinessIntelligence>\n\n<TargetCategoryContext>\n  <CategoryName>{{ $json.context_category_name }}</CategoryName>\n  <CategoryID>{{ $json.user_request.category_id }}</CategoryID>\n</TargetCategoryContext>\n\n<RequestData>\n  <RawName>{{ $json.user_request.product_name || $json.target_product_name }}</RawName>\n  <RawDescription>{{ $json.user_request.product_description || \"\" }}</RawDescription>\n</RequestData>\n\n<Task>\n1. Applica il ROUTING SEMANTICO basandoti su <CategoryName>.\n2. Esegui ANALISI VISIVA se presente allegato.\n3. Genera ID Casuali (L3).\n4. Se il contesto è HORECA, genera opzioni di personalizzazione che incrementano il prezzo in 'extra_options' per massimizzare l'upsell.\n5. Popola lo schema JSON completo.\n</Task>\n</DraftGenerationRequest>",
              "type": "string"
            },
            {
              "id": "58c5d485-7b2f-402e-af88-a6d92ffe95f4",
              "name": "=ModelChoice",
              "value": "={{ $json.owner_data.model_choice }}",
              "type": "string"
            },
            {
              "id": "dd713543-b2c4-4e31-a989-54a11b80ef31",
              "name": "GeminiKey",
              "value": "={{ $json.owner_data.gemini_key }}",
              "type": "string"
            },
            {
              "id": "ecd4b2fe-495c-4836-b13b-28d159a8c94e",
              "name": "errorPath",
              "value": "={{ $json.owner_data.user_id }}",
              "type": "string"
            },
            {
              "id": "3135c929-6335-42ab-aa6c-661e3014ba96",
              "name": "grounding",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b3e47699-3b67-4519-a728-997ab1d0b4d3",
              "name": "thinking",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "36e1c66c-7a2c-41ab-aef4-0c32eeefb302",
              "name": "outputRename",
              "value": "product_structure",
              "type": "string"
            },
            {
              "id": "daf09ab5-889e-48b8-95b3-f366880d604c",
              "name": "data",
              "value": "={{ $json.user_request.file_data }}",
              "type": "string"
            },
            {
              "id": "34b378c9-02a7-47c1-b2b9-98e6c9beaa20",
              "name": "mimeType",
              "value": "={{ $json.user_request.mime_type }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        368
      ],
      "id": "18bbedbd-6747-4205-9163-5f5fb80e414a",
      "name": "DraftProduct"
    },
    {
      "parameters": {
        "jsCode": "// NODO: Final_Draft_Response\n// OBIETTIVO: Formattare la risposta per la WebApp e gestire errori AI\n\ntry {\n  const item = $input.first().json;\n\n  // 1. VALIDAZIONE INPUT\n  // Controlliamo se Gemini ha effettivamente generato la struttura richiesta\n  if (!item.product_structure || !item.product_structure.catalog_item_draft) {\n    throw new Error(\"Struttura JSON mancante nell'output AI\");\n  }\n\n  const draft = item.product_structure.catalog_item_draft;\n  const uiNode = item.product_structure.ui_node_draft;\n\n  // 2. PREPARAZIONE PAYLOAD (Successo)\n  // Appiattiamo la struttura affinché la WebApp trovi subito 'data.identity'\n  return {\n    json: {\n      success: true, // Flag per il frontend\n      \n      // Dati Prodotto (Identity, Pricing, Operations...)\n      ...draft, \n      \n      // Dati UI (per anteprima o logica futura)\n      ui_node_draft: uiNode,\n\n      // Gestione Duplicati (Passiamo solo i dati, la WebApp traduce il messaggio)\n      is_duplicate: draft.metadata.is_duplicate || false,\n      duplicate_id: draft.metadata.duplicate_of || null\n    }\n  };\n\n} catch (error) {\n  // 3. GESTIONE ERRORI (Graceful Fail)\n  // Se qualcosa va storto, non mandiamo un crash n8n, ma un JSON di errore\n  // così la WebApp può dire \"Riprova\" invece di andare in timeout.\n  return {\n    json: {\n      success: false,\n      error: true,\n      message: \"Errore nella generazione della bozza.\",\n      details: error.message\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        240
      ],
      "id": "444df853-ff28-4aa7-9536-1e41e7bf2ccf",
      "name": "Final_Draft_Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d719b99e-2292-4194-827e-14c5411741dd",
              "name": "SystemInstruction",
              "value": "=<SystemInstruction>\n<Role>TrinAi_CatalogBuilder</Role>\n<Objective>Generare un CATALOG_ITEM e un UI_NODE DRAFT strutturati, basati sulla richiesta utente e sul contesto aziendale, con controllo duplicati.</Objective>\n<Laws>\n<L1>L'output DEVE essere un oggetto JSON valido contenente: 'catalog_item_draft' e 'ui_node_draft'.</L1>\n<L2>Generare il contenuto nella lingua specificata in 'owner_data.lenguage' o 'user_request.language'.</L2>\n<L3>Inferire i dati mancanti dal BusinessContext (HoneyPot). Usare null solo se impossibile inferire.</L3>\n<L4>identity.item_name: Title Case. description.short: Max 100 caratteri, coinvolgente.</L4>\n<L5>ui_node_draft.short_name: Max 20 caratteri + Emoji pertinente all'inizio.</L5>\n<L7>Generare 5-10 tag/keyword semantici per la ricerca vettoriale.</L7>\n\n</Laws>\n<OutputSchema>\n{\n  \"catalog_item_draft\": {\n    \"document_type\": \"CATALOG_ITEM\",\n    \"version\": \"1.0\",\n    \"owner_instance_id\": \"{{ $json.owner_data.vat_number }}\",\n    \"metadata\": { \"status\": \"DRAFT\", \"source\": \"CHAT_INFERENCE\", \"created_at\": \"{{ new Date().toISOString() }}\", \"is_duplicate\": false, \"duplicate_of\": null },\n    \"identity\": {\n      \"item_name\": \"{{ $json.target_product_name }}\",\n      \"item_sku\": \"{{ $json.user_request.ghost_id }}\",\n      \"item_type\": \"SERVICE|PRODUCT\",\n      \"description\": { \"short\": \"string\", \"long\": \"string\", \"internal_notes\": \"string\" },\n      \"category\": \"{{ $json.user_request.category_id }}\",\n      \"tags\": [\"string\"],\n      \"keywords\": [\"string\"]\n    },\n    \"pricing\": {\n      \"base_price\": 0,\n      \"currency\": \"EUR\",\n      \"unit_of_measure\": \"item|hour|project|month|year\",\n      \"tax_info\": { \"taxable\": true, \"tax_rate_percentage\": 22 },\n      \"pricing_rules_engine\": { \"is_dynamic_price\": true, \"rules_ids\": [], \"notes\": \"Dynamic price based on extra options.\" },\n      \"cost_of_goods\": null\n    },\n    \"commercial_setup\": {\n      \"extra_options\": [\n        { \"name\": \"string\", \"price\": number }\n      ],\n      \"allow_customer_notes\": true\n    },\n    \"operations\": {\n      \"requires_booking\": boolean,\n      \"requires_inventory_check\": boolean,\n      \"process_blueprint_id\": null,\n      \"fulfillment_time\": { \"value\": null, \"unit\": null },\n      \"provider_info\": { \"required_skill_tags\": [\"string\"], \"specific_provider_ids\": [] }\n    },\n    \"relations\": {\n      \"related_items\": [],\n      \"marketing_info\": { \"is_featured\": false, \"target_audience_tags\": [\"string\"] }\n    },\n    \"additional_kwargs\": {},\n    \"response_metadata\": {}\n  },\n  \"ui_node_draft\": {\n    \"name\": \"{{ $json.target_product_name }}\",\n    \"short_name\": \"Emoji + String\",\n    \"callback_data\": \"{{ $json.target_product_id }}\"\n  }\n}\n</OutputSchema>\n</SystemInstruction>",
              "type": "string"
            },
            {
              "id": "5296f5d3-7b3d-4413-b94d-a84aa778d95f",
              "name": "Prompt",
              "value": "=<DraftGenerationRequest>\n<Settings>\n<TargetLanguage>{{ $json.owner_data.lenguage }}</TargetLanguage>\n</Settings>\n\n<OwnerContext>\nID: {{ $json.owner_data.vat_number }}\n</OwnerContext>\n\n<BusinessIntelligence>\n<![CDATA[\n{{ $json.HoneyPot.company_context_string }}\n{{ $json.HoneyPot.offer_text }}\n]]>\n</BusinessIntelligence>\n\n<TargetCategoryContext>\n<CategoryName>{{ $json.context_category_name }}</CategoryName>\n<CategoryID>{{ $json.user_request.category_id }}</CategoryID>\n</TargetCategoryContext>\n\n<RequestData>\n<RawName>{{ $json.target_product_name }}</RawName>\n</RawDescription>\n</RequestData>\n\n<InferenceTask>\n1. Analizza RequestData rispetto a BusinessIntelligence.\n2. Inferisci 'unit_of_measure' (es. 'servizio ad ore' -> 'hour') e 'requires_booking'.\n3. Consiglia un prezzo per questo servio o prodotto\n4. Genera la struttura 'catalog_item_draft' popolata.\n5. Genera il 'ui_node_draft' per il menu Telegram.\n</InferenceTask>\n\n<L8>ROUTING SEMANTICO OBBLIGATORIO:\nAnalizza <TargetCategoryContext> se <CategoryName> inzia con...\n- Se è \"[SOP]\": \n  Imposta \"item_type\" = \"PROTOCOL\"\n  Imposta \"pricing.base_price\" = 0\n  Imposta \"pricing.tax_info.taxable\" = false\n  Imposta \"marketing_info.is_featured\" = false\n  Redigi la descrizione in tono formale e procedurale (è un manuale per i dipendenti, non per i clienti).\n- Se è \"[SER]\": \n  Imposta \"item_type\" = \"SERVICE\"\n  Stima un prezzo orario o a progetto coerente col mercato.\n  Redigi la descrizione in tono persuasivo (è un servizio in vendita).\n- Se è \"[PRO]\": \n  Imposta \"item_type\" = \"PRODUCT\"\n  Stima un prezzo fisso di vendita.\n  Redigi la descrizione evidenziando i benefit fisici o digitali dell'asset acquistato.\n</L8>\n<L9>ADD-ONS: Analizza se il prodotto è alimentare o puo avere delle aggiunte. In tal caso, DEVI popolare l'oggetto 'commercial_setup.extra_options' con 3-5 varianti comuni (es. 'Nutella', 'Crema Pistacchio', 'Panna') assegnando un prezzo stimato (es. 0.50 o 1.00). Imposta sempre 'allow_customer_notes': true e 'pricing.pricing_rules_engine.is_dynamic_price': true.</L9>\n</DraftGenerationRequest>",
              "type": "string"
            },
            {
              "id": "58c5d485-7b2f-402e-af88-a6d92ffe95f4",
              "name": "=ModelChoice",
              "value": "={{ $json.owner_data.model_choice }}",
              "type": "string"
            },
            {
              "id": "dd713543-b2c4-4e31-a989-54a11b80ef31",
              "name": "GeminiKey",
              "value": "={{ $json.owner_data.gemini_key }}",
              "type": "string"
            },
            {
              "id": "ecd4b2fe-495c-4836-b13b-28d159a8c94e",
              "name": "errorPath",
              "value": "={{ $json.owner_data.user_id }}",
              "type": "string"
            },
            {
              "id": "3135c929-6335-42ab-aa6c-661e3014ba96",
              "name": "grounding",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "b3e47699-3b67-4519-a728-997ab1d0b4d3",
              "name": "thinking",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "36e1c66c-7a2c-41ab-aef4-0c32eeefb302",
              "name": "outputRename",
              "value": "product_structure",
              "type": "string"
            },
            {
              "id": "daf09ab5-889e-48b8-95b3-f366880d604c",
              "name": "data",
              "value": "={{ $json.user_request.media_items[0].base64_content }}",
              "type": "string"
            },
            {
              "id": "34b378c9-02a7-47c1-b2b9-98e6c9beaa20",
              "name": "mimeType",
              "value": "={{ $json.user_request.media_items[0].mime_type }}",
              "type": "string"
            },
            {
              "id": "9122b89f-af4d-42c3-b20c-4c0abcc8ce7d",
              "name": "stratCommand",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        208
      ],
      "id": "45d18d7b-9d1d-4201-9def-f1528eeeaa8e",
      "name": "StartDraftProduct"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "41c74341-169e-4880-82ee-9e5e5383c42f",
              "leftValue": "={{ $json.stratCommand }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        288
      ],
      "id": "756d7340-e9bc-4014-85c8-57339b4fe88a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb1cd94b-2ac3-41e5-afa4-831637420a9a",
              "name": "product_structure.ui_node_draft.callback_data",
              "value": "={{ $json.user_request.ghost_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        144
      ],
      "id": "f34cd486-0740-4268-87d8-250e65a2a0c6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// 1. Verifica esistenza struttura\nif (item.product_structure && item.product_structure.catalog_item_draft) {\n  \n  const draft = item.product_structure.catalog_item_draft;\n  const uiDraft = item.product_structure.ui_node_draft;\n\n  // 2. Determina Prefisso (SVC per servizi, PRD per prodotti fisici)\n  const type = (draft.identity.item_type || \"SERVICE\").toUpperCase();\n  const prefix = type === 'PRODUCT' ? 'PRD' : 'SVC';\n\n  // 3. Genera ID Matematico (Prefisso + 8 caratteri alfanumerici casuali)\n  // Es: SVC_9X8Y7Z6W\n  const uniqueId = `${prefix}_${Math.random().toString(36).substring(2, 10).toUpperCase()}`;\n\n  // 4. SOVRASCRITTURA FORZATA (Enforcement)\n  // Sovrascriviamo il callback del bottone\n  uiDraft.callback_data = uniqueId;\n  \n  // Sovrascriviamo anche lo SKU per coerenza interna\n  draft.identity.item_sku = uniqueId;\n  draft.identity.vertical = item.context_category_vertical || \"generic\";\n\n  // 5. Salviamo l'ID generato in un campo esplicito per debug/uso futuro\n  item.product_structure.generated_technical_id = uniqueId;\n}\n\nreturn [{ json: item }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        304
      ],
      "id": "c95dbfad-87ba-42a9-ab79-7697db750ca7",
      "name": "Enforcer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        736
      ],
      "id": "3ca6adbd-3d0d-4a1b-a5d3-69aedcac8951",
      "name": "OwnerExist"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1248,
        832
      ],
      "id": "64c8417d-21d2-400c-82d3-cabe1f46640d",
      "name": "Merge22"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.HoneyPot }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        656
      ],
      "id": "e10cad80-5fd7-42cd-9a42-adc691c61724",
      "name": "Honeypot Exist"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8378810625:AAHK3Zya8qFKD4OzFBbwSTOAGolDeY7jiJQ/{{ $json.telegramApiPayload.method }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.telegramApiPayload }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1248,
        512
      ],
      "id": "240896d1-dfc3-4edb-865c-7bc345196b32",
      "name": "📤 Telegram Call1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1072,
        400
      ],
      "id": "5ab6bf31-34e0-4946-8484-3445e42c9b84",
      "name": "Merge24"
    },
    {
      "parameters": {
        "jsCode": "// NODO: System_Error_Collection_Retrieval\n// SCENARIO: Utente \"Fantasma\" (Startato ma dati DB persi/corrotti)\n// OUTPUT: Payload Telegram (Messaggio) + Payload Webhook (JSON Error)\n\n\nconst item = $input.first().json;\nconst body = item.user_request || {};\nconst msg = body.message || {};\nconst owner = item.owner_data || {};\n\n// 1. Recupero Dati Contesto\nconst chatId = owner.chat_id;\nconst userLang = body.lang || 'en';\n\n// 2. Definizione Errore\nconst errorCode = \"CRITICAL_DATA_LOSS\";\nconst errorMessage = \"Owner profile not found despite active session flag.\";\n\n// 3. Dizionario Multilingua (Messaggio per l'Utente)\nconst langMap = { 'it': 'it', 'en': 'en', 'fr': 'fr', 'de': 'de', 'es': 'es', 'pt': 'pt' };\nconst lang = langMap[userLang.slice(0,2)] || 'en';\n\nconst t = {\n  'it': {\n    title: \"⚠️ <b>Errore Critico Profilo</b>\",\n    text: \"Il sistema rileva che dovresti essere un utente attivo, ma non riesce a recuperare il tuo profilo aziendale.\",\n    reason: \"Possibile corruzione dei dati o cancellazione accidentale.\",\n    action: \"Per favore, contatta il supporto tecnico indicando il tuo ID:\",\n    btn: \"🆘 Supporto\"\n  },\n  'en': {\n    title: \"⚠️ <b>Critical Profile Error</b>\",\n    text: \"The system detects you should be an active user, but cannot retrieve your company profile.\",\n    reason: \"Possible data corruption or accidental deletion.\",\n    action: \"Please contact technical support providing your ID:\",\n    btn: \"🆘 Support\"\n  },\n  'fr': {\n    title: \"⚠️ <b>Erreur Critique de Profil</b>\",\n    text: \"Le système détecte que vous devriez être un utilisateur actif, mais ne parvient pas à récupérer votre profil d'entreprise.\",\n    reason: \"Corruption possible des données ou suppression accidentelle.\",\n    action: \"Veuillez contacter le support technique en indiquant votre ID :\",\n    btn: \"🆘 Support\"\n  },\n  'de': {\n    title: \"⚠️ <b>Kritischer Profilfehler</b>\",\n    text: \"Das System erkennt, dass Sie ein aktiver Benutzer sein sollten, kann aber Ihr Firmenprofil nicht abrufen.\",\n    reason: \"Mögliche Datenkorruption oder versehentliche Löschung.\",\n    action: \"Bitte kontaktieren Sie den technischen Support mit Ihrer ID:\",\n    btn: \"🆘 Support\"\n  },\n  'es': {\n    title: \"⚠️ <b>Error Crítico del Perfil</b>\",\n    text: \"El sistema detecta que deberías ser un usuario activo, pero no puede recuperar tu perfil de empresa.\",\n    reason: \"Posible corrupción de datos o eliminación accidental.\",\n    action: \"Por favor, contacta al soporte técnico indicando tu ID:\",\n    btn: \"🆘 Soporte\"\n  },\n  'pt': {\n    title: \"⚠️ <b>Erro Crítico de Perfil</b>\",\n    text: \"O sistema detecta que você deveria ser um usuário ativo, mas não consegue recuperar o perfil da sua empresa.\",\n    reason: \"Possível corrupção de dados ou exclusão acidental.\",\n    action: \"Por favor, contate o suporte técnico fornecendo seu ID:\",\n    btn: \"🆘 Suporte\"\n  }\n}[lang] || { // Fallback EN\n    title: \"⚠️ <b>Critical Profile Error</b>\",\n    text: \"The system detects you should be an active user, but cannot retrieve your company profile.\",\n    reason: \"Possible data corruption or accidental deletion.\",\n    action: \"Please contact technical support providing your ID:\",\n    btn: \"🆘 Support\"\n};\n\n// 4. Costruzione Messaggio Telegram\nconst messageText = \n`${t.title}\n\n${t.text}\n\n🛑 <b>Reason:</b> ${t.reason}\n\n👉 <b>${t.action}</b> de>${chatId}</code>`;\n\nconst telegramPayload = {\n    method: \"sendMessage\",\n    chat_id: chatId,\n    text: messageText,\n    parse_mode: \"HTML\",\n    reply_markup: {\n        inline_keyboard: [[{ text: t.btn, url: \"https://t.me/TrinAi_TecSupport_bot\" }]]\n    }\n};\n\n\n// 6. Return Unificato\nreturn {\n    json: {\n        // Payload per il nodo HTTP (Telegram)\n        telegramApiPayload: telegramPayload,\n        \n        // Flag per logica successiva n8n\n        error_type: \"GHOST_USER\",\n        is_fatal: true\n    }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1456,
        384
      ],
      "id": "a1f34c10-6960-4fb9-9082-26b7b1aeb12c",
      "name": "🆘 System Error Collection"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        816
      ],
      "id": "44cfea81-2707-4601-9047-db2f479e8164",
      "name": "Merge25"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        656
      ],
      "id": "c2fef259-d472-4d8e-9e7b-761b52cc6c13",
      "name": "Merge26"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f811326-e6aa-4dc4-9e52-661a5749f844",
              "name": "user_request",
              "value": "={{ $json.body }}",
              "type": "object"
            },
            {
              "id": "fa7fe020-df36-4ac1-9481-ea6ee42c7555",
              "name": "owner_data",
              "value": "={{ $json.owner_data }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1088,
        832
      ],
      "id": "755d8adf-779c-478a-a3f4-af660b69b208",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "owner_sessions",
        "query": "=[\n  {\n    \"$match\": {\n      \"messages.0.data.access_token\": {\n        \"$eq\": \"{{ $json.body.token }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"owner_data\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1696,
        736
      ],
      "id": "05e9b14a-0082-4082-b60f-a4b05595feb2",
      "name": "owner2",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -816,
        288
      ],
      "id": "67c49377-f6ca-47fe-821d-dfce74a13654",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.service_catalog_setup }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -656,
        464
      ],
      "id": "d119cfea-a731-45a5-b5b0-7068b838e1a5",
      "name": "Catalog  Exist"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "service_catalog",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}_setup_ik\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"service\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"service_catalog_setup\": \"$service.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -816,
        464
      ],
      "id": "008d19c9-6ffc-4c53-9f8f-dd16b56c5e7a",
      "name": "service_catalog2",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// NODO: Context_Reducer (v3.0 - RAW & FLAT)\nconst item = $input.first().json;\nconst catalog = item.service_catalog_setup;\nconst catId = item.user_request.category_id;\nconst ghostId = item.user_request.ghost_id;\n\n// 1. Trova Categoria\nconst targetCategory = catalog.categories.find(c => c.callback_data === catId);\nif (!targetCategory) throw new Error(`Cat ${catId} not found`);\n\n// 2. Prepara Output\nlet outputData = {\n    // Dati base sempre utili\n    context_category_name: targetCategory.name,\n    context_category_desc: targetCategory.description || \"\",\n    context_category_vertical: targetCategory.vertical || \"generic\",\n    context_mode: \"CATEGORY\" // Default\n};\n\n// 3. Logica Ghost vs Category\nif (ghostId) {\n    const ghost = targetCategory.subcategories.find(s => s.callback_data === ghostId);\n    if (ghost) {\n        // --- MODE: GHOST ---\n        // Spariamo fuori i dati del ghost direttamente\n        outputData.context_mode = \"GHOST\";\n        outputData.target_product_name = ghost.name;\n        outputData.target_product_desc = ghost.description || \"\";\n        outputData.target_product_id = ghost.callback_data;\n    }\n} else {\n    // --- MODE: CATEGORY ---\n    // Passiamo la lista nomi appiattita per check duplicati\n    outputData.existing_products_names = targetCategory.subcategories.map(s => s.name).join(\", \");\n}\n\n// 4. CLEANUP & MERGE\n// Buttiamo via il catalogo gigante e teniamo il resto + i nuovi dati piatti\nconst { service_catalog_setup, ...cleanItem } = item;\n\nreturn {\n    json: {\n        ...cleanItem,\n        ...outputData // Inietta i campi context_ direttamente nella root\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        288
      ],
      "id": "4f3c18a3-93cf-48ff-ae27-038fbcaeca1e",
      "name": "Context Reducer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc66acf3-6239-4a24-886a-d60069771a11",
              "leftValue": "={{ $json.user_request.ghost_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -464,
        288
      ],
      "id": "3606c3b7-8085-4824-82e3-103d71b58ce3",
      "name": "If2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"error\": {\n    \"code\": \"AI_GLITCH_501\",\n    \"title\": \"AI Generation Failed\",\n    \"message\": \"Il modello AI non ha risposto correttamente. Richiesto nuovo tentativo.\"\n  }\n}",
        "options": {
          "responseCode": 501
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -32,
        160
      ],
      "id": "f8b06ca0-4f8f-4965-a005-762b95a18a90",
      "name": "LLMFail"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "honeypots",
        "query": "=[\n  {\n    \"$match\": {\n      \"sessionId\": {\n        \"$eq\": \"{{ $json.owner_data.vat_number }}\"\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"HoneyPot\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -1264,
        656
      ],
      "id": "b0c9480e-0cd8-4e05-825a-53c9dfd3a822",
      "name": "HoneyPot",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "da04c4f2-5349-4013-b1a2-b0d971334780",
              "leftValue": "={{ $json.webhookUrl }}",
              "rightValue": "31f89350-4d7f-44b7-9aaf-e7d9e3655b6c",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1504,
        960
      ],
      "id": "7c927b75-469d-47f5-8242-ea1cd92606cf",
      "name": "Autorize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a91ec12-7575-4fb9-8ee6-28205b0f129c",
              "leftValue": "={{ $json.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        304
      ],
      "id": "34cc31fb-49db-4f53-a928-e178ed032ce9",
      "name": "ErrorCall"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Gllwt1kRS2qIgtg-USUnD",
          "mode": "list",
          "cachedResultUrl": "/workflow/Gllwt1kRS2qIgtg-USUnD",
          "cachedResultName": "GeminiCall"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -32,
        304
      ],
      "id": "2a71dc9a-7f20-474b-a437-aa793a517b73",
      "name": "Call 'Gemini'",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst SECRET_KEY = 'TrinAI-Autorize-Transaction-2=2&'; // La tua chiave segreta\n\n// 1. Recupero del token\nconst rawAsh =\n  item.ash ||\n  item.query?.ash ||\n  item.body?.ash ||\n  item.body?.web_app_data?.data ||\n  item.body?.message?.web_app_data?.data;\n\nif (!rawAsh || typeof rawAsh !== \"string\") {\n  throw new Error(\"ASH non trovato nell'input.\");\n}\n\n// 2. Separazione Payload e Firma\nconst [encodedPayload, signatureReceived] = rawAsh.split(\".\");\n\nif (!encodedPayload || !signatureReceived) {\n  throw new Error(\"Formato ASH non valido.\");\n}\n\n// 3. Decodifica e verifica integrità\nlet decodedPayload;\ntry {\n    decodedPayload = Buffer.from(encodedPayload, \"base64\").toString(\"utf8\");\n} catch (e) {\n    throw new Error(\"Errore decodifica Base64.\");\n}\n\n// --- LOGICA DI VERIFICA FIRMA ---\nfunction verifySignature(payload, secret, receivedSig) {\n    let hash = 0;\n    const combined = payload + secret;\n    for (let i = 0; i < combined.length; i++) {\n        hash = ((hash << 5) - hash) + combined.charCodeAt(i);\n        hash = hash & hash; \n    }\n    const expectedSig = Math.abs(hash).toString(16);\n    return expectedSig === receivedSig;\n}\n\nif (!verifySignature(decodedPayload, SECRET_KEY, signatureReceived)) {\n    // Se la firma non corrisponde, blocchiamo tutto qui!\n    throw new Error(\"SICUREZZA: Firma ASH non valida o manomessa. Accesso negato.\");\n}\n// --------------------------------\n\n// 4. Estrazione ID (Solo se la firma è valida)\nconst parts = decodedPayload.split(\"|\");\n\nreturn [{\n    json: {\n        ...item,\n        ids: {\n            owner_id: parts[0],\n            timestamp: parts[1],\n            webhook: parts[2]\n        }\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1056
      ],
      "id": "e27cb524-c8a9-4ac1-b0ab-1695fb085224",
      "name": "Ash Decoder",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f228857f-e561-46f5-9395-78495429f76c",
              "leftValue": "={{ $json.body._auth }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1248,
        1072
      ],
      "id": "b80b1a1e-30ee-492d-a19a-7e5087bc792e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "aggregate",
        "collection": "owner_sessions",
        "query": "=[\n  {\n    \"$match\": {\n      \"messages.0.data.chat_id\": {\n        \"$eq\": {{ $json.ids.owner_id }}\n      }\n    }\n  },\n  {\n    \"$project\": {\n      \"owner\": {\n        \"$arrayElemAt\": [\"$messages\", 0]\n      },\n      \"_id\": 0\n    }\n  },\n  {\n    \"$project\": {\n      \"owner_data\": \"$owner.data\",\n      \"_id\": 0\n    }\n  }\n]\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -448,
        1056
      ],
      "id": "f62e9cb5-099e-4137-b67f-f50008e95194",
      "name": "owner_data",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "y0Vv5Z0ayk7oyhal",
          "name": "MemoryManager"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d866f6b-8459-4f73-bcf4-2be0c37a3f8a",
              "leftValue": "={{ $json.owner_data }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        1056
      ],
      "id": "0a98aaac-2762-4573-aeb7-32bd4c59ba93",
      "name": "OwnerExist1"
    },
    {
      "parameters": {
        "jsCode": "// --- 1. CONFIGURAZIONE ---\nconst BOT_TOKEN = \"8378810625:AAHK3Zya8qFKD4OzFBbwSTOAGolDeY7jiJQ\";\nconst initData = $input.item.json.body._auth;\n\nif (!initData) return { isValid: false, error: \"Dato _auth mancante\" };\n\n// --- 2. LIBRERIA CRIPTOGRAFICA PURE JS (SHA-256 & HMAC) ---\nconst CryptoJS = (function() {\n    function sha256(m) {\n        var h = [0x6a09e667, 0xbb67ae85, 0x3c6ef372, 0xa54ff53a, 0x510e527f, 0x9b05688c, 0x1f83d9ab, 0x5be0cd19];\n        var k = [0x428a2f98, 0x71374491, 0xb5c0fbcf, 0xe9b5dba5, 0x3956c25b, 0x59f111f1, 0x923f82a4, 0xab1c5ed5, 0xd807aa98, 0x12835b01, 0x243185be, 0x550c7dc3, 0x72be5d74, 0x80deb1fe, 0x9bdc06a7, 0xc19bf174, 0xe49b69c1, 0xefbe4786, 0x0fc19dc6, 0x240ca1cc, 0x2de92c6f, 0x4a7484aa, 0x5cb0a9dc, 0x76f988da, 0x983e5152, 0xa831c66d, 0xb00327c8, 0xbf597fc7, 0xc6e00bf3, 0xd5a79147, 0x06ca6351, 0x14292967, 0x27b70a85, 0x2e1b2138, 0x4d2c6dfc, 0x53380d13, 0x650a7354, 0x766a0abb, 0x81c2c92e, 0x92722c85, 0xa2bfe8a1, 0xa81a664b, 0xc24b8b70, 0xc76c51a3, 0xd192e819, 0xd6990624, 0xf40e3585, 0x106aa070, 0x19a4c116, 0x1e376c08, 0x2748774c, 0x34b0bcb5, 0x391c0cb3, 0x4ed8aa4a, 0x5b9cca4f, 0x682e6ff3, 0x748f82ee, 0x78a5636f, 0x84c87814, 0x8cc70208, 0x90befffa, 0xa4506ceb, 0xbef9a3f7, 0xc67178f2];\n        var b = Array.from(typeof m === 'string' ? new TextEncoder().encode(m) : m);\n        var l = b.length * 8; b.push(0x80);\n        while ((b.length * 8) % 512 !== 448) b.push(0);\n        for (var i = 7; i >= 0; i--) b.push((l / Math.pow(2, i * 8)) & 0xff);\n        for (var i = 0; i < b.length; i += 64) {\n            var w = new Int32Array(64);\n            for (var j = 0; j < 16; j++) w[j] = (b[i + j * 4] << 24) | (b[i + j * 4 + 1] << 16) | (b[i + j * 4 + 2] << 8) | (b[i + j * 4 + 3]);\n            for (var j = 16; j < 64; j++) {\n                var s0 = ((w[j - 15] >>> 7) | (w[j - 15] << 25)) ^ ((w[j - 15] >>> 18) | (w[j - 15] << 14)) ^ (w[j - 15] >>> 3);\n                var s1 = ((w[j - 2] >>> 17) | (w[j - 2] << 15)) ^ ((w[j - 2] >>> 19) | (w[j - 2] << 13)) ^ (w[j - 2] >>> 10);\n                w[j] = (w[j - 16] + s0 + w[j - 7] + s1) | 0;\n            }\n            var [a, c, d, e, f, g, i_h, j_h] = h;\n            var v = [...h];\n            for (var j = 0; j < 64; j++) {\n                var S1 = ((v[4] >>> 6) | (v[4] << 26)) ^ ((v[4] >>> 11) | (v[4] << 21)) ^ ((v[4] >>> 25) | (v[4] << 7));\n                var ch = (v[4] & v[5]) ^ (~v[4] & v[6]);\n                var t1 = (v[7] + S1 + ch + k[j] + w[j]) | 0;\n                var S0 = ((v[0] >>> 2) | (v[0] << 30)) ^ ((v[0] >>> 13) | (v[0] << 19)) ^ ((v[0] >>> 22) | (v[0] << 10));\n                var maj = (v[0] & v[1]) ^ (v[0] & v[2]) ^ (v[1] & v[2]);\n                var t2 = (S0 + maj) | 0;\n                v.unshift((t1 + t2) | 0); v.splice(8); v[4] = (v[4] + t1) | 0;\n            }\n            for (var j = 0; j < 8; j++) h[j] = (h[j] + v[j]) | 0;\n        }\n        return h.reduce((acc, val) => acc.concat([(val >>> 24) & 0xff, (val >>> 16) & 0xff, (val >>> 8) & 0xff, val & 0xff]), []);\n    }\n\n    if (typeof TextEncoder === \"undefined\") {\n        window.TextEncoder = function() {};\n        TextEncoder.prototype.encode = function(s) {\n            return new Uint8Array(unescape(encodeURIComponent(s)).split(\"\").map(c => c.charCodeAt(0)));\n        };\n    }\n\n    return {\n        hmac: function(key, message) {\n            var k = typeof key === 'string' ? Array.from(new TextEncoder().encode(key)) : key;\n            var m = Array.from(new TextEncoder().encode(message));\n            var b = 64;\n            if (k.length > b) k = sha256(k);\n            while (k.length < b) k.push(0);\n            var ipad = k.map(x => x ^ 0x36);\n            var opad = k.map(x => x ^ 0x5c);\n            var inner = sha256(ipad.concat(m));\n            return sha256(opad.concat(inner));\n        }\n    };\n})();\n\n// --- 3. LOGICA PARSING ---\nconst data = {};\ninitData.split('&').forEach(pair => {\n    const [k, v] = pair.split('=');\n    data[k] = decodeURIComponent(v);\n});\n\nconst hashReceived = data.hash;\nconst checkString = Object.keys(data)\n    .filter(k => k !== 'hash')\n    .sort()\n    .map(k => k + '=' + data[k])\n    .join('\\n');\n\n// --- 4. CALCOLO HASH TELEGRAM ---\nconst secretKey = CryptoJS.hmac(\"WebAppData\", BOT_TOKEN);\nconst computedHashBytes = CryptoJS.hmac(secretKey, checkString);\nconst computedHash = computedHashBytes.map(b => b.toString(16).padStart(2, '0')).join('');\n\n// --- 5. CONTROLLO SCADENZA (MAX 1 ORA) ---\nconst now = Math.floor(Date.now() / 1000);\nconst authDate = parseInt(data.auth_date);\nconst isExpired = (now - authDate) > 3600; // Scade dopo 3600 secondi (1 ora)\n\n// --- 6. RISULTATO FINALE ---\nconst isHashValid = (computedHash === hashReceived);\n\nreturn {\n    isValid: isHashValid && !isExpired,\n    isExpired: isExpired,\n    isHashValid: isHashValid,\n    user: data.user ? JSON.parse(data.user) : null,\n    auth_date_human: new Date(authDate * 1000).toLocaleString('it-IT'),\n    debug: {\n        time_diff_seconds: now - authDate,\n        computed: computedHash,\n        received: hashReceived\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -848,
        1328
      ],
      "id": "afb04561-f884-45bb-b270-fa510bdfd454",
      "name": "telegram_validator"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c0743357-f434-4892-bd7b-5847fa15c35c",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        1328
      ],
      "id": "80085efe-9d56-4ee3-bf11-f2b0a00fb882",
      "name": "If3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -624,
        1056
      ],
      "id": "f600f47e-2265-45d1-8ca6-7c73a459f8d3",
      "name": "Merge"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "prod.workflow.trinai.it",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/147.0.0.0 Safari/537.36 Edg/147.0.0.0",
            "content-length": "757",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "it,it-IT;q=0.9,en;q=0.8,en-GB;q=0.7,en-US;q=0.6",
            "content-type": "application/json",
            "origin": "https://trinaibusinessoperatingsystem.github.io",
            "priority": "u=1, i",
            "referer": "https://trinaibusinessoperatingsystem.github.io/",
            "sec-ch-ua": "\"Not.A/Brand\";v=\"8\", \"Microsoft Edge WebView2\";v=\"147\", \"Chromium\";v=\"147\", \"Microsoft Edge\";v=\"147\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "via": "2.0 Caddy",
            "x-forwarded-for": "151.43.229.233",
            "x-forwarded-host": "prod.workflow.trinai.it",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "_auth": "query_id=AAFrba15AAAAAGttrXlwZGCQ&user=%7B%22id%22%3A2041408875%2C%22first_name%22%3A%22Giuseppe%22%2C%22last_name%22%3A%22Garofalo%22%2C%22username%22%3A%22TrinAi_OperativeChief%22%2C%22language_code%22%3A%22it%22%2C%22allows_write_to_pm%22%3Atrue%2C%22photo_url%22%3A%22https%3A%5C%2F%5C%2Ft.me%5C%2Fi%5C%2Fuserpic%5C%2F320%5C%2FvPTjxONkQ6hvO3p2LwlkoZjewgAm1sVh8k7dFYDeczY.svg%22%7D&auth_date=1776921886&signature=MeqMZQ53UqKLELi4MVCe1qct21ZdBl4tEp5G7A5Pi7IRuZ2KP8d8i6rf8vsMohx-7Evf-RhHXW3pGE9S8sonBQ&hash=be388983185d02ee5b5e0023abe01d057bcf4bc44bbe0b36cccc218b2234f1a1",
            "ash": "MjA0MTQwODg3NXwxNzc2OTIxNjY1MjE3fGVmNGFlY2U0LTllYzAtNDAyNi1hN2E3LTMyODU2MmJjYmRmNg==.6a38a0d6",
            "category_id": "CAT_4OF0QVKK",
            "language": "it",
            "ghost_id": "SVC_XHB8M8BL"
          },
          "webhookUrl": "https://prod.workflow.trinai.it/webhook/31f89350-4d7f-44b7-9aaf-e7d9e3655b6c",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Autorize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DraftProduct": {
      "main": [
        [
          {
            "node": "Call 'Gemini'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final_Draft_Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StartDraftProduct": {
      "main": [
        [
          {
            "node": "Call 'Gemini'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enforcer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Final_Draft_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enforcer": {
      "main": [
        [
          {
            "node": "Final_Draft_Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OwnerExist": {
      "main": [
        [
          {
            "node": "Merge22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge22": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Honeypot Exist": {
      "main": [
        [
          {
            "node": "Merge26",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge25",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📤 Telegram Call1": {
      "main": [
        [
          {
            "node": "Merge24",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge24": {
      "main": [
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆘 System Error Collection": {
      "main": [
        [
          {
            "node": "📤 Telegram Call1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge24",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge25": {
      "main": [
        [
          {
            "node": "🆘 System Error Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge26": {
      "main": [
        [
          {
            "node": "service_catalog2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge25",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge26",
            "type": "main",
            "index": 1
          },
          {
            "node": "HoneyPot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "owner2": {
      "main": [
        [
          {
            "node": "OwnerExist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Context Reducer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Catalog  Exist": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🆘 System Error Collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "service_catalog2": {
      "main": [
        [
          {
            "node": "Catalog  Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Context Reducer": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "StartDraftProduct",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DraftProduct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HoneyPot": {
      "main": [
        [
          {
            "node": "Honeypot Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autorize": {
      "main": [
        [
          {
            "node": "Merge22",
            "type": "main",
            "index": 1
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ErrorCall": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LLMFail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Gemini'": {
      "main": [
        [
          {
            "node": "ErrorCall",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Ash Decoder",
            "type": "main",
            "index": 0
          },
          {
            "node": "telegram_validator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "owner2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ash Decoder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "owner_data": {
      "main": [
        [
          {
            "node": "OwnerExist1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OwnerExist1": {
      "main": [
        [
          {
            "node": "Merge22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "telegram_validator": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "500",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "owner_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "061626a5-5491-4a86-86e1-906f2a2178e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce96c1da52854952d6033754b3d632468704a3c149b2a8a301c2b60c112ce7d0"
  },
  "id": "7Cp0fW2um6mCy2AR",
  "tags": []
}